.toggle-menua{border-right:1px solid #d8d8d9}
.header-nav i{margin-right:5px;}
.user-section{padding:30px;}
.user-section h3{margin:0 0 10px 0;}
.user-section{
font-family: 'Lato', sans-serif;
color:#58585a
}
.user-section h3 span{
	font-size:13px;
}
.user-section p{
	font-size:12px;
	color:#a2a1a1;
}
.user-section .progress-user h3{margin-bottom:20px;margin-top:30px;}
.user-section .progress-user h6{
	font-size:11px;
	color:#777777;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
}
.progress-bar1{background:#f69850}
.progress-bar2{background:#58585a}
.progress-bar3{background:#f8b62c}
.color1{color:#f69850;}
.color2{color:#58585a;}
.color3{color:#f8b62c;}

.panel-heading  .btn{
	background:none;
	border:none;
}

.activity-timeline.timeline  .timeline-heading{
	margin-bottom:10px;
}
.activity-timeline.timeline  .timeline-heading h4{
	color:#777777;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:600;
	font-size:13px;
	margin-bottom:0
	
}
.activity-timeline.timeline  .timeline-heading small{
	font-size:10px;
	color:#c5c5c5;
	font-style:italic
}
.activity-timeline.timeline:before,
.activity-timeline.timeline > li > .timeline-panel:after,
.activity-timeline.timeline > li > .timeline-badge{
	left:0
	
}
.activity-timeline.timeline > li.timeline-inverted > .timeline-panel:after,
.activity-timeline.timeline > li.timeline-inverted > .timeline-panel:before,
.activity-timeline.timeline > li > .timeline-panel:before{display:none;}
.activity-timeline.timeline > li > .timeline-panel{
	box-shadow:none;
	width:90%;
	border:none	;
	
}
.activity-timeline.timeline > li > .timeline-panel{padding:0;
font-family: 'Open Sans', sans-serif;
font-weight:600
}

.activity-timeline.timeline > li > .timeline-badge {
  font-size: 10px;
  height: 15px;
  left: -4px;
  line-height: 15px;
  margin: 0;
  width: 15px;
}
.activity-timeline.timeline .timeline-inverted.fade-badge1 .timeline-badge,
.activity-timeline.timeline .timeline-inverted.fade-badge .timeline-badge{
	width: 6px;
	height: 6px;
	left:-2px
}
.activity-timeline.timeline .timeline-inverted.fade-badge {margin-bottom:0px;}
.activity-timeline.timeline .timeline-inverted.fade-badge1 .timeline-badge{
	background:#dedede;
	}
.timeline-inverted.success.s-alert .timeline-badge {background:#e02222}
.timeline-inverted.success .timeline-badge{
	background:#60c251;
	
}
.activity-timeline.timeline .timeline-body span{
color:#f5822a
}
.activity-timeline.timeline .timeline-body p{
	font-size:11px;
	color:#afafaf
}
.activity-timeline.timeline .timeline-body small{
	font-size:10px;
	color:#c5c5c5;
	font-style:italic
}
.btn-group.graphs{
	margin-top:0px;
}
.btn-group.graphs .btn{
font-size:11px;}
.bank-detail h5{margin:10px 0 10px 0 ;padding:0}
.bank-detail ul{text-align:right;padding:0;font-family: 'Lato', sans-serif;font-size:13px;}
.bank-detail ul li{list-style:none;clear:both;margin-top:20px;}
.bank-detail ul label{float:left;font-weight:400}
.connect-ac {
	border-top:1px solid #aeaeae;
	margin-top:25px;
	padding-top:25px
}
.connect-ac .btn{
	background:#e37119;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	font-weight:600;
	padding:7px 15px;
	border-radius:5px;
	
}
.activity-timeline.timeline .success.s-alert .timeline-body span{color:#e02222 ;}
.activity-timeline.timeline .success .timeline-body span{color:#60c251 ;}
 .navbar-default.sidebar{
	left:0;
	-webkit-transition: 1s; /* Safari */
    transition:  1s;

}
.side-barshow .navbar-default.sidebar{
	left:-290px
}
.side-barshow #page-wrapper{
	-webkit-transition: 1s; /* Safari */
    transition:  1s;
	margin-left:0px;
}
#page-wrapper {
	-webkit-transition: 1s; /* Safari */ 
    transition:  1s;
	margin-left:0px;
}
.more-links{
	background:#f5822a;

}
/*
.more-links a{padding:16px 15px !important}*/
.more-links.dropdown a.dropdown-toggle:hover,
.more-links.dropdown.open a.dropdown-toggle{
	background:#e5721a !important
	
}
.more-links a i{color:#fff;font-size: 18px;}
.copyright{color:#fff;font-size:12px;padding:7px;}

#mega-drop.rotate i{
    transform: rotateZ(225deg);
	-webkit-transition: 1s; /* Safari */
    transition:  1s;
}
#mega-drop i{
    transform: rotateZ(0deg);
	-webkit-transition: 1s; /* Safari */
    transition:  1s;
	margin:0
}
.dropdown-menu.mega-dropdown {
  border-top: 4px solid #f69850;
  min-width: 514px;
  padding-top: 0;
}

.mega-dropdown .list-istem.row li {
  list-style: inside none disc;
  width: 33%;
}
.mega-dropdown .list-istem.row li a{
  padding:0
}
.dropdown-menu.mega-dropdown li{list-style:none;padding-left:10px;margin-top:10px;margin-bottom:10px;}
.user-profile .dropdown-toggle > img {
  margin-right: 7px;
  width: 20px;
}
@media only screen and ( max-width:768px ){
	.navbar-right.header-nav{
		display:none
	}
}
@media only screen and ( max-width:767px ){
.navbar-default.sidebar {
    background: rgb(88,88,90);
    position: absolute;
    width: 265px;
    z-index: 1;
	left:-300px;
}
.side-barshow .navbar-default.sidebar {
    left: 0px;
}
.side-barshow #page-wrapper {
    margin-left: 266px;
}
nav.navbar   li{display:none;}
nav.navbar   li:first-child {
  display: inherit;
  position: absolute;
  right: 5px;
  top: 7px;
}
}

.cancel i {
	color: #f5822a;
	font-size: 23px;
	cursor: pointer;
	margin-top: 5px;
}

.client-list {
	background: #fcfcfc none repeat scroll 0 0;
	border: 1px solid #efefef;
	padding: 15px 15px 15px;
	margin-bottom: 20px;
	font-size: 15px;
}

.btn-group-line-seperator
{
  border-right: 3px solid #ccc;
}
.button-cross
{
  margin: 12px;
}
.padding-left-offset
{
  padding-left: 20px;
}
.balanceSheet hr
{
  margin-top: 10px !important;
  margin-bottom: 10px !important; 
}
.balanceSheet
{
  box-shadow: none !important;
  margin: 0 auto;
  width: 60%
}
.taxReport
{
	box-shadow: none !important;
  	margin: 0 auto;
  	width: 85%
}
.taxReport hr
{
  margin-top: 10px !important;
  margin-bottom: 10px !important; 
}
.reports-submit-button
{
  width: 10%;
  margin-top: 25px;
}
.reports-submit-button button
{
	border-radius: 5px;
}
.reports-submit-button label
{
  color: #E5721A;
}
.custom-table
{
  width: 54%;
  margin: 0 auto;
}
.custom-panel-head{
 padding: 10px 15px !important; 
 margin-bottom: 20px;
}
.custom-panel-head h3
{
  margin-top: 4px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #515151;
}
.custom-form-group
{
  margin-bottom: 0px;
  margin-top: 5px;
}
.custom-salesByItem-table
{
  margin: 0 auto;
  width: 64%;
}
.custom-panel-head a
{
  color: #E5721A;
  margin-left: 2px;
}
.custom-jounral-report-table
{
  width: 84%;
  margin: auto;
}
.print-button
{
	padding: 12px;
}
.sub-content{
	margin-left: 50px;
}
.reports-radio-button
{
	margin-top: 25px;
	margin-left: 25px;
}
.trail { padding-top:20px;}
.custom-btn
{
	border: 1px solid #0099cc !important;
    border-radius: 5px;
}
.report_link
{
	text-transform: none;
	padding-right: 10px;
}
.export-btn
{
	margin-top: -23px !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.custom-input-text, .check-box .ng-datepicker-input{
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor currentcolor #000;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #000;
    padding-left: 0;
     background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
.check-box .form-control:focus
{
	border-color: none !important;
	box-shadow: none !important;
}
.check-box select.form-control + .chosen-container.chosen-container-single .chosen-single
{
	border-style: none none solid !important;
	box-shadow: none !important;
	border-color: currentcolor currentcolor #000 !important;
	border-radius: 0 !important;
	background: #C7F5DB !important;
}
.account-box select.form-control + .chosen-container.chosen-container-single .chosen-single
{
	border-style: none none solid !important;
	box-shadow: none !important;
	border-color: currentcolor currentcolor #000 !important;
	border-radius: 0 !important;
}
.account-box .form-control:focus
{
	border-color: none !important;
	box-shadow: none !important;
}
.account-box > .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
{
	padding: 0px 8px;
}
.check-box td{
	border-top: none !important;
}