<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="cpaReportsCtrl">
    <div class="row">
        <div class="col-md-12" ng-init="getAgedPayables()">
            <section class="panel panel-default">
                <div class="panel-heading expenses custom-panel-head col-lg-12">
                    <div class="col-lg-4">
                        <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/cpa/reports/{{ businessProfileId }}">Report list</a></span><h3>Aged Payables Report</h3>
                    </div>
                    <div class="pull-right print-button">
                        <!--  <a href="#" class="btn orange-btn" onclick="window.print();return false;">Print this page</a> -->
                        <div class="btn-group">
                            <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                Export
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a target="_blank" href="{{ agedPayablesPdfPath }}">As PDF</a></li>
                                <li><a href="{{ agedPayablesCsvPath }}">As Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                    <h4 class="text-center"> Aged Payables Report</h4>
                    <div class="expenses">
                        <div class="table-responsive">
                            <table class="table table-bordered custom-salesByItem-table">
                                <thead class="">
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th><span class="pull-right">{{ currentMonth }}</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="data in agedPayables">
                                    <td>{{ data.date }}</td>
                                    <td>
                                        <a target="_blank" ng-show="data.type == 'Expense'" href="#/expenses/view/{{ data.id }}">{{ data.type }}</a>
                                        <a target="_blank" ng-show="data.type == 'Journal'" href="#/journal_details/{{ data.id }}">{{ data.type }}</a>
                                    </td>
                                    <td>{{ data.vendor }}</td>
                                    <td><span class="pull-right"></span>{{ data.total | number:2 }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Total Payables</strong></td>
                                    <td><span class="pull-right"><strong>${{ totalPayables | number:2 }}</strong></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- <div class="" ng-show="agedPayables.length == 0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div> -->
            </section>
        </div>
    </div>
</div>