<div id="page-wrapper" ng-controller="cpaCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h2>Your <span class="orange">Clients </span>
                    <button type="button" class="btn btn-success btn-md pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Invite Client</button>
                </h2>
                <hr />
                <div ng-show="main.alert" class="alert alert-success">
                    {{main.alert}}
                </div>
                <div class="row" ng-init="getAllCpaUsers()">
                    <div class="col-md-6">
                        <div class="client-list">
                            <h4 class="orange">{{ invitedByUser.businessProfile.name }}
                                <a class="cancel pull-right" href="javascript:;"><i class="fa fa-close" aria-hidden="true"></i> Remove Client</a>
                            </h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <p>{{ invitedByUser.firstName }} {{ invitedByUser.lastName }}</p>
                                    <p>{{ invitedByUser.email }}</p>
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Access Account <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:;">Export Journal Entries</a></li>
                                            <li><a href="#/cpa/reports/{{ invitedByUser.businessProfile.id }}">View Reports</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-md-6"  ng-repeat="cpaUser in invitedByCpa">
                        <div class="client-list" ng-show="cpaUser.status == 'ACTIVE'">
                            <h4 class="orange">{{ cpaUser.user.businessProfile.name }}
                                <a class="cancel pull-right" href="javascript:;"><i class="fa fa-close" aria-hidden="true"></i> Remove Client</a>
                            </h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <p>{{ cpaUser.user.firstName }} {{ cpaUser.user.lastName }}</p>
                                    <p>{{ cpaUser.user.email }}</p>
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Access Account <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:;">Export Journal Entries</a></li>
                                            <li><a href="#/cpa/reports/{{ cpaUser.user.businessProfile.id }}">View Reports</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="client-list" ng-show="cpaUser.status == 'PENDING'">
                            <h4 class="orange">{{ cpaUser.email }}<a class="cancel pull-right" href="#"><i class="fa fa-close" aria-hidden="true"></i> Remove Client</a></h4>
                            <hr />
                            <a class="not-subscribe">
                                <div class="alert alert-danger">
                                    <p>Your client hasn't accepted your invitation yet </p>
                                </div>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form role="form" data-ng-model="inviteUser">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-titlie">Send Invitation</h4>
                </div>
                <div class="modal-body username" style="padding-top:10px">
                    <h4><b>Subject</b>: {{ globals.currentUser.username }} has invited you to connect using SpeedyBooks</h4>
                    <div class="inviteusermail">
                        <div class="form-group">
                            <label class="control-label">Client's Email:</label>
                            <input type="text" class="form-control" required data-ng-model="inviteUser.email" placeholder="Email">
                            <span class="error" ng-show="emailAddress">Please enter valid email address</span>
                        </div>
                        <p class="username"> {{ globals.currentUser.username }} from <span class="company"> {{ globals.currentUser.businessName }} </span> has invited you to connect using SpeedyBooks to painlessly send invoices, track time, and capture expenses. Accept this invitation to make collaborating with your Accountant easy by giving them access to your SpeedyBooks Reports. </p>
                        <textarea class="form-control" rows="4" required data-ng-model="inviteUser.message"></textarea>
                    </div>
                    <div class="form-group ol-md-2 text-center">
                        <div class="clearfix col-sm-12"><br></div>
                        <button type="submit" ng-click="addNewInviteUser()" class="btn btn-default orange-btn col-sm-4 col-sm-offset-4">Submit</button>
                    </div>
                    <div class="clearfix">
                        <br />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>