<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reportsCtrl">
    <div class="row" ng-show="generalLedgerReport == 0">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses col-lg-12 custom-panel-head">
                    <div class="col-lg-4">
                        <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/cpa/reports/{{ businessProfileId }}">Report list</a></span><h3>General Ledger Report</h3>
                    </div>
                </div>

                <div class="panel-body">
                    <form role="form" data-ng-model="generalLedger">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group custom-form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="1" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="generalLedger.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="generalLedger.to" id="to"></ng-datepicker>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="generalLedger.basis" value="cash">Cash</label>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="generalLedger.basis" value="accrual">Accrual</label>
                            </div>
                            <div class="form-group col-sm-6 reports-submit-button">
                                <div class="col-sm-6">
                                    <button type="submit" tabindex="4"  ng-click="getGeneralLedger()" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="generalLedgerShow == 1">
                <div ng-show="generalLedgerData.length !=0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="{{ generalLedgerPdfPath }}">As PDF</a></li>
                                    <li><a href="{{ generalLedgerCsvPath }}">As Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> General Ledger Report</h4>
                        <h3 class="text-center">{{ generalLedgerDate.from }} - {{ generalLedgerDate.to }}</h3>
                        <table class="table table-bordered table-striped custom-salesByItem-table">
                            <thead>
                            <tr>
                                <th>Account</th>
                                <th><span class="pull-right">Debit</span></th>
                                <th><span class="pull-right">Credit</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="generalLedgerData.length == 0">
                                <td colspan="8">No Record Found</td>
                            </tr>
                            <tr ng-repeat="data in generalLedgerData">
                                <td><a href="javascript:;" ng-click="getLedgerDetails(data.name)">{{ data.name }}</a></td>
                                <td><span class="pull-right">{{ data.debit | number:2 }}</span></td>
                                <td><span class="pull-right">{{ data.credit | number:2 }}</span></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th id="total"><strong>Total :</strong></th>
                                <th><span class="pull-right"><strong>${{ totalDebit | number:2 }}</strong></span></th>
                                <th><span class="pull-right"><strong>${{ totalCredit | number:2 }}</strong></span></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="" ng-show="generalLedgerData.length ==0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" ng-show="generalLedgerShowDetails == 1">
                <section class="panel panel-default">
                    <div class="panel-heading text-uppercase expenses col-lg-12 custom-panel-head">
                        <div class="col-lg-12">
                            <i class="fa fa-angle-left" aria-hidden="true"></i><span class="report_link"> <a href="#/reports">Report list</a></span><i class="fa fa-angle-left" aria-hidden="true"></i><span class="report_link"> <a href="javascript:;" ng-click="generalReportback()">General Ledger Report</a></span><h3>{{ accountType }} Details</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> {{ accountType }} Details</h4>
                        <h3 class="text-center">{{ generalLedgerDate.from }} - {{ generalLedgerDate.to }}</h3>
                        <div class="expenses">
                            <div class="table-responsive">
                                <table class="table table-bordered ">
                                    <thead class="">
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Account</th>
                                        <th><span class="pull-right">Debit</span></th>
                                        <th><span class="pull-right">Credit</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="data in generalLedgerList">
                                        <td>{{ data.date }}</td>
                                        <td>
                                            <a href="#/invoice_details/{{ data.id }}" target="_blank"><span ng-show="data.type == 'INVOICE'"> Payment</span></a>
                                            <a href="#/expenses/view/{{ data.id }}" target="_blank"><span ng-show="data.type == 'EXPENSE'"> Expense</span></a>
                                        </td>
                                        <td>
                                            <span ng-show="data.type == 'INVOICE'">{{ data.no }}</span>
                                        </td>
                                        <td>
                                            <span ng-show="data.type == 'INVOICE'">{{ data.name }}</span>
                                            <span ng-show="data.type == 'EXPENSE'">{{ data.name }}</span>
                                        </td>
                                        <td>{{ data.account }}</td>
                                        <td>
                                            <span ng-show="data.type == 'EXPENSE'" class="pull-right">{{ data.debit | number:2 }}</span>
                                        </td>
                                        <td><span ng-show="data.type == 'INVOICE'" class="pull-right">{{ data.credit | number:2 }}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><strong>Total</strong></td>
                                        <td><strong class="pull-right">${{ debitTotal | number:2}}</strong></td>
                                        <td><strong class="pull-right">${{ creditTotal | number:2 }}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>