<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="cpaReportsCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading custom-panel-head"><i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/cpa/reports/{{ businessProfileId }}">Report list</a></span><h3>Sale By Items</h3></div>
                <div class="panel-body" style="padding: 5px 15px">
                    <form role="form" data-ng-model="items">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12 custom-form-group">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="7" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="items.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="7" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="items.to" id="to"></ng-datepicker>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="items.basis" value="cash">Cash</label>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="items.basis" value="accrual">Accrual</label>
                            </div>
                            <div class="form-group col-sm-6 reports-submit-button">
                                <div class="col-sm-6">
                                    <button type="submit" tabindex="27"  ng-click="saleByItems()" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="salebyItemsShow == 1">
                <div ng-show="salebyItemsData.length !=0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="{{ salesbyItemReportPath }}">As PDF</a></li>
                                    <li><a href="{{ salesbyItemCsvPath }}">As Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> Sales By Items Report</h4>
                        <h3 class="text-center">{{ salesItemsDate.from }} - {{ salesItemsDate.to }}</h3>
                        <table class="table table-bordered table-striped custom-salesByItem-table">
                            <thead>
                            <tr>
                                <th>Items</th>
                                <th>Current Unit Price</th>
                                <th>Quantity Sold</th>
                                <th><span class="pull-right">Total</span></th>
                                <th><span class="pull-right">Average</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="salebyItemsData.length == 0">
                                <td colspan="5">No Record Found</td>
                            </tr>
                            <tr ng-repeat="item in salebyItemsData">
                                <td>{{ item.name_code }}</td>
                                <td>{{ item.current_price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td><span class="pull-right">{{ item.total | number:2 }}</span></td>
                                <td><span class="pull-right">{{ item.total / item.quantity | number : 2 }}</span></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th id="total" colspan="3">Total :</th>
                                <td><strong class="pull-right">${{ salebyItemsTotal |number:2 }}</strong></td>
                                <td><strong class="pull-right">${{ salebyItemsAverage | number : 2 }}</strong> </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="" ng-show="salebyItemsData.length ==0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>
</div>