<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
<div class="row">
<div class="col-md-12">
<div class="row">
<div class="page">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <form role="form" data-ng-model="payroll" class="form-horizontal">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="payFrequency">Pay Frequency</label>
                                <select class="form-control" tabindex="1" data-ng-model="payroll.payFrequency" id="payFrequency" placeholder="Pay Frequency">
                                    <option value= "">Select</option>
                                    <option value= "Weekly">Weekly</option>
                                    <option value= "Every 2 Weeks">Every 2 weeks</option>
                                    <option value= "Monthly">Monthly</option>
                                    <option value= "Custom">Custom</option>
                                </select>
                                <span class="error">{{main.error_message.payFrequency_error}}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="periodFrom">From</label>
                                <ng-datepicker  tabindex="2" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="payroll.periodFrom" id="periodFrom"></ng-datepicker>
                                <span class="error">{{main.error_message.periodFrom_error}}</span>
                            </div>

                            <div class="col-sm-6">
                                <label for="periodTo">To</label>
                                <ng-datepicker  tabindex="3" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="payroll.periodTo" id="periodTo"></ng-datepicker>
                                <span class="error">{{main.error_message.periodTo_error}}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="paymentDate">Payment Date</label>
                                <ng-datepicker  tabindex="4" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="payroll.paymentDate" id="paymentDate"></ng-datepicker>
                                <span class="error">{{main.error_message.paymentDate_error}}</span>
                            </div>
                        </div>


                        <div class="panel-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th style="width:40%">Item</th>
                                    <th style="width:20%">Description</th>
                                    <th style="width:20%">Quantity</th>
                                    <th style="width:20%">Unit Price</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <script type="text/ng-template" id="addItemPopup.html">
                                    <section data-ng-include=" 'views/items/add_new_pay_item.html' " ></section>
                                </script>
                                <tr ng-repeat="item in item_list">
                                    <td>
                                        <div ng-controller="itemCtrl" class="form-group" style="margin-left: 10px;">
                                            <div class="input-group">
                                            <span ng-click="openPayItem()" style="border: 1px #ccc solid; border-radius: 4px; cursor: pointer" class="input-group-addon">
                                                <span title="Add new Item" class="glyphicon glyphicon-plus"></span>
                                            </span>
                                                <select  tabindex="5" ng-click="label.click" chosen data-ng-model="item.business_pay_item_id" class="form-control col-sm-8" ng-options="label.id as label.name for label in payItems">
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td><input  class="form-control" tabindex="6" type="text" ng-model="item.description" /></td>
                                    <td><input  class="form-control" tabindex="7" ng-change="calculateAmount(item)" type="number" ng-model="item.quantity" /></td>
                                    <td><input  class="form-control" tabindex="8" ng-change="calculateAmount(item)" type="text" ng-model="item.price" /></td>
                                    <td>{{item.amount}}</td>
                                    <td>
                                        <input type="checkbox" tabindex="9" ng-model="item.selected"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="form-group col-sm-12">
                                <input ng-hide="!item_list.length" type="button" tabindex="10" class="btn btn-danger" ng-click="remove()" value="Remove">
                                <input type="submit" ng-click="addNew()" tabindex="11" class="btn btn-primary addnew" value="Add New">
                            </div>
                        </div>

                        <!-- List group -->
                        <div class=" col-sm-12">
                            <div class="panel col-sm-6">
                                <div class="panel-heading">
                                    <strong><span class="glyphicon glyphicon-th"></span> Notes</strong>
                                </div>
                                <table class="table table-bordered table-striped">
                                    <tr ng-repeat="notes in payroll.notes">
                                        <td>{{notes.Note_no}}.</td>
                                        <td><input  class="form-control" tabindex="12" type="text" ng-model="notes.Notes" /></td>
                                    </tr>
                                </table>
                                <div class="form-group">
                                    <input type="submit" ng-click="addNewNotes()" tabindex="13" class="btn btn-primary addnew" value="Add New">
                                </div>
                            </div>
                            <!-- end List group -->
                            <div class="panel col-sm-6">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <td>
                                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Total Tax</strong></div>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <input  class="form-control" tabindex="14" ng-change="calculateTotalAmount()" type="number" ng-model="payroll.tax" />
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Total Amount</strong></div>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    Total Amount : ${{payroll.totalAmount}}
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-show="payroll.sendEmailTo.length" class="col-sm-12">
                            <div class="panel col-sm-12">
                                <div class="panel-heading">
                                    <strong><span class="glyphicon glyphicon-th"></span> Enter Email</strong>
                                </div>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <td>
                                            <input class="form-control" tabindex="15" type="text" ng-model="payroll.sendEmailTo" />
                                            <span class="error">{{main.error_message.sendEmailTo_error}}</span>

                                        </td>
                                        <td>
                                            <button type="submit" tabindex="16"  ng-click="savePayroll();" class="btn btn-primary btn-danger">Send</button>
                                        </td>
                                        <td>
                                            <button type="submit" tabindex="17"  ng-click="cancelEmail();" class="btn btn-dark">Cancel</button>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- end List group -->
                        <div ng-show="!payroll.sendEmailTo.length">
                            <button type="submit" tabindex="18"  ng-click="sendEmail();" class="btn btn-primary btn-danger">Send</button>
                            <button type="submit" tabindex="19"  ng-click="cancel();" class="btn btn-dark">Discard</button>
                            <button type="submit" tabindex="20"  ng-click="savePayroll();" class="btn btn-primary">Draft</button>
                            <button type="submit" tabindex="21"  ng-click="approve();" class="btn btn-primary btn-success">Approve</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>