<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="page">
                    <div class="row">
                        <div class="col-md-12" ng-init="getEmployeeDetails()">
                            <section class="panel panel-default">
                                <div class="panel-heading expenses">
                                    <strong><span class="glyphicon glyphicon-th"></span><a href="#/payroll"> Payroll</a></strong> <span class="padding-left-offset">Employee Details</span>
                                </div>
                                <div class="panel-body">
                                    <legend>Personal Details</legend>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="employeeNo">Employee No</label><br />
                                            <span id="employeeNo">{{ employee.employement_no }}</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="employeeName">Employee Name</label><br />
                                            <span id="employeeName">{{ employee.name }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="dateOfBirth">Date of Birth</label><br />
                                            <span id="dateOfBirth">{{ employee.date_of_birth }}</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="type">Employment Type</label><br />
                                            <span id="type">{{ employee.type }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="dateOfJoining">Date of Joining</label><br />
                                            <span id="dateOfJoining">{{ employee.date_of_joining }}</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="gender">Gender</label><br />
                                            <span id="gender">{{ employee.gender }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="bloodGroup">Blood Group</label><br />
                                            <span id="bloodGroup">{{ employee.blood_group }}</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="maritalStatus">Marital Status</label><br />
                                            <span id="maritalStatus">{{ employee.marital_status }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="address">Address</label><br />
                                            <span id="address">{{ employee.address }}</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="landlineNo">Landline No</label><br />
                                            <span id="landlineNo">{{ employee.landline_no }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="mobileNo">Mobile No</label><br />
                                            <span id="mobileNo">{{ employee.mobile_no }}</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="email">Email</label><br />
                                            <span id="email">{{ employee.email }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="is_terminated">Is Terminated</label><br />
                                            <span id="is_terminated" ng-if="employee.is_terminated == 1">True</span>
                                            <span id="is_terminate" ng-if="employee.is_terminated == 0">False</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12" ng-show="employee.is_terminated == 1">
                                        <div class="col-sm-6">
                                            <label for="last_working_day">Last Working Day</label><br />
                                            <span id="last_working_day">{{ employee.last_working_day }}</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="description">Reason of Termination</label><br />
                                            <span id="description">{{ employee.description }}</span>
                                        </div>
                                    </div>

                                    <legend>Emergency Contact Details</legend>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="contactName">Contact Name</label><br />
                                            <span id="contactName">{{ employee.contact_name }}</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="contactMobileNo">Contact Mobile No</label><br />
                                            <span id="contactMobileNo">{{ employee.contact_mobile_no }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="relationEmployee">Relation with Employee</label><br />
                                            <span id="relationEmployee">{{ employee.contact_relation }}</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>