<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
	<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="page">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel panel-default">
                                <div class="panel-heading expenses">
                                    <strong>
                                        <span class="glyphicon glyphicon-th"></span><a href="#/PayItems"> PayItem list</a>
                                        <span class="padding-left-offset">Manage pay item</span>
                                    </strong>                                    
                                </div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-2">
                                            <label for="name">Name</label><br />
                                        </div>
                                        <div class="col-sm-10"><span id="name"></span></div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-2">
                                            <label for="description">Description</label>
                                        </div>
                                        <div class="col-sm-10">
                                        	<span id="description"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-2">
                                            <label for="payitemtype">Pay itme type</label>
                                        </div>
                                        <div class="col-sm-10">
                                        	<span id="account"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-2">
                                            <label for="account">Account</label>
                                        </div>
                                        <div class="col-sm-10">
                                        	<span id="account"></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>