<h4>Paychecks</h4>
<div class="page">
    <div class="row">
        <div class="col-md-12" ng-init="inviteUserPermissionShowHide(userPermission)">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Pay Period</th>
                    <th>Pay Date</th>
                    <th>Employee</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="paychecks_list.length == 0">
                    <td colspan="6">No Record Found</td>
                </tr>
                <tr ng-show="paychecks_list.length > 0" ng-repeat="paycheck in paychecks_list">
                    <td>{{ paycheck.pay_period_from }} - {{ paycheck.pay_period_to }}</td>
                    <td>{{ paycheck.payment_date }}</td>
                    <td>{{ paycheck.employee[0].name }}</td>
                    <td>{{ paycheck.amount }}</td>
                    <td>{{ paycheck.status }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#/paychecks_details/{{paycheck.id}}">View</a></li>
                                <li ng-show="userPermission == null || userPermission.cpa_permission == 1"><a href="#" ng-click="delete(paycheck.id)">Delete</a></li>
                                <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) && paycheck.status != 'DRAFT'">
                                    <a href="javascript:;" ng-click="resendPopup(paycheck.id)">Resend</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="sendEmail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form role="form" data-ng-model="payroll">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelEmail();">&times;</button>
                    <h4 class="modal-title">Send Email</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Email :</label>
                            <input type="email" class="form-control" ng-model="payroll.sendEmailTo" placeholder="Enter Email">
                            <span ng-show="emailError" class="error">Please enter a valid email address</span>
                        </div>
                        <div class="form-group col-md-12 text-center">
                            <div class="clearfix"><hr /></div>
                            <button type="submit" class="btn btn-gray pull-right" ng-click="cancelEmail();">Cancel</button>
                            <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="sendEmail();" >Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>