<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="inviteUserPermissionShowHide(userPermission);">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Payroll</h3>
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                     <a href="#/SetDates" ng-show="userPermission == null || userPermission.cpa_permission == 1" tabindex="1" class="btn btn-primary btn-danger">Run New Pay</a>
                                     <a href="#/PayItems" ng-show="userPermission == null || userPermission.cpa_permission == 1" tabindex="2" class="btn btn-primary">Manage Pay Items</a>
                                    <button ng-show="userPermission == null || userPermission.cpa_permission == 1" tabindex="8" ng-click="openAddEmployeePopup()" class="btn btn-success">Add Employee</button>
                                </div>
                                <script type="text/ng-template" id="addEmployee.html">
                                    <section data-ng-include=" 'views/payroll/add_employee.html' " ></section>
                                </script>
                             </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <section class="panel panel-box">
                                        <div class="col-md-12"></br>
                                            <!-- <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Chart Section </h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div data-flot-chart
                                                         data-data="barChart.data"
                                                         data-options="barChart.options"
                                                         style="width: 100%; height: 100px;"
                                                         ></div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <section data-ng-include=" 'views/payroll/paychecks.html' " ></section>
                            <section data-ng-include=" 'views/payroll/employee_list.html' " ></section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>