<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="chequeCtrl">
    <div class="row">
        <div class="col-md-12" ng-init="getChequeDetails()">
            <section class="panel panel-default">
                <div class="panel-heading expenses"><strong><span class="glyphicon glyphicon-th"></span> <a href="#/check"> Check List</a><span class="padding-left-offset">Check Details</span></strong>
                <button type="button" class="btn orange-btn pull-right" id="print" onclick="printDiv()">Print</button>
                </div>
                <div class="panel-body" id="printCheck">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label for="cheque_no">Check No.</label><br />
                            <span id="cheque_no">{{ chequeDetail.cheque_no }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="date">Payee</label><br />
                            <span id="date">{{ chequeDetail.vendor.first_name }} {{ chequeDetail.vendor.last_name }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="paidFrom">Paid From</label><br />
                            <span id="paidFrom">{{ chequeDetail.account.name }}</span>
                        </div>
                    </div>

                    <legend>Check Details</legend>
                    <div class="form-group col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Account</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ chequeDetail.description }}</td>
                                <td>{{ chequeDetail.item_account_name }}</td>
                                <td>${{ chequeDetail.amount }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"><strong>Total</strong></td>
                                    <td><strong>${{ chequeDetail.amount }}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
function printDiv() 
{
    var innerContents = document.getElementById('printCheck').innerHTML;
    var popupWinindow = window.open('', '_blank', 'width=800,height=700,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
    popupWinindow.document.open();
    popupWinindow.document.write('<html><head><link rel="stylesheet" type="text/css" href="css/dashboard/bootstrap.min.css" /><link rel="stylesheet" type="text/css" href="css/dashboard/style.css" /></head><body onload="window.print()"><h2 class="text-center">Check Details</h2><div class="container">' + innerContents + '</div></body></html>');
    popupWinindow.document.close();

}
</script>