body { margin:0; padding:0; width:100%; max-width:100%; background:#fff; font-family:"MS Serif", "New York", serif;}
.wrap { margin:0 auto; padding:0; width:100%; max-width:100%; height:auto; position:relative;}
a { text-decoration:none;}
.clear { clear:both;}
header { width:100%; margin:0; padding:0; max-width:100%; text-align:left; float:left;}
.top-left { width:20%; float:left; padding-left:80px; padding-top:10px;}
.top-left a img { max-width:100%;}
.top-right { float:right; width:30%; text-align:right; padding-top:15px; padding-right:80px;}
.top-right ul li { display:inline; padding-left:10px;}
.help a { background:none !important; color:#000 !important;}
.top-right ul li a { color:#fff; display:inline; padding:8px 12px; background:#f5822a; border-radius:5px; font-weight:bold; text-decoration:none;  font-size:20px;}
.orange { color:#fff;}
.backside { width:100%; padding:0; background:#444; height:450px; position:relative;}
.backside h1 { margin:0 auto; color:#fff; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; width:100%; font-size:44px; padding-top:43px;}
.backside p { margin:0 auto; width:52%; color:#fff; text-align:center;}
.invoice { color:#000; text-transform:uppercase; font-size:24px; float:left;}
.center { text-align:center;}
.table1 { margin-top:20px !important;}
.background { background:none;}

.wrapper {
  box-sizing: border-box;
  height: 11in;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5in;
  width: 10.5in;
  position:absolute;
  top:38%;
  left:15%;
}
.wrapper {
  background: #FFF;
  border-radius: 1px;
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}


*[contenteditable] {
  border-radius: 0.25em;
  min-width: 1em;
  outline: 0;
}

*[contenteditable] {
  cursor: pointer;
}

*[contenteditable]:hover,
*[contenteditable]:focus,
td:hover *[contenteditable],
td:focus *[contenteditable],
img.hover {
  background: #DEF;
  box-shadow: 0 0 1em 0.5em #DEF;
}

span[contenteditable] {
  display: inline-block;
}


/* heading */

h1 {
  font: bold 100% sans-serif;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  font-size:47px;
  color:#f5822a;
  
}


/* table */

table {
  font-size: 90%;
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
}

th,
td {
  border-width: 1px;
  padding: 0.5em;
  position: relative;
  text-align: left;
}

th,
td {
  /*--border-radius: 0.25em;
  border-style: solid;--*/
}

th {
  background: #EEE;
  border-color: #BBB;
}

td {
  border-color: #DDD;
}




article,
article address,
table.meta,
table.inventory {
  margin: 0 0 3em;
}

article:after {
  clear: both;
  content: "";
  display: table;
}

article h1 {
  clip: rect(0 0 0 0);
  position: absolute;
}

article address {
  float: left;
  font-size: 187%;
  font-weight: bold;
  font-family:-moz-fixed;
  font-style:normal;
}

.gap { font-family:monospace; font-size:70%; font-weight:normal; line-height:20%;}
/* table meta & balance */

table.meta,
table.balance {
  float: right;
  width: 36%;
}

table.meta:after,
table.balance:after {
  clear: both;
  content: "";
  display: table;
}

.balance { margin-top:25px;}
/* table meta */

table.meta th {
  width: 70%;
}

table.meta td {
  width: 60%;
}


/* table items */

table.inventory {
  clear: both;
  width: 100%;
}

table.inventory th {
  font-weight: bold;
  text-align: center;
}

table.inventory td:nth-child(1) {
  width: 26%;
}

table.inventory td:nth-child(2) {
  width: 38%;
}

table.inventory td:nth-child(3) {
  
  width: 12%;
}

table.inventory td:nth-child(4) {
  
  width: 12%;
}

table.inventory td:nth-child(5) {
 
  width: 12%;
}


/* table balance */

table.balance th,
table.balance td {
  width: 50%;
}

table.balance td {
  text-align: right;
}


/* aside */

aside h1 {
  border: none;
  border-width: 0 0 1px;
  margin: 0 0 1em;
}

aside h1 {
  border-color: #999;
  border-bottom-style: solid;
}


/* javascript */

.add,
.cut {
  border-width: 1px;
  display: block;
  font-size: .8rem;
  padding: 0.25em 0.5em;
  float: left;
  text-align: center;
  width: 0.6em;
}

.add,
.cut {
  background: #9AF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
  background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
  border-radius: 0.5em;
  border-color: #0076A3;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.333);
}

.add {
  margin: -2.5em 0 0;
}

.add:hover {
  background: #00ADEE;
}

.cut {
  opacity: 0;
  position: absolute;
  top: 0;
  left: -1.5em;
}

.cut {
  -webkit-transition: opacity 100ms ease-in;
}

.clear { clear:both;}

tr:hover .cut {
  opacity: 1;
}


@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
  html {
    background: none;
    padding: 0;
  }
  .wrapper {
    box-shadow: none;
    margin: 0;
  }
  span:empty {
    display: none;
  }
  .add,
  .cut {
    display: none;
  }
}

@page {
  margin: 0;
}





















