<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="accountCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
                <div class="panel-heading text-uppercase expenses"> Accounts
                    <div class="pull-right">
                        <a href="javascript:;"  data-toggle="modal" data-target="#accountForm" class="btn orange-btn">Add Accounts</a>
                    </div>
                </div>
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="search"
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-4 col-xs-6 filter-result-info">
                            <span>
                                Showing {{filteredStores.length}}/{{accounts.length}} entries
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th><div class="th">
                            Code
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('code') "
                                  data-ng-class="{active: row == 'code'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-code') "
                                  data-ng-class="{active: row == '-code'}"></span>
                        </div></th>
                        <th><div class="th">
                            Account Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('name') "
                                  data-ng-class="{active: row == 'name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-name') "
                                  data-ng-class="{active: row == '-name'}"></span>
                        </div></th>
                        <th><div class="th">
                            Detail type
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('detail_type') "
                                  data-ng-class="{active: row == 'detail_type'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-detail_type') "
                                  data-ng-class="{active: row == '-detail_type'}"></span>
                        </div></th>
                        <th><div class="th">
                            type
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('type') "
                                  data-ng-class="{active: row == 'type'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-type') "
                                  data-ng-class="{active: row == '-type'}"></span>
                        </div></th>
                        <th><div class="th">
                            Balance
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('balance') "
                                  data-ng-class="{active: row == 'balance'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-balance') "
                                  data-ng-class="{active: row == '-balance'}"></span>
                        </div></th>
                        <th><div class="th">
                            Action
                        </div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="currentPageStores.length == 0">
                        <td colspan="8">No Record Found</td>
                    </tr>
                    <tr data-ng-repeat="account in currentPageStores">
                        <td ng-if="account.user_id == defaultId || account.user_id == currentUserId">{{account.code}}</td>
                        <td ng-if="account.user_id == defaultId || account.user_id == currentUserId">{{account.name}}</td>
                        <td ng-if="account.user_id == defaultId || account.user_id == currentUserId">{{account.detail_type}}</td>
                        <td ng-if="account.user_id == defaultId || account.user_id == currentUserId">{{account.type}}</td>
                        <td ng-if="account.user_id == defaultId || account.user_id == currentUserId">{{account.account_balance.balance}}</td>
                        <td ng-if="account.user_id == defaultId || account.user_id == currentUserId">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#/account/edit/{{account.id}}">Edit</a></li>
                                    <li><a href="#" ng-click="deleteAccount(account.id)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </section>
            <section data-ng-include=" 'views/chartAccount/add_accounts.html' " ></section>
        </div>
    </div>
</div>