<div id="accountForm" class="modal fade" role="dialog">
    <div class="modal-dialog account-form">
        <!-- Modal content-->
        <form role="form">
            <div class="modal-content account-current-assets">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelAccountForm();">&times;</button>
                    <h4 class="modal-title">Account</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="main.alert" class="alert alert-success">
                        {{main.alert}}
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="parentAccount">Main Account</label>
                            <select  tabindex="1" ng-click="label.click" required class="form-control" ng-change="getDetailTypeList(account.parent_id)"  id="parentAccount" data-ng-model="account.parent_id">
                                <option value="" disabled>Select Option</option>
                                <option ng-repeat="parentAccountList in parentAccountLists" value="{{parentAccountList.id}}">{{parentAccountList.name}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="Name">Name</label>
                            <input type="text"  class="form-control" required tabindex="3" data-ng-model="account.name" id="Name" placeholder="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="detailType">Detail Type</label>
                            <select tabindex="2" ng-click="label.click" ng-change="setAccountName(account.detail_type_id)" class="form-control" id="detailType" data-ng-model="account.detail_type_id">
                                <option value="" disabled>Select Option</option>
                                <option ng-repeat="detailTypeList in detailTypeLists" value="{{detailTypeList.id}}">{{detailTypeList.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="description">Description</label>
                            <textarea type="text"  class="form-control" rows="3"  tabindex="4" data-ng-model="account.description" id="description" placeholder="Description"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="code">Code</label>
                            <input type="text"  class="form-control" required tabindex="5" data-ng-model="account.code" id="code" placeholder="Code">
                        </div>

                        <div class="form-group col-md-6">
                            <br/>
                            <input type="checkbox" tabindex="6" id="is_subaccount" data-ng-model="account.is_subaccount"/> Is sub-account
                        </div>
                    </div>

                    <div class="row" ng-show="['', '32', '34', '35', '36'].indexOf(account.detail_type_id) > 0">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="balance">Balance</label>
                            <input type="text"  class="form-control" required tabindex="7" data-ng-model="account.balance" id="balance" placeholder="Balance">
                        </div>
                    </div>

                    <div class="well" ng-show="account.parent_id == 6">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" for="trackDepreciation">&nbsp;</label>
                                <input type="checkbox" id="trackDepreciation" tabindex="8" value="1" data-ng-model="account.track_depreciation"/> Track depreciation of this asset
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" for="originalCost">Original Cost</label>
                                <input type="text"  class="form-control" required tabindex="9" data-ng-model="account.original_cost" id="originalCost" placeholder="Original Cost">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" for="date">As of</label>
                                <ng-datepicker  tabindex="10" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="account.depreciation_asof" id="date"></ng-datepicker>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" for="depreciationCost">Depreciation Cost</label>
                                <input type="text"  class="form-control" required tabindex="11" data-ng-model="account.depreciation_cost" id="depreciationCost" placeholder="Depreciation Cost">
                            </div>
                            <div class="form-group col-md-6">
                                <br/>
                                <input type="radio" id="monthly" data-ng-model="account.depreciation_at" value="MONTHLY"/> Monthly <br/>
                                <input type="radio" data-ng-model="account.depreciation_at" value="HALF YEARLY"/> Half Yearly <br/>
                                <input type="radio" data-ng-model="account.depreciation_at" value="YEARLY"/> Yearly
                            </div>
                        </div>


                    </div>
                    <div class="form-group col-md-12 text-center">
                        <div class="clearfix"><hr /></div>
                        <a href="javascript:;"  class="btn btn-default pull-right" ng-click="cancelAccountForm();">Cancel</a>
                        <button type="submit" class="btn btn-primary orange-btn pull-right" ng-click="addAccount();" >Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>