
<div data-ng-hide="isSpecificPage()" class="copyright text-right">
    <p>2017 &copy; SpeedyBook. All Right Reserved</p>
</div>



<!-- footer-->
<footer data-ng-hide="!isSpecificPage()" class="footer">
    <div class="container inner-footer">
    <div class="row">
                                <div class="col-md-4">
                                    <div class="usefull-links-widget clearfix">
                                        <h4>Small Businesses</h4>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-right fa-space"></i>Features</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right fa-space"></i>Pricing</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right fa-space"></i>Accountants</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right fa-space"></i>Partner Program</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right fa-space"></i>Find bookkeepers</a></li> 
                      <li><a href="privacy-policy.html"><i class="fa fa-angle-right fa-space"></i>Privacy Policy</a></li>
                                        </ul>
                                        <ul>
                                     <li><a href="#"><i class="fa fa-angle-right fa-space"></i>Blog</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right fa-space"></i>Careers</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right fa-space"></i>Support</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right fa-space"></i>Investors</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right fa-space"></i>About Us</a></li>
                      <li><a href="#"><i class="fa fa-angle-right fa-space"></i>Refund Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="twitter-widget clearfix">
                                        <h4>Twitter Feeds</h4>
                                        <div class="tweet">
                                            <i class="icon-twitter-1"><img src="images/footer.png"> </i>
                                            <p><a href="#">@SpeedyBooks</a> Please kindly use our Support Forum: <a href="#.">speedybooks.biz</a>
                                            <span>about a month ago</span>
                                            </p>
                                        </div>
                                        <div class="tweet">
                                            <i class="icon-twitter-1"><img src="images/footer.png"> </i>
                                            <p><a href="#">@SpeedyBooks</a> Please kindly use our Support Forum: <a href="#.">speedybooks.biz</a>
                                            <span>about a month ago</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        <div class="col-md-4">
                            <h4>Contact Us</h4>
                           <div class="contact-text">
                            SpeedyBooks Inc.<br>
                              5115 Church St<br>
                              Skokie, Illinois<br>
                              847-230-9780<br>
                              support@speedybooks.biz
                           </div>
                        </div>
                            </div>
   </div>
   <div class="container-fluid lower-footer text-center">
    <p>Copyright © 2016 SpeedyBooks, All rights reserved.</p>
   </div>
</footer>

 <script src="/bower_components/jquery/dist/jquery.js"></script>

        <script src="/bower_components/bootstrap/js/dropdown.js"></script>

        <script src="scripts/vendor.js"></script>

        <script src="scripts/bootstrap.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-cookies.js"></script>

        <script src="scripts/ui.js"></script>

        <script src="scripts/app.js"></script>

        <script src="scripts/authInterceptorService.js"></script>

        <script src="scripts/services/common/commonservices.js"></script>

        <script src="scripts/services/items/itemservices.js"></script>

        <script src="scripts/controllers/items/itemcontroller.js"></script>

        <script src="scripts/services/user/useraccountsservices.js"></script>

        <script src="scripts/controllers/user/useraccountcontroller.js"></script>

        <script src="scripts/controllers/common/commoncontroller.js"></script>

        <script src="scripts/controllers/accounts/authcontroller.js"></script>

        <script src="scripts/services/accounts/authservices.js"></script>

        <script src="scripts/controllers/user/usercontroller.js"></script>

        <script src="scripts/services/user/userservices.js"></script>

         <script src="scripts/controllers/income/invoicecontroller.js"></script>

        <script src="scripts/services/income/invoiceservice.js"></script>

        <script src="scripts/controllers/income/expensecontroller.js"></script>

        <script src="scripts/services/income/expenseservices.js"></script>

        <script src="scripts/controllers/payroll/payrollcontroller.js"></script>

        <script src="scripts/services/payroll/payrollservices.js"></script>

        <script src="scripts/controllers/reimbursement/reimbursementcontroller.js"></script>

        <script src="scripts/services/reimbursement/reimbursementservices.js"></script>

        <script src="scripts/directives/directives.js"></script>

        <script src="scripts/chosen.jquery.js"></script>

        <script src="scripts/services/common/validator.js"></script>

        <script src="/bower_components/moment/moment.js"></script>

        <script type="text/javascript" src="/bower_components/ngDatepicker/src/js/ngDatepicker.min.js"></script>

        <script type="text/javascript" src="scripts/bootbox.min.js"></script>

        <script type="text/javascript" src="scripts/ngBootbox.js"></script>

        <!--script type="text/javascript" src="/bower_components/ng-mask/ng-mask-1.0.1.js"></script-->

        <!--script src="scripts/authentication/authInterceptorService.js"></script--><!--ends-->
        <script>
    $(document).ready(function(){
        $("#menu-toggle").click(function(){
            $("body").toggleClass("side-barshow");
            $("#mega-drop").toggleClass("rotate");
        });
        $("#mega-drop").click(function(){
            $("#mega-drop").toggleClass("rotate");
        });
    });
    
    

    </script>
    </body>
</html>