<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reportsCtrl">
    <div class="row" ng-show="balanceSheetReport == 0">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses custom-panel-head col-lg-12">
                    <div class="col-lg-4">
                        <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/reports">Report list</a></span><h3>Balance Sheet</h3>
                    </div>             
                    <!-- <div class="pull-right print-button">
                        <a href="#" class="btn orange-btn" onclick="window.print();return false;">Print this page</a>
                    </div> -->
                </div>
                <div class="panel-body" style="padding: 5px 15px;">
                    <form role="form" data-ng-model="balanceSheet">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group custom-form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="1" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="balanceSheet.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="balanceSheet.to" id="to"></ng-datepicker>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" ng-change="getNetProfit()" data-ng-model="balanceSheet.basis " value="cash">Cash</label>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" ng-change="getNetProfit()" data-ng-model="balanceSheet.basis" value="accrual">Accrual</label>
                            </div>
                            <div class="col-sm-2 reports-submit-button">
                                <button type="submit" tabindex="4"  ng-click="getBalanceSheet()" class="btn btn-danger">Update</button>
                            </div>
                        </div>
                        <div class="form-group col-sm-8">
                            <span ng-show="basisError" class="error">Please Select basis cash or accrual</span>
                        </div>
                    </form>
                </div>
            </section>
            <section class="panel panel-default" ng-show="balanceSheetShow == 1">
                <div ng-show="balanceSheetAssets.length != 0 || balanceSheetLiabilities.length != 0 || balanceSheetOwners.length != 0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="{{ balanceSheetPdfPath }}">As PDF</a></li>
                                    <li><a href="{{ balanceSheetCsvPath }}">As Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> Balance Sheet Report</h4>
                        <h3 class="text-center">{{ balanceSheetDate.from }} - {{ balanceSheetDate.to }}</h3>
                        <div class="" >
                            <div class="panel panel-default balanceSheet">
                                <div class="panel-body">
                                    <div class="row">
                                        <div><strong>Assets</strong></div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-md-12" ng-repeat="(key, value) in balanceSheetAssets">
                                                <!-- <hr/> -->
                                                <span class="parent-account">{{ key }}</span>
                                                <div class="row" ng-repeat="(account, amount) in value.account">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <a href="javascript:;" ng-click="getBalanceSheetDetails(account)"><span class="account">{{ account }}</span></a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">{{ amount | number:2 }}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <span class="account">Total {{ key }}</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">{{ value.total | number:2 }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr/>
                                            <div class="col-md-10">
                                                <span><strong>Total Assets</strong></span>
                                            </div>
                                            <div class="col-md-2">
                                                <span class="pull-right"><strong>${{ totalAssets | number:2 }}</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default balanceSheet">
                                <div class="panel-body">
                                    <div class="row">
                                        <div><strong>Liabilities</strong></div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-md-12" ng-repeat="(key, value) in balanceSheetLiabilities">
                                                <!-- <hr/> -->
                                                <span class="parent-account">{{ key }}</span>
                                                <div class="row" ng-repeat="(account, amount) in value.account">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <a href="javascript:;" ng-click="getBalanceSheetDetails(account)"><span class="account">{{ account }}</span></a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">{{ amount | number:2 }}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <span class="account">Total {{ key }}</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">{{ value.total | number:2 }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr/>
                                            <div class="col-md-10">
                                                <span><strong>Total Liabilities</strong></span>
                                            </div>
                                            <div class="col-md-2">
                                                <span class="pull-right"><strong>${{ totalLiabilities | number:2 }}</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default balanceSheet" ng-hide="!balanceSheetOwners">
                                <div class="panel-body">
                                    <div class="row">
                                        <div><strong>Owner's Capital</strong></div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-md-12" ng-repeat="(key, value) in balanceSheetOwners">
                                                <!-- <hr/> -->
                                                <span class="parent-account">{{ key }}</span>
                                                <div class="row" ng-repeat="(account, amount) in value.account">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <a href="javascript:;" ng-click="getBalanceSheetDetails(account)"><span class="account">{{ account }}</span></a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">{{ amount | number:2 }}</span>
                                                    </div>
                                                </div>
                                                <div class="row" ng-show="netProfit > 0">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <span class="account">Net Profit</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">{{ netProfit | number:2 }}</span>
                                                    </div>
                                                </div>
                                                <div class="row" ng-show="netProfit < 0">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <span class="account">Net Loss</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">${{ netProfit | number:2 }}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <span class="account">Total {{ key }}</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">{{ value.total + netProfit | number:2 }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr/>
                                            <div class="col-md-10">
                                                <span><strong>Total Owner's</strong></span>
                                            </div>
                                            <div class="col-md-2">
                                                <span class="pull-right"><strong>${{ totalOwners | number:2 }}</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="" ng-show="balanceSheetAssets.length == 0 && balanceSheetLiabilities.length == 0 && balanceSheetOwners.length == 0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" ng-show="balanceSheetShowDetails == 1">
                <section class="panel panel-default">
                    <div class="panel-heading text-uppercase expenses col-lg-12 custom-panel-head">
                        <div class="col-lg-12">
                            <i class="fa fa-angle-left" aria-hidden="true"></i><span class="report_link"> <a href="#/reports">Report list</a></span><i class="fa fa-angle-left" aria-hidden="true"></i><span class="report_link"> <a href="javascript:;" ng-click="balanceSheetback()">Balance Sheet</a></span><h3>{{ accountType }} Details</h3>
                        </div> 
                    </div>
                    <div ng-show="accountType == 'Cash Account' || accountType == 'Bank Account' || accountType == 'Cash & Cash Equivalents'" class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> {{ accountType }} Details</h4>
                        <h3 class="text-center">{{ balanceSheet_date.from }} - {{ balanceSheet_date.to }}</h3>
                        <div class="expenses">
                            <div class="table-responsive">
                                <table class="table table-bordered ">
                                    <thead class="">
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Account</th>
                                        <th><span class="pull-right">Debit</span></th>
                                        <th><span class="pull-right">Credit</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="data in balanceSheetDetails">
                                        <td>{{ data.date }}</td>
                                        <td>
                                            <a href="#/invoice_details/{{ data.id }}" target="_blank"><span ng-show="data.type == 'INVOICE'"> Payment</span></a>
                                            <a href="#/expenses/view/{{ data.id }}" target="_blank"><span ng-show="data.type == 'EXPENSE'"> Expense</span></a>
                                        </td>
                                        <td>
                                            <span ng-show="data.type == 'INVOICE'">{{ data.invoice_no }}</span>
                                        </td>
                                        <td>
                                            <span ng-show="data.type == 'INVOICE'">{{ data.customer[0].first_name }} {{ data.customer[0].last_name }}</span>
                                            <span ng-show="data.type == 'EXPENSE'">{{ data.vendor[0].first_name }} {{ data.vendor[0].last_name }}</span>
                                        </td>
                                        <td>{{ data.account.name }}</td>
                                        <td>
                                            <span ng-show="data.type == 'EXPENSE'" class="pull-right">{{ data.debit | number:2 }}</span>
                                        </td>
                                        <td><span ng-show="data.type == 'INVOICE'" class="pull-right">{{ data.credit | number:2 }}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><strong>Total</strong></td>
                                        <td><span class="pull-right"><strong>${{ debitTotal | number:2 }}</strong></span></td>
                                        <td><span class="pull-right"><strong>${{ creditTotal | number:2 }}</strong></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div ng-show="accountType == 'Account Receivables ( Debtors)'" class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> {{ accountType }} Details</h4>
                        <h3 class="text-center">{{ balanceSheet_date.from }} - {{ balanceSheet_date.to }}</h3>
                        <div class="expenses">
                            <div class="table-responsive">
                                <table class="table table-bordered ">
                                    <thead class="">
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Account</th>
                                        <th><span class="pull-right">Debit</span></th>
                                        <th><span class="pull-right">Credit</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="data in balanceSheetDetails">
                                        <td>{{ data.date }}</td>
                                        <td>
                                            <a href="#/invoice_details/{{ data.id }}" target="_blank"><span ng-show="data.payment_term == 'Paid'"> Payment</span></a>
                                            <a href="#/invoice_details/{{ data.id }}" target="_blank"><span ng-show="data.payment_term != 'Paid'"> Invoice</span></a>
                                        </td>
                                        <td>
                                            <span>{{ data.invoice_no }}</span>
                                        </td>
                                        <td>
                                            <span ng-show="data.type == 'INVOICE'">{{ data.customer[0].first_name }} {{ data.customer[0].last_name }}</span>
                                        </td>
                                        <td>
                                            <span ng-show="data.payment_term == 'Paid'"> {{ data.account.name }}</span>
                                            <span ng-show="data.payment_term != 'Paid'"> Sale</span>
                                        </td>
                                        <td>
                                            <span ng-show="data.payment_term == 'Paid'" class="pull-right">{{ data.debit | number:2 }}</span>
                                        </td>
                                        <td><span ng-show="data.payment_term != 'Paid'" class="pull-right">{{ data.credit | number:2 }}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><strong>Total</strong></td>
                                        <td><strong class="pull-right">${{ debitTotal | number:2 }}</strong></td>
                                        <td><strong class="pull-right">${{ creditTotal | number:2 }}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div ng-show="accountType == 'Drawings'" class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> {{ accountType }} Details</h4>
                        <h3 class="text-center">{{ balanceSheet_date.from }} - {{ balanceSheet_date.to }}</h3>
                        <div class="expenses">
                            <div class="table-responsive">
                                <table class="table table-bordered ">
                                    <thead class="">
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Account</th>
                                        <th><span class="pull-right">Debit</span></th>
                                        <th><span class="pull-right">Credit</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="data in balanceSheetDetails">
                                        <td>{{ data.date }}</td>
                                        <td>
                                            <a target="_blank" href="#/expenses/view/{{ data.id }}"><span> Expense</span></a>
                                        </td>
                                        <td>
                                            <span>{{ data.vendor[0].first_name }} {{ data.vendor[0].last_name }}</span>
                                        </td>
                                        <td>
                                            <span> Drawings</span>
                                        </td>
                                        <td><span class="pull-right">{{ data.debit | number:2 }}</span></td>
                                        <td><span class="pull-right">{{ 0 | number:2 }}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">Total</td>
                                        <td><span class="pull-right"><strong>${{ debitTotal | number:2 }}</strong></span></td>
                                        <td><span class="pull-right"><strong>${{ creditTotal | number:2 }}</strong></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div ng-show="accountType == 'Account payable ( creditors)'" class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> {{ accountType }} Details</h4>
                        <h3 class="text-center">{{ balanceSheet_date.from }} - {{ balanceSheet_date.to }}</h3>
                        <div class="expenses">
                            <div class="table-responsive">
                                <table class="table table-bordered ">
                                    <thead class="">
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Account</th>
                                        <th><span class="pull-right">Debit</span></th>
                                        <th><span class="pull-right">Credit</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="data in balanceSheetDetails">
                                        <td>{{ data.date }}</td>
                                        <td>
                                            <a target="_blank" href="#/expenses/view/{{ data.id }}"><span> Expense</span></a>
                                        </td>
                                        <td>
                                            <span>{{ data.vendor[0].first_name }} {{ data.vendor[0].last_name }}</span>
                                        </td>
                                        <td>
                                            <span> Account payable ( creditors)</span>
                                        </td>
                                        <td><span class="pull-right">{{ 0 | number:2 }}</span></td>
                                        <td><span class="pull-right">{{ data.credit | number:2 }}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">Total</td>
                                        <td><span class="pull-right"><strong>${{ debitTotal | number:2 }}</strong></span></td>
                                        <td><span class="pull-right"><strong>${{ creditTotal | number:2 }}</strong></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div ng-show="accountType == 'Office Equipment' || accountType == 'Vehicle' || accountType == 'Investment'" class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> {{ accountType }} Details</h4>
                        <h3 class="text-center">{{ balanceSheet_date.from }} - {{ balanceSheet_date.to }}</h3>
                        <div class="expenses">
                            <div class="table-responsive">
                                <table class="table table-bordered ">
                                    <thead class="">
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Account</th>
                                        <th><span class="pull-right">Debit</span></th>
                                        <th><span class="pull-right">Credit</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="data in balanceSheetDetails">
                                        <td>{{ data.date }}</td>
                                        <td>
                                            <a target="_blank" href="#/expenses/view/{{ data.id }}"><span> Expense</span></a>
                                        </td>
                                        <td>
                                            <span>{{ data.vendor[0].first_name }} {{ data.vendor[0].last_name }}</span>
                                        </td>
                                        <td>
                                            <span> {{ accountType }}</span>
                                        </td>
                                        <td><span class="pull-right">{{ data.debit | number:2 }}</span></td>
                                        <td><span class="pull-right">{{ 0 | number:2 }}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">Total</td>
                                        <td><span class="pull-right"><strong>${{ debitTotal | number:2 }}</strong></span></td>
                                        <td><span class="pull-right"><strong>${{ creditTotal | number:2 }}</strong></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>