<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reportsCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses custom-panel-head col-lg-12">
                    <div class="col-lg-4">
                        <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/reports">Report list</a></span><h3>Statement of Cash Flow</h3>
                    </div>
                </div>
                <div class="panel-body" style="padding: 5px 15px;">
                    <form role="form" data-ng-model="cashFlow">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group custom-form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="1" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="cashFlow.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="cashFlow.to" id="to"></ng-datepicker>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="cashFlow.basis " value="cash">Cash</label>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="cashFlow.basis" value="accrual">Accrual</label>
                            </div>
                            <div class="col-sm-2 reports-submit-button">
                                <button type="submit" tabindex="4"  ng-click="getCashFlow()" class="btn btn-danger">Update</button>
                            </div>
                        </div>
                        <div class="form-group col-sm-8">
                            <span ng-show="basisError" class="error">Please Select basis cash or accrual</span>
                        </div>
                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="cashFlowShow == 1">
                <div ng-show="adjustmentNonCash.length != 0 || investingActivites.length != 0 || financingActivites.length != 0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="">As PDF</a></li>
                                    <li><a href="">As Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> Statement of Cash Flows</h4>
                        <h3 class="text-center">{{ cashFlowReport.date.from }} - {{ cashFlowReport.date.to }}</h3>
                        <div class="" >
                            <div class="panel panel-default balanceSheet">
                                <div class="panel-body">
                                    <div class="row">
                                        <div><strong>CASH FLOWS FROM OPERATING ACTIVITIES</strong></div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-md-10">
                                                 Net Income
                                            </div>
                                            <div class="col-md-2" ng-show="netIncome > 0">
                                                ${{ netIncome | number:2 }}
                                            </div>
                                            <div class="col-md-2" ng-show="netIncome < 0">
                                                $({{ netIncome | number:2 }})
                                            </div>
                                        </div>
                                        <hr/>
                                        <div><strong>Adjustments for non-cash income and expenses:</strong></div>
                                        <div class="row">
                                            <div class="col-md-12" ng-repeat="(key, value) in adjustmentNonCash">
                                                <div class="row" ng-show="key == 'Add'" ng-repeat="(account, amount) in value">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <span class="account">{{ account }}</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">${{ amount | number:2 }}</span>
                                                    </div>
                                                </div>
                                                <div class="row" ng-show="key == 'Less'" ng-repeat="(account, amount) in value">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <span class="account">{{ account }}</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">$({{ amount | number:2 }})</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr/>
                                            <div class="col-md-10">
                                                <span><strong>Total Adjustments for non-cash income and expenses:</strong></span>
                                            </div>
                                            <div class="col-md-2">
                                                <span class="pull-right"><strong>${{ totalAdjustment | number:2 }}</strong></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr/>
                                            <div class="col-md-10">
                                                <span><strong>Net cash from operating activities:</strong></span>
                                            </div>
                                            <div class="col-md-2">
                                                <span class="pull-right"><strong>${{ netCashOperating | number:2 }}</strong></span>
                                            </div>
                                        </div>
                                    </div>

                                    <hr/>
                                    <div class="row">
                                        <div><strong>CASH FLOWS FROM INVESTING ACTIVITIES</strong></div>
                                        <hr/>

                                        <div class="row">
                                            <div class="col-md-12" ng-repeat="(key, value) in investingActivites">
                                                <div class="row">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <span class="account">{{ key }}</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">$({{ value | number:2 }})</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr/>
                                            <div class="col-md-10">
                                                <span><strong>Net cash used in investing activities</strong></span>
                                            </div>
                                            <div class="col-md-2">
                                                <span class="pull-right"><strong>$({{ totalInvesting | number:2 }})</strong></span>
                                            </div>
                                        </div>
                                    </div>


                                    <hr/>
                                    <div class="row">
                                        <div><strong>CASH FLOWS FROM FINANCING ACTIVITIES</strong></div>
                                        <hr/>

                                        <div class="row">
                                            <div class="col-md-12" ng-repeat="(key, value) in financingActivites">
                                                <div class="row">
                                                    <hr/>
                                                    <div class="col-md-10">
                                                        <span class="account">{{ key }}</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="pull-right">${{ value | number:2 }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr/>
                                            <div class="col-md-10">
                                                <span><strong>Net cash used in financing activities</strong></span>
                                            </div>
                                            <div class="col-md-2">
                                                <span class="pull-right"><strong>${{ totalFinancial | number:2 }}</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row" ng-show="netCash > 0">
                                        <hr/>
                                        <div class="col-md-10">
                                            <span><strong>Net cash increase in cash</strong></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="pull-right"><strong>${{ netCash | number:2 }}</strong></span>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="netCash < 0">
                                        <hr/>
                                        <div class="col-md-10">
                                            <span><strong>Net cash decrease in cash</strong></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="pull-right"><strong>$({{ netCash | number:2 }})</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="adjustmentNonCash.length == 0 && investingActivites.length == 0 && financingActivites.length == 0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>
</div>