<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reportsCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses col-lg-12 custom-panel-head">
                    <div class="col-lg-4">
                        <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/reports">Report list</a></span><h3>Cash Account Report</h3>
                    </div>
                </div>

                <div class="panel-body">
                    <form role="form" data-ng-model="cashAccount">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group custom-form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="1" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="cashAccount.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="cashAccount.to" id="to"></ng-datepicker>
                            </div>
                            <div class="form-group col-sm-6 reports-submit-button">
                                <div class="col-sm-6">
                                    <button type="submit" tabindex="4"  ng-click="getCashAccountReport()" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </div>                        
                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="cashAccountShow == 1">
                <div class="panel-heading expenses">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn orange-btn dropdown-toggle" data-toggle="dropdown">
                                Export
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a target="_blank" href="{{ cashAccountPdfPath }}">As PDF</a></li>
                                <li><a href="{{ cashAccountCsvPath }}">As Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                    <h4 class="text-center"> Cash Account Report</h4>
                    <h3 class="text-center">{{ cashAccountDate.from }} - {{ cashAccountDate.to }}</h3>

                    <div class="expenses">
                        <div class="table-responsive">
                            <table class="table table-bordered custom-jounral-report-table">
                                <thead class="">
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Transaction</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="data in cashAccountData">
                                    <td>{{ data.date }}</td>
                                    <td>
                                        <a ng-show="data.type == 'Invoice'" href="#/invoice_details/{{ data.id }}">{{ data.type }}</a>
                                        <a ng-show="data.type == 'Expense'" href="#/expenses/view/{{ data.id }}">{{ data.type }}</a>
                                    </td>
                                    <td>{{ data.transaction }}</td>
                                    <td>{{ data.debit }}</td>
                                    <td>{{ data.credit }}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Total Balance</td>
                                    <td>{{ totalDebit }}</td>
                                    <td>{{ totalCredit }}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Closing Balance</td>
                                    <td>{{ totalDebit - totalCredit }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>