<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" data-ng-controller="reportsCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Reports</strong></div>
                <!-- Accordion -->
                <section class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <legend>Financial Purchase</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/balance_sheet">Balance Sheet</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/aged-payables">Aged Payables</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cash_summary">Cash Summary</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/profit_and_loss">Profit & Loss</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/journal-report">Journal Report</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/general_ledger_report">General Ledger Report</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/trial_balance">Trial Balance</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cash_flow_report">Statement of Cash Flow</a></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <legend>Accounting Inventory</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/accounting_transaction">Detailed Account Transaction</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/sale_by_items">Item Details</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <legend>Sales</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/aged-receivables">Aged Receivables</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/customer_invoice_report">Customer Invoice details</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/invoice_receivables">Invoice Receivables Report</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/tax_report">Tax Report</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end Accordion -->
            </section>
        </div>
    </div>
</div>