<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reportsCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses col-lg-12 custom-panel-head">
                    <div class="col-lg-4">
                         <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/reports">Report list</a></span><h3>Tax Report</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" data-ng-model="taxReport">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group custom-form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="1" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="taxReport.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="taxReport.to" id="to"></ng-datepicker>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="taxReport.basis" value="cash">Cash</label>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="taxReport.basis" value="accrual">Accrual</label>
                            </div>
                            <div class="form-group col-sm-6 reports-submit-button">
                                <div class="col-sm-6">
                                    <button type="submit" tabindex="4"  ng-click="getTaxReport()" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </div>                        
                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="taxReportShow == 1">
                <div ng-show="taxReportData.length !=0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="{{ taxReportPdfPath }}">As PDF</a></li>
                                    <li><a href="{{ taxReportCsvPath }}">As Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> Tax Report</h4>
                        <h3 class="text-center">{{ taxReportDate.from }} - {{ taxReportDate.to }}</h3>

                        <div class="panel panel-default">
                            <div class="panel-body taxReport">
                                <div class="row">
                                    <div class="col-md-2"><strong>Date</strong></div>
                                    <div class="col-md-2"><strong>Account</strong></div>
                                    <div class="col-md-2"><strong>Transaction</strong></div>
                                    <div class="col-md-2"><strong class="pull-right">Net Amount</strong></div>
                                    <div class="col-md-2"><strong class="pull-right">Tax</strong></div>
                                    <div class="col-md-2"><strong class="pull-right">Gross</strong></div>
                                </div>

                                <div class="row" data-ng-repeat="(key, value) in taxReportData">
                                    <hr/>
                                    <div class="col-md-12"><strong>{{ key }}</strong>
                                        <div class="row" data-ng-repeat="(k, v) in value">
                                            <hr/>
                                            <div class="col-md-2">{{ v.date }}</div>
                                            <div class="col-md-2">{{ v.account }}</div>
                                            <div class="col-md-2">{{ v.transaction }}</div>
                                            <div class="col-md-2"><span class="pull-right">${{ v.net_amount | number:2 }}</span></div>
                                            <div class="col-md-2"><span class="pull-right">{{ v.tax }}</span></div>
                                            <div class="col-md-2"><span class="pull-right">${{ v.gross | number:2 }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="taxReportData.length ==0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>
</div>