<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="chequeCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading text-center">
                   <strong style="font-size: 20px;"> Write a check</strong>
                </div>
                <form role="form" data-ng-model="journal" style="background: #C7F5DB">
                    <div class="panel-body" ng-show="writeChequePaidShow">
                        <div class="form-group col-sm-12 check-box">
                            <div class="col-sm-5">
                                <select  tabindex="16" ng-click="label.click" chosen data-ng-model="cheque.account_id" class="form-control col-sm-8" ng-options="label.id as label.name group by label.type for label in receivePaymentAccountLists">
                                    <option value="">Select an account</option>
                                </select>
                                <br/><span class="error" ng-show="chequeAccountError">Please select paid from</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button type="submit" tabindex="28"  ng-click="cancel();" class="btn custom-btn">Discard</button>
                                <button type="button" class="btn custom-btn" ng-click="next();">NEXT</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" id="cheque-print" ng-show="writeChequeShow">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12 check-box">
                            <div class="col-sm-4">
                                <input  type="text" class="form-control col-sm-4 custom-input-text" id="check_no" tabindex="1"  data-ng-model="cheque.cheque_no" placeholder="Check no.">
                                <br/><span class="error">{{main.error_message.cheque_no_error}}</span>
                            </div>
                            <div class="col-sm-5">
                                <select  tabindex="1" chosen data-ng-model="cheque.vendor_id" class="form-control col-sm-4 choosen-select" ng-options="label.id as (label.first_name + ' ' + label.last_name + ' - ' + label.email) for label in users" id="payee">
                                <option value="">Payee</option>
                                </select>
                                <br/><span class="error">{{main.error_message.vendor_id_error}}</span>
                            </div>
                            <div class="col-sm-2">
                                <ng-datepicker  tabindex="1" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="cheque.date" id="date"></ng-datepicker>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 check-box">
                            <div class="row" style="padding: 0px 13px;">
                                <div class="col-sm-4">
                                    <strong>Description</strong>
                                </div>
                                <div class="col-sm-5">
                                    <strong>Account</strong>
                                </div>
                                <div class="col-sm-2">
                                    <strong>Amount</strong>
                                </div>
                            </div>
                            <div class="row" style="padding: 13px;">
                                <div class="col-sm-4">
                                    <input  class="form-control custom-input-text" tabindex="15" type="text" ng-model="cheque.description" placeholder="Description" />
                                </div>
                                <div class="col-sm-5">
                                    <select  tabindex="16" ng-click="label.click" chosen data-ng-model="cheque.item_account_id" class="form-control col-sm-8" ng-options="label.id as label.name group by label.type for label in accounts">
                                        <option value="">Select an account</option>
                                    </select>
                                    <br/><span class="error">{{main.error_message.vendor_id_error}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <input  class="form-control custom-input-text" tabindex="17" type="text" ng-model="cheque.amount" placeholder="Amount" />
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px;">
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-5">
                                    <strong class="pull-right">Total</strong>
                                </div>
                                <div class="col-sm-2">
                                    <strong class="pull-right">{{ cheque.amount }}</strong>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="col-sm-12">
                            <div class="col-md-6">
                                <button type="submit" tabindex="28" ng-click="back();" class="btn custom-btn">Back</button>
                                <div class="btn-group">
                                    <button type="button" class="btn custom-btn btn-group-line-seperator" ng-click="saveCheque();">Save</button>
                                    <button type="button" class="btn custom-btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="javascript:;"ng-click="saveChequePrint();">Save & Print</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.check-box a span').text('hello');   
</script>