<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="chequeCtrl">
    <div class="row">
        <div class="col-md-12" ng-init="getChequeDetails()">
            <section class="panel panel-default">
                <div class="panel-heading expenses"><strong><span class="glyphicon glyphicon-th"></span> <a href="#/check"> Cheque List</a><span class="padding-left-offset">Cheque Details</span></strong>

                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label for="cheque_no">Cheque No.</label><br />
                            <span id="cheque_no">{{ chequeDetail.cheque_no }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="date">Payee</label><br />
                            <span id="date">{{ chequeDetail.vendor.first_name }} {{ chequeDetail.vendor.last_name }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="paidFrom">Paid From</label><br />
                            <span id="paidFrom">{{ chequeDetail.account.name }}</span>
                        </div>
                    </div>

                    <legend>Cheque Details</legend>
                    <div class="form-group col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Account</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ chequeDetail.description }}</td>
                                <td>{{ chequeDetail.item_account_name }}</td>
                                <td>{{ chequeDetail.amount }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td>Total</td>
                                    <td>{{ chequeDetail.amount }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>