<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="chequeCtrl">
    <div class="row">
        <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
                <div class="panel-heading text-uppercase expenses"> List of checks
                	 <div class="pull-right">
                        <a href="#/add_check" class="btn orange-btn">Write a check</a>
                    </div>
                </div>
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="search"
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-4 col-xs-6 filter-result-info">
                            <span>
                                Showing {{filteredStores.length}}/{{businessCheques.length}} entries
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th><div class="th">
                            Check No.
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('cheque_no') "
                                  data-ng-class="{active: row == 'cheque_no'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-cheque_no') "
                                  data-ng-class="{active: row == '-cheque_no'}"></span>
                        </div></th>
                        <th><div class="th">
                            Payee
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('vendor_name') "
                                  data-ng-class="{active: row == 'vendor_name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-vendor_name') "
                                  data-ng-class="{active: row == '-vendor_name'}"></span>
                        </div></th>
                        <th><div class="th">
                            Description
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('description') "
                                  data-ng-class="{active: row == 'description'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-description') "
                                  data-ng-class="{active: row == '-description'}"></span>
                        </div></th>
                        <th><div class="th">
                            Amount
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('amount') "
                                  data-ng-class="{active: row == 'amount'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-amount') "
                                  data-ng-class="{active: row == '-amount'}"></span>
                        </div></th>
                        <th><div class="th">
                            Action
                        </div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="currentPageStores.length == 0">
                        <td colspan="8">No Record Found</td>
                    </tr>
                    <tr data-ng-repeat="cheque in currentPageStores">
                        <td>{{ cheque.cheque_no }}</td>
                        <td>{{ cheque.vendor.first_name }} {{ cheque.vendor.last_name }}</td>
                        <td>{{ cheque.description }}</td>
                        <td>{{ cheque.amount }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#/check_details/{{cheque.id}}">View</a></li>
                                    <li><a href="#" ng-click="delete(cheque.id)">Void</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>