<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="bankingCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" ng-show="bankingTab == 1">
                <div class="panel-heading text-uppercase expenses">
                    <strong><span class="glyphicon glyphicon-th"></span> Upload CSV</strong>
                    <div class="pull-right">
                        <a ng-click="openAccountForm()" class="btn orange-btn pull-right">Add Account</a>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" data-ng-model="banking">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Bank Name:</label>
                            <input type="text" tabindex="1" required data-ng-model="banking.name" class="form-control" >
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Account:</label>
                            <select  tabindex="4" required ng-click="label.click" chosen="" class="form-control" id="account"  data-ng-model="banking.account_id"  ng-options="label.id as label.name group by label.type for label in accountLists">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Upload Csv:</label>
                            <input type="file" tabindex="15" required name="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                        </div>
                        <div class="form-group col-md-12">
                            <hr />
                            <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="saveBanking()">Next</button>
                        </div>
                    </form>
                </div>
            </section>

            <section ng-show="bankingTab == 2" class="panel panel-default">
                <div class="panel-heading text-uppercase expenses"> Mapping CSV</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="">For each bank Account field, Select a SpeedyBooks field</h4>
                            <div class="checkbox">
                                <small><label><input type="checkbox" data-ng-model="mapping.header"> First row  in .csv file is a header row.</label></small>
                            </div>
                            <br />
                        </div>
                        <form role="form" data-ng-model="mapping">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label " >SpeedyBooks online field:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-paperclip"></i></span>
                                        <input type="text" value="{{ banking.fileName }}"  disabled="disabled" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Date:</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                <select class="form-control" data-ng-model="mapping.dateColumn">
                                                    <option value="">Select Column</option>
                                                    <option ng-repeat="column in bankAccount.columns" value="{{ column.value }}">{{ column.name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                <select class="form-control" data-ng-model="mapping.dateFormat">
                                                    <option value="">Select Date Format</option>
                                                    <option value="dd/mm/yyyy">dd/mm/yyyy</option>
                                                    <option value="dd-mm-yyyy">dd-mm-yyyy</option>
                                                    <option value="mm-dd-yyyy">mm-dd-yyyy</option>
                                                    <option value="yyyy-mm-dd">yyyy-mm-dd</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Description:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                        <select class="form-control" data-ng-model="mapping.description">
                                            <option value="">Select Column</option>
                                            <option ng-repeat="column in bankAccount.columns" value="{{ column.value }}">{{ column.name }}</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <a href="#">CSV  file has amounts in:</a>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" data-ng-model="mapping.amountIn" value="1"><b>1 Column:</b> both positive and negitive number</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" data-ng-model="mapping.amountIn" value="2"><b>2 Column:</b> Separate positive and negitive number</label>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="mapping.amountIn == 1">
                                    <label class="control-label">Amount:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <select class="form-control" data-ng-model="mapping.first_amount">
                                            <option value="">Select Column</option>
                                            <option ng-repeat="column in bankAccount.columns" value="{{ column.value }}">{{ column.name }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="mapping.amountIn == 2">
                                    <label class="control-label">Debit:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <select class="form-control" data-ng-model="mapping.first_amount">
                                            <option value="">Select Column</option>
                                            <option ng-repeat="column in bankAccount.columns" value="{{ column.value }}">{{ column.name }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="mapping.amountIn == 2">
                                    <label class="control-label">Credit:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <select class="form-control" data-ng-model="mapping.second_amount">
                                            <option value="">Select Column</option>
                                            <option ng-repeat="column in bankAccount.columns" value="{{ column.value }}">{{ column.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="getTransactions()">Next</button>
                                        <button type="submit" class="btn btn-default orange-btn pull-left" ng-click="goBack()">Back</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>

            <section class="panel panel-default" ng-show="bankingTab == 3">
                <div class="panel-heading text-uppercase expenses">
                    <strong><span class="glyphicon glyphicon-th"></span> Import Transaction</strong>
                </div>
                <div class="panel-body">
                    <div class="expenses">
                        <div class="table-responsive">
                            <table class="table table-bordered ">
                                <thead class="">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="transaction in transactions">
                                    <td align="center"><input type="checkbox" data-ng-model="transaction.isChecked" value="{{ transaction.id }}" /></td>
                                    <td>{{ transaction.date }}</td>
                                    <td>{{ transaction.description }}</td>
                                    <td>$ {{ transaction.amount }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-md-12">
                            <hr />
                            <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="saveTransactionData()">Submit</button>
                            <button type="submit" class="btn btn-default orange-btn pull-left" ng-click="goBack()">Back</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div id="accountForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form role="form">
            <div class="modal-content" style="height: 400px;">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelAccountForm();">&times;</button>
                    <h4 class="modal-title">Account</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="main.alert" class="alert alert-success">
                        {{main.alert}}
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="MainAccount">Main Account</label>
                            <select  tabindex="1" ng-click="label.click" required class="form-control" id="MainAccount" ng-change="getSubAccount()" data-ng-model="account.mainAccount">
                                <option value="">Select Option</option>
                                <option ng-repeat="mainAccountList in mainAccountLists" value="{{mainAccountList.id}}">{{mainAccountList.name}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="Name">Name</label>
                            <input type="text"  class="form-control" required tabindex="3" data-ng-model="account.name" id="Name" placeholder="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="SubAccount">Account Type</label>
                            <select  tabindex="2" ng-click="label.click" required class="form-control" ng-change="getAccountName()" data-ng-model="account.subAccount" id="SubAccount">
                                <option value="">Select Option</option>
                                <option ng-repeat="subAccountList in subAccountLists" value="{{subAccountList.id}}">{{subAccountList.name}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="description">Description</label>
                            <textarea type="text"  class="form-control" rows="3"  tabindex="4" data-ng-model="account.description" id="description" placeholder="Description"></textarea>
                        </div>
                    </div>

                    <div class="form-group col-md-12 text-center">
                        <div class="clearfix"><hr /></div>
                        <a href="javascript:;"  class="btn btn-default pull-right" ng-click="cancelAccountForm();">Cancel</a>
                        <button type="submit" class="btn btn-primary orange-btn pull-right" ng-click="addAccount();" >Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


