<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapseas">
        <ul class="nav" id="side-menu"
            data-ng-controller="NavCtrl"
            data-slim-scroll
            data-collapse-nav>
            <li>
                <a ng-show="userPermission == null" href="#/dashboard"><img src="images/icon.png" />Dashboard</a>
                <a ng-show="userPermission.cpa_permission == 1" href="#/accountant_dashboard"><img src="images/icon.png" />Dashboard</a>
            </li>
            <li ng-show="userPermission == null || userPermission.cpa_permission == 1 || (userPermission != null && (userPermission.permissions == 'Basic' || userPermission.permissions == 'Intermediate' || userPermission.permissions == 'Advance'))">
                <a href="javascript:;"><img src="images/icon1.png"/><span data-i18n="Income"></span><span class="fa fa-angle-right"></span></a>
                <ul class="nav nav-second-level" style="display:none">
                    <li><a href="#/sales_recurring"><span data-i18n="Sales Recurring"></span></a></li>
                    <li><a href="#/invoice"><span data-i18n="Create Invoice"></span></a></li>
                    <li><a href="#/estimates"><span data-i18n="Estimates"></span></a></li>
                    <li><a href="#/refund"><span data-i18n="Refund"></span></a></li>
                </ul>
            </li>
            <li ng-show="userPermission == null || userPermission.cpa_permission == 1 || (userPermission != null && (userPermission.permissions == 'Basic' || userPermission.permissions == 'Intermediate' || userPermission.permissions == 'Advance'))">
                <a href="javascript:;"><img src="images/icon2.png" />Expenses<span class="fa fa-angle-right"></span></a>
                <ul class="nav nav-second-level"  style="display:none">
                    <li><a href="#/expenses"><span data-i18n="Expense"></span></a></li>
                    <li><a href="#/expense_recurring"><span data-i18n="Expense Recurring"></span></a></li>
                    <li><a href="#/purchase_order"><span data-i18n="Purchase Order"></span></a></li>
                </ul>
            </li>
            <li ng-show="userPermission == null || userPermission.cpa_permission == 1"><a href="#/inventory"><img src="images/icon6.png" /><span data-i18n="Inventory"></span></a></li>
            <li ng-show="userPermission == null || userPermission.cpa_permission == 1 || (userPermission != null && ( userPermission.permissions == 'Intermediate' || userPermission.permissions == 'Advance'))">
                <a href="#/payroll"><img src="images/icon5.png" /><span data-i18n="Payroll"></span></a>
            </li>
            <li ng-show="userPermission == null || userPermission.cpa_permission == 1">
                <a href="#/reimbursement"><img src="images/icon4.png" style="width:23px"/><span data-i18n="Reimbursement"></span></a>
            </li>
            <li ng-show="userPermission == null || userPermission.cpa_permission == 1" || (userPermission != null && (userPermission.permissions == 'Read Only' || userPermission.permissions == 'Basic' || userPermission.permissions == 'Intermediate' || userPermission.permissions == 'Advance'))">
                <a href="#/reports"><img src="images/icon3.png" style="width:19px"/><span data-i18n="Reports"></span></a>
            </li>
            <li ng-show="userPermission == null || userPermission.cpa_permission == 1 || (userPermission != null && (userPermission.permissions == 'Advance'))">
                <a href="#/banking"><img src="images/banking-icon.png" style="width:19px"/><span data-i18n="Banking"></span></a>
            </li>
         </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>