<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-boxed nav-justified">
            <li class="dropdown text-normal">
                <a href="javascript:;"  class="dropdown-toggle" data-toggle="dropdown">
                <i class="color-success fa fa-check"></i> Make a Transaction</a>
                <ul class="dropdown-menu dropdown-dark with-arrow">
                     <li>
                        <a href="#/invoice">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Invoice"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/expenses">
                            <i class="fa fa-file-text-o"></i>
                            <span data-i18n="Expense"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/payment">
                            <i class="glyphicon glyphicon-usd"></i>
                            <span data-i18n="Payment"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/addcustomer">
                            <i class="fa fa-user"></i>
                            <span data-i18n="Add Customer"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/drawing">
                            <i class="fa fa-map-marker"></i>
                            <span data-i18n="Drawing"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/reimbursement">
                            <i class="fa fa-bookmark"></i>
                            <span data-i18n="Reimbursement"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/estimates">
                            <i class="fa fa-shopping-cart"></i>
                            <span data-i18n="Estimates"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:;"><i class="color-info fa fa-phone-square"></i> Sales Recurring</a></li>
             <li><a href="javascript:;"><i class="color-success fa fa-folder-o"></i> Expense Recurring</a></li>
            <li><a href="javascript:;"><i class="color-info fa fa-clock-o"></i> Sales &amp; Expense Tracker</a></li>
    </div>
</div>
<br />