<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="stylesheet" href="css/stylesheet.css"/>
<title>invoice</title>
</head>
<body ng-app="speedyBooksDetails">
<div class="wrap" ng-controller="detailCtrl" ng-cloak="">


<header>
	<div class="top-left"><a href="#"><img src="images/logo-g.png" alt=""/></a></div>
    <div class="top-right"><ul><li class="help"><a href="#">Help</a></li><li><a href="//help.speedybooks.biz">Sign In</a></li></ul></div>
</header>

<div class="clear"></div>

<div class="backside"><h1>{{ invoice.business_profile.name }}</h1>

</div>
<div class="wrapper">


<header>
    <h1>Invoice</h1>
    
    </header>
<article ng-init="getInvoice()">
    <h1>Recipient</h1>
    <address>
        <p>To: {{ customer.first_name }} {{ customer.last_name }}<br></p>
        <p class="gap">{{ customer.billing_street }}</p><p class="gap">{{ customer.billing_city }}, {{ customer.billing_state }}</p>
                
			</address>
    <table class="meta table1">
      <tr>
        <th class="background"><span contenteditable>Invoice No.</span></th>
          <td><span contenteditable>{{ invoice.invoice_no }}</span></td>
      </tr>
      <tr>
        <th class="background"><span contenteditable>Invoice Date</span></th>
          <td><span contenteditable>{{ invoice.date }}</span></td>
      </tr>
       <tr>
        <th class="background"><span contenteditable>Due Date</span></th>
           <td><span contenteditable>{{ invoice.due_date }}</span></td>
      </tr>
      <tr>
        <th class="background"><span contenteditable>Reference</span></th>
          <td><span contenteditable>{{ invoice.reference }}</span></td>
      </tr>
      
    </table>
    <table class="inventory">
      <thead>
        <tr>
          <th><span contenteditable>Item</span></th>
          <th><span contenteditable>Description</span></th>
          <th><span contenteditable>Quantity</span></th>
          <th><span contenteditable>Price</span></th>
          <th><span contenteditable>Amount</span></th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in invoice.business_invoice_item">
          <td class="center"><span contenteditable>{{ item.item_name }}</span></td>
          <td class="center"><span contenteditable>{{ item.description }}</span></td>
          <td class="center"><span contenteditable>{{ item.quantity }}</span></td>
          <td class="center"><span data-prefix>$</span><span>{{ item.price }}</span></td>
          <td class="center"><span data-prefix>$</span><span>{{ item.amount }}</span></td>
      </tr>
      </tbody>
    </table>
    
    <table class="balance">
      <tr>
        <th class="background"><span contenteditable>Sub Total</span></th>
          <td><span data-prefix>$</span><span>{{ invoice.subtotal }}</span></td>
      </tr>
      <tr>
        <th class="background"><span contenteditable>Tax</span></th>
          <td><span contenteditable>{{ invoice.tax_rate.tax_rates }}</span><span data-prefix>%</span></td>
      </tr>
      <tr>
        <th class="background"><span contenteditable>Grand Total</span></th>
          <td><span data-prefix>$</span><span>{{ invoice.amount }}</span></td>
      </tr>
    </table>
    
  </article><br>
<br>
<br>
<br>
 <br>
<br>
<br>
<br>

  <div class="thanks" style="text-align:center;"><p>**We Thank You For Your Business**</p></div>
</div><!---wrapper-->
</div>
<script src="scripts/vendor.js"></script>
<script src="scripts/view.js"></script>
</body>
</html>
