<aside data-ng-include=" 'views/css/specific.html' " ></aside>
<div class="container">
    
              <div class="row">
                  <div class="col-md-4 col-md-push-4 registeration " >
                      <div class="text-center">
            
            <h2>Password Reset</h2>
            
            <p>Enter your email address that you used to register. We'll send you an email with your username and newly generated password.</p>
            <br />
            
            </div>
                <form ng-submit="sendForgotPasswordRequest()" ng-init="clearFields();" name="forgotPasswordForm">
                <div ng-show="main.error_message" class="alert alert-danger">
                    {{main.error_message}}
                </div>
                <div ng-show="main.alert" class="alert alert-success">
                    {{main.alert}}
                </div>
                <div class="form-group">
                     <input type="email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                        tabindex="1"
                        maxlength="32"
                        class="form-control input-lg"
                        placeholder="Email"
                        oninvalid="setCustomValidity('Please enter a valid email.')"
                        onchange="try{setCustomValidity('')}catch(e){}"
                        required
                        data-ng-model="main.email">
                </div>
                <div class="clearfix"></div>
              
               <br class="clearfix" />
               <div class="text-center">
                <button type="submit" tabindex="2" class="btn btn-info btn-orange">Send</button>
               </div>

              </form>
              <br class="clearfix" />
              <section>
                <p class="text-center text-muted">Already have an account? <a tabindex="8" href="#/signin" >Log in now</a></p>
            </section>
              </div>
          </div>
      </div>

























