<aside data-ng-include=" 'views/css/specific.html' " ></aside>
<div class="container" ng-cloak>
    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 " >
                        <div class="well">
                            <h2>Member Login</h2>
                            <form form-validations ng-submit="login();" ng-init="clearFields();">
                                 <div ng-show="main.error_message" class="alert alert-danger">
                                    {{main.error_message}}
                                </div>
                                <div ng-show="main.alert" class="alert alert-success">
                                    {{main.alert}}
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label">Email</label>
                                    <input  type="email"
                                            id="email"
                                            class="form-control latest"
                                            tabindex="1"
                                            maxlength="32"
                                            placeholder="Email"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                                            oninvalid="setCustomValidity('Please enter a valid email.')"
                                            onchange="try{setCustomValidity('')}catch(e){}"
                                            data-ng-model="main.username"
                                            required>
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <label for="pwd" class="control-label">Password</label>
                                    <input type="password"
                                           id="pwd"
                                           class="form-control"
                                           tabindex="2"
                                           maxlength="32"
                                           placeholder="Password"
                                           data-ng-model="main.password"
                                           oninvalid="setCustomValidity('Please enter Password.')"
                                           onchange="try{setCustomValidity('')}catch(e){}"
                                           required>
                                    <span class="help-block"></span>
                                </div>
                                <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                                <div class="checkbox hide">
                                    <label>
                                        <input type="checkbox" name="remember" id="remember"> Remember login
                                    </label>
                                    <p class="help-block">(if this is a private computer)</p>
                                </div>
                                <button type="submit" class="btn btn-success btn-orange">Login</button>
                                <div class="checkbox">
                                    <p><a href="#/forgot" style="color: #333">I Forgot My Password</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="regist">
                            <h2>Not a member Yet.</h2>
                            <p> Register for free</p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li><span class="fa fa-check text-success"></span> Instantly start book-keeping</li>
                                <li><span class="fa fa-check text-success"></span> Send Invoices</li>
                                <li><span class="fa fa-check text-success"></span> Track your expenses</li>
                                <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                <li><span class="fa fa-check text-success"></span> Get 2 Months free subscription <small>(only new customers)</small></li>
                            </ul>
                            <p><a href="#/signup" class="btn btn-info btn-orange">Register Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container app-download" style="display: none;">
    <div class="login-overlay" style="margin-top: 50px;">
        <div class="modal-content">
            <!-- <div class="modal-body"> -->
                <div class="row">
                    <div class="col-sm-6 " >
                        <div class="well">
                        <h5 style="text-align: center;">Manage your finances with a simple Click! Download our <span class="phone-brand"></span> App to enjoy the Joyful Accounting Experience.</h5>
                            <div class="appleStore" style="display: none; margin-top: 20px;">
                                <p style="text-align: center;"><a href=""><img src="./images/appleStore.png" height="100px" /></a></p>
                            </div>
                            <div style="display: none; margin-top: 20px; text-align: center;" class="googlePlay">
                                <p><a href=""><img src="./images/googlePlay.png" height="100px" /></a></p>
                            </div>

                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
<script type="text/javascript">

$(document).ready(function() {
    if( /(android|bb\d+|meego).+mobile|webOS|BlackBerry|IEMobile/i.test(navigator.userAgent) ) 
    {
        $(".modal-dialog").hide();
        $(".app-download").show();
        $('.googlePlay').show();
        $('.navbar-toggle').hide();
        $('.phone-brand').text('Android');
    }
    if( /iPhone|iPod|iPad/i.test(navigator.userAgent) ) 
    {
        $(".modal-dialog").hide();
        $(".app-download").show();
        $('.appleStore').show();
        $('.navbar-toggle').hide();
        $('.phone-brand').text('iOS');            
    }


});

</script>