<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-controller="userCtrl">
            <div ng-show="main.error_message" class="alert alert-danger">
                {{main.error_message}}
            </div>
            <div ng-show="error_message" class="alert alert-danger">
                {{error_message}}
            </div>
            <div class="panel panel-default">
                <button class="close button-cross" type="button" ng-click="cancel()">&times;</button>
                <div class="panel-heading text-uppercase expenses"> Customer</div>
                <div class="panel-body">
                    <form role="form" ng-submit="addNewCustomer();">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Title</label>
                                    <input type="text" tabindex="101" class="form-control" placeholder="Title" required="required" data-ng-model="customer.title">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input  type="text"
                                            tabindex="102"
                                            required
                                            maxlength="32"
                                            pattern="[A-Za-z]{2,32}"
                                            class="form-control"
                                            placeholder="First name"
                                            data-ng-model="customer.first_name"
                                            oninvalid="setCustomValidity('Please enter a valid first name.')"
                                            onchange="try{setCustomValidity('')}catch(e){}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input  type="text"
                                            tabindex="103"
                                            maxlength="32"
                                            pattern="[A-Za-z]{2,32}"
                                            class="form-control"
                                            placeholder="Last name"
                                            data-ng-model="customer.last_name"
                                            oninvalid="setCustomValidity('Please enter a valid last name.')"
                                            onchange="try{setCustomValidity('')}catch(e){}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="email"
                                           tabindex="104"
                                           maxlength="32"
                                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                                           required
                                           class="form-control"
                                           placeholder="Email"
                                           data-ng-model="customer.email"
                                           oninvalid="setCustomValidity('Please enter a valid email.')"
                                           onchange="try{setCustomValidity('')}catch(e){}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Phone Number</label>
                                    <input  type="text"
                                            tabindex="105"
                                            maxlength="12"
                                            pattern="\d{6,}$"
                                            class="form-control"
                                            placeholder="Phone No"
                                            data-ng-model="customer.phone"
                                            oninvalid="setCustomValidity('Please enter a valid phone number.')"
                                            onchange="try{setCustomValidity('')}catch(e){}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Mobile</label>
                                    <input  type="text"
                                            tabindex="106"
                                            maxlength="12"
                                            required
                                            pattern="\d{6,}$"
                                            class="form-control"
                                            placeholder="Mobile No"
                                            data-ng-model="customer.mobile"
                                            oninvalid="setCustomValidity('Please enter a valid mobile number.')"
                                            onchange="try{setCustomValidity('')}catch(e){}">
                                </div>
                           </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Company Name</label>
                                    <input  type="text"
                                            tabindex="107"
                                            class="form-control"
                                            placeholder="Company Name"
                                            data-ng-model="customer.company_name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Website</label>
                                    <input  type="text"
                                            tabindex="108"
                                            class="form-control"
                                            placeholder="Website"
                                            data-ng-model="customer.website">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <h4>Billing Address
                                    <hr />
                                </h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Street</label>
                                            <input  type="text"
                                                    tabindex="109"
                                                    class="form-control"
                                                    placeholder="Street"
                                                    data-ng-model="customer.billing_street">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Zip</label>
                                            <input  type="text"
                                                    tabindex="110"
                                                    class="form-control"
                                                    placeholder="Zip"
                                                    data-ng-model="customer.billing_zip">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">City/Town </label>
                                            <input  type="text"
                                                    tabindex="111"
                                                    class="form-control"
                                                    placeholder="City"
                                                    data-ng-model="customer.billing_city">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">State </label>
                                            <input  type="text"
                                                    tabindex="112"
                                                    class="form-control"
                                                    placeholder="State"
                                                    data-ng-model="customer.billing_state">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Country</label>
                                            <input  type="text"
                                                    tabindex="113"
                                                    class="form-control"
                                                    placeholder="Country"
                                                    data-ng-model="customer.billing_country">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <br />
                                <h4>Shipping Address
                                    <div class="checkbox mycheckbox pull-right">
                                        <input type="checkbox" data-ng-model="customer.same_as_billing" ng-change="setShippingAddress()" />Same as billing address
                                    </div>
                                    <hr />
                                </h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Street</label>
                                            <input  type="text"
                                                    tabindex="114"
                                                    ng-disabled="customer.same_as_billing == true"
                                                    class="form-control"
                                                    placeholder="Street"
                                                    data-ng-model="customer.shipping_street">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Zip</label>
                                            <input  type="text"
                                                    tabindex="115"
                                                    ng-disabled="customer.same_as_billing == true"
                                                    class="form-control"
                                                    placeholder="Zip"
                                                    data-ng-model="customer.shipping_zip">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">City/Town </label>
                                            <input  type="text"
                                                    tabindex="116"
                                                    ng-disabled="customer.same_as_billing == true"
                                                    class="form-control"
                                                    placeholder="City"
                                                    data-ng-model="customer.shipping_city">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">State</label>
                                            <input  type="text"
                                                    tabindex="117"
                                                    ng-disabled="customer.same_as_billing == true"
                                                    class="form-control"
                                                    placeholder="State"
                                                    data-ng-model="customer.shipping_state">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Country</label>
                                            <input  type="text"
                                                    tabindex="118"
                                                    ng-disabled="customer.same_as_billing == true"
                                                    class="form-control"
                                                    placeholder="Country"
                                                    data-ng-model="customer.shipping_country">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <br />
                        <div class="col-md-6">
                            <div class="panel panel-default expenses">
                                <div class="panel-heading">Notes</div>
                                <div class="panel-body">
                                    <div class="form-group plus-button">
                                        <div class="col-md-12">
                                            <textarea class="form-control" tabindex="119" rows="4" data-ng-model="customer.notes" placeholder="Notes"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-horizontal panel panel-default">
                                <div class="panel-heading">Attachments </div>
                                <div class="panel-body">
                                    <input type="hidden" name="attachment" data-ng-model="customer.attachment">
                                    <input type="file" tabindex="119" name="file" onchange="angular.element(this).scope().attachmentUpload(this.files)">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix col-sm-12"><br /><br /></div>
                        <div class="col-sm-12">
                            <button type="submit" tabindex="121" class="btn btn-primary">Save</button>
                            <a class="btn btn-warning" tabindex="122" ng-click="cancel()">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>