<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="userCtrl">
    <div class="row"  ng-init="userBusinessProfileData()">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Business Profile</strong></div>
                <div class="panel-body">
                     <div ng-show="main.error_message" class="alert alert-danger">
                        {{main.error_message}}
                    </div>
                    <div ng-show="main.alert" class="alert alert-success">
                        {{main.alert}}
                    </div>
                    <form ng-submit="saveBusinessProfile();" role="form" class="businessProfile" enctype="multipart/form-data">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <label for="companyName">Company's Name</label><span class="required">*</span>
                                <input type="text" class="form-control" required id="companyName" oninvalid="setCustomValidity('Please enter Company\'s name.')" onchange="try{setCustomValidity('')}catch(e){}" tabindex="1" data-ng-model="b_profile.name" placeholder="Name of the Company">
                                <span ng-show="main.error_message.name" class="alert-danger">{{main.error_message.name}}</span>
                            </div>

                            <div class="col-sm-4">
                                <label for="b_industry">Industry</label>
                                <input type="text" class="form-control" id="b_industry" oninvalid="setCustomValidity('Please enter Industry.')" onchange="try{setCustomValidity('')}catch(e){}" tabindex="2" data-ng-model="b_profile.industry" placeholder="Name of the Industry">
                                <span ng-show="main.error_message.industry" class="alert-danger">{{main.error_message.industry}}</span>
                            </div>
                            <div class="col-sm-4">
                                <label for="b_registrationNo">Registration No</label>
                                <input type="text" class="form-control" id="b_registrationNo" oninvalid="setCustomValidity('Please enter Registration No.')" onchange="try{setCustomValidity('')}catch(e){}" tabindex="3" data-ng-model="b_profile.registration_no" placeholder="Enter Registration No">
                                <span ng-show="main.error_message.registration_no" class="alert-danger">{{main.error_message.registration_no}}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <label for="f_year">Financial year</label><span class="required">*</span>
                                <select id="f_year" tabindex="4"
                                        class="form-control" required oninvalid="setCustomValidity('Please select Financial year.')" onchange="try{setCustomValidity('')}catch(e){}"
                                        placeholder="Financial year"
                                        data-ng-model="b_profile.financial_year_id">
                                    <option value="">Select</option>
                                    <option ng-repeat="FY in financialYears" ng-selected="{{b_profile.financial_year_id}}" value="{{FY.id}}">{{FY.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="currency">Currency</label>
                                <select tabindex="5" oninvalid="setCustomValidity('Please select Currency.')" onchange="try{setCustomValidity('')}catch(e){}"
                                        class="form-control" id="currency"
                                        placeholder="Currency"
                                        data-ng-model="b_profile.currency_id">
                                    <option value="">Select</option>
                                    <option ng-repeat="currency in currencies" ng-selected="{{b_profile.currency_id}}" value="{{currency.id}}">{{currency.name}}</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label for="b_nature">Business Nature</label>
                                <select id="b_nature" tabindex="6"
                                        class="form-control" oninvalid="setCustomValidity('Please select Business Nature.')" onchange="try{setCustomValidity('')}catch(e){}"
                                        placeholder="Nature of the business"
                                        data-ng-model="b_profile.business_nature_id">
                                    <option value="">Select</option>
                                    <option ng-repeat="business in businessNatures" ng-selected="{{b_profile.business_nature_id}}" value="{{business.id}}">{{business.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <label for="country">Country</label>
                                <select convert-to-number tabindex="7"
                                        class="form-control" oninvalid="setCustomValidity('Please select Country.')" onchange="try{setCustomValidity('')}catch(e){}"
                                        placeholder="Country" id="country"
                                        data-ng-model="b_profile.country_id">
                                    <option value="">Select</option>
                                    <option ng-repeat="country in countries" ng-selected="{{b_profile.country_id}}" value="{{country.id}}">{{country.name}}</option>
                                </select>
                            </div>

                            <div class="col-sm-4" ng-show="b_states">
                                <label for="state">Province/State</label>
                                <select tabindex="8" id="state"
                                        class="form-control"
                                        placeholder="Province/State" oninvalid="setCustomValidity('Please select State.')" onchange="try{setCustomValidity('')}catch(e){}"
                                        data-ng-model="b_profile.state_id">
                                    <option value="">Select</option>
                                    <option ng-repeat="state in b_states" ng-selected="{{b_profile.state_id}}" value="{{state.id}}">{{state.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="b_telephoneNo">Telephone No</label><span class="required">*</span>
                                <input type="text" class="form-control" required id="b_telephoneNo" oninvalid="setCustomValidity('Please enter Telephone No.')" onchange="try{setCustomValidity('')}catch(e){}" tabindex="9" data-ng-model="b_profile.telephone_no" placeholder="Enter Telephone No">
                                <span ng-show="main.error_message.telephone_no" class="alert-danger">{{main.error_message.telephone_no}}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="b_email">Email</label><span class="required">*</span>
                                <input type="text" class="form-control" required id="b_email" oninvalid="setCustomValidity('Please enter Email')" onchange="try{setCustomValidity('')}catch(e){}" tabindex="10" data-ng-model="b_profile.email" placeholder="Enter Email">
                                <span ng-show="main.error_message.email" class="alert-danger">{{main.error_message.email}}</span>
                            </div>

                            <div class="col-sm-6">
                                <label for="b_website">Website</label>
                                <input type="text" class="form-control" id="b_website" oninvalid="setCustomValidity('Please enter website')" onchange="try{setCustomValidity('')}catch(e){}" tabindex="11" data-ng-model="b_profile.website" placeholder="Enter website">
                                <span ng-show="main.error_message.website" class="alert-danger">{{main.error_message.wensite}}</span>
                            </div>
                        </div>

                         <div class="form-group col-sm-12">
                            <div class="col-sm-12">
                                <label for="description">Description</label>
                                <textarea class="form-control" tabindex="12" id="description" data-ng-model="b_profile.description" placeholder="Company Description"></textarea>
                                <span ng-show="main.error_message.description" class="alert-danger">
                                {{main.error_message.description}}
                            </span>
                            </div>
                        </div>

                        <legend>Contact Details</legend>

                        <div class="form-group col-sm-12">
                            <h4>Registered Address<span class="required">*</span></h4>
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3" required oninvalid="setCustomValidity('Please enter Registere address')" onchange="try{setCustomValidity('')}catch(e){}" tabindex="13" data-ng-model="b_profile.registered_address" placeholder="Registered Address of the Company" id="registeredAddress"></textarea>
                                <span ng-show="main.error_message.registered_address" class="alert-danger">{{main.error_message.registered_address}}</span>
                            </div>
                        </div>
                        <div class="checkbox mycheckbox pull-right">
                            <input type="checkbox" data-ng-model="b_profile.same_as_registered" ng-change="setPhysicalAddress()"/>Same as Registered address
                        </div>

                        <div class="form-group col-sm-12">
                            <h4>Physical Address<span class="required">*</span></h4>
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3" ng-disabled="b_profile.same_as_registered == true" required oninvalid="setCustomValidity('Please enter physical address')" onchange="try{setCustomValidity('')}catch(e){}" tabindex="14" data-ng-model="b_profile.physical_address" placeholder="Physical Address of the Company" id="physicalAddress"></textarea>
                                <span ng-show="main.error_message.physical_address" class="alert-danger">{{main.error_message.physical_address}}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12" ng-show="b_profile.logo != null">
                            <img src="{{ b_profile.logourl }}" style="width: 100px; height: 100px;">
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-12">
                                <label for="Logo">Logo</label><span class="required">*</span>
                                <input type="hidden" name="logo" data-ng-model="b_profile.logo">
                                <input type="file" tabindex="15" id="Logo" name="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-12">
                                <button type="submit" tabindex="16" class="btn btn-primary">Submit</button>
                                <p class="text-right float-right"><a href="#/skipped">Skip this for now..!!</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>