<!--<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>-->
<div id="page-wrapper" ng-controller="dashboardCtrl">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default user-section" ng-init="getTotalUser()">
                        <h3>{{ totalUser }} <span class="text-uppercase">User</span></h3>
                        <p></p>
                        <br />
                        <br />
                        <div class="row" ng-init="getInvoiceTotal()">
                            <div class="col-md-4 text-center progress-user">
                               <div class="progress">
                                    <div class="progress-bar progress-bar1" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                      <span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                                <h3 class="color1"><i class="fa fa-usd" aria-hidden="true"></i> {{ invoiceTotal.open[0].amount || 0 }}</h3>
                                <h6 class="text-uppercase"><a href="#/invoice/type/open" style="color: #58585a;">open Invoices</a></h6>
                            </div>

                            <div class="col-md-4 text-center progress-user">
                               <div class="progress">
                                    <div class="progress-bar progress-bar2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                      <span class="sr-only">70% Complete</span>
                                    </div>
                               </div>
                               <h3 class="color2"><i class="fa fa-usd" aria-hidden="true"></i> {{ invoiceTotal.due[0].amount || 0 }}</h3>
                               <h6 class="text-uppercase"><a href="#/invoice/type/due" style="color: #58585a;">Over Due Invoices</a></h6>
                            </div>

                            <div class="col-md-4 text-center progress-user">
                                <div class="progress">
                                    <div class="progress-bar progress-bar3" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                      <span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                                <h3 class="color3"><i class="fa fa-usd" aria-hidden="true"></i> {{ invoiceTotal.paid[0].amount || 0 }}</h3>
                                <h6 class="text-uppercase"><a href="#/invoice/type/paid" style="color: #58585a;">Paid Invoices</a></h6>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12" ng-init="getExpenseReportChart()">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">
                            Expenses <div class="pull-right">
                                <div class="btn-group graphs">
                                    <button type="button" class="btn">Daily</button>
                                    <button type="button" data-ng-click="changeExpenseChart(event,'week')" class="btn">Weekly</button>
                                    <button type="button" data-ng-click="changeExpenseChart(event,'month')" class="btn">Monthly</button>
                                    <button type="button" data-ng-click="changeExpenseChart(event,'year')" class="btn">Yearly</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="chart panel-body" id="expenseReport" style="max-width: 630px; height: 450px; margin: 0 auto; padding: 0;"></div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-sm-12" ng-init="getProfitandLossChart()">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">
                            Profit and Loss
                            <div class="pull-right">
                                <div class="btn-group graphs">
                                   <button type="button" class="btn">Daily</button>
                                  <button type="button" data-ng-click="changeProfitLossChart(event,'week')" class="btn">Weekly</button>
                                  <button type="button" data-ng-click="changeProfitLossChart(event,'month')" class="btn ">Monthly</button>
                                  <button type="button" data-ng-click="changeProfitLossChart(event,'year')" class="btn ">Yearly</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="chart panel-body" id="profitandLossReport" style="max-width: 630px; height: 450px; margin: 0 auto; padding: 0;"></div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-12" ng-init="getActivity()">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">
                            Activity <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        All
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="javascript:;" ng-click="getAllActivity()">All</a></li>
                                        <li><a href="javascript:;" ng-click="changeActivity('INVOICE')">Invoices</a></li>
                                        <li><a href="javascript:;" ng-click="changeActivity('ESTIMATES')">Estimates</a></li>
                                        <li><a href="javascript:;" ng-click="changeActivity('EXPENSES')">Expenses</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline activity-timeline" ng-hide="showAllActivity">
                                <li class="timeline-inverted" ng-show="activityInvoice" ng-class="{'success': item.payment_term == 1, 'fade-badge1': item.payment_term != 1}"  ng-repeat="(index, item) in invoiceActivity"  >
                                    <div class="timeline-badge" ng-if="item.payment_term == 1"><i class="fa fa-check"></i></div>
                                    <div class="timeline-badge" ng-if="item.payment_term != 1"></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-body">
                                            <p><a href="#/invoice_details/{{item.id}}"><span>Invoice {{ item.invoice_no }}:</span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                            <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                        </div>
                                    </div>
                                </li>

                                <li class="timeline-inverted success fade-badge1" ng-show="activityEstimates"  ng-repeat="(index, item) in estimatesActivity"  >
                                    <div class="timeline-panel">
                                        <div class="timeline-body">
                                            <p><a href="#/invoice_details/{{item.id}}"><span>Estimates {{ item.invoice_no }}:</span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                            <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                        </div>
                                    </div>
                                </li>

                                <li class="timeline-inverted success fade-badge1" ng-show="activityExpense"  ng-repeat="(index, item) in expensesActivity"  >
                                    <div class="timeline-panel">
                                        <div class="timeline-body">
                                            <p><a href="#/expenses/view/{{item.id}}"><span>Expense </span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                            <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>


                            <ul class="timeline activity-timeline" ng-show="showAllActivity">
                                <li class="timeline-inverted" ng-class="{'success': item.payment_term == 1, 'fade-badge1': item.payment_term != 1}"  ng-repeat="(index, item) in invoiceActivity"  >
                                    <div class="timeline-badge" ng-if="item.payment_term == 1"><i class="fa fa-check"></i></div>
                                    <div class="timeline-badge" ng-if="item.payment_term != 1"></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-body">
                                            <p><a href="#/invoice_details/{{item.id}}"><span>Invoice {{ item.invoice_no }}:</span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                            <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                        </div>
                                    </div>
                                </li>

                                <li class="timeline-inverted success fade-badge1"  ng-repeat="(index, item) in estimatesActivity"  >
                                    <div class="timeline-panel">
                                        <div class="timeline-body">
                                            <p><a href="#/invoice_details/{{item.id}}"><span>Estimates {{ item.invoice_no }}:</span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                            <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                        </div>
                                    </div>
                                </li>

                                <li class="timeline-inverted success fade-badge1" ng-repeat="(index, item) in expensesActivity"  >
                                    <div class="timeline-panel">
                                        <div class="timeline-body">
                                            <p><a href="#/expenses/view/{{item.id}}"><span>Expense </span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                            <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="text-cappenter connect-ac">
                                <a href="#/recent/activity" class="btn ">Recent Activity</a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">
                            Bank Account <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        History
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="javascript:;">Action</a> </li>
                                        <li><a href="javascript:;">Another action</a></li>
                                        <li><a href="javascript:;">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:;">Separated link</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body bank-detail">
                            <h5 class="text-uppercase color1">Icici Bank</h5>
                            <ul>
                                <li><label>Bank Balance</label>$10000.00</li>
                                <li><label>In SpeedyBooks</label>$10000.00</li>
                            </ul>
                            <div class="text-center connect-ac">
                                <button type="submit" class="btn ">Connect Account</button>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-sm-12" ng-init="getUpcomingPayment()">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">
                            Upcoming Payment 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline activity-timeline">
                                <li class="timeline-inverted" ng-class="{'success': item.payment_term == 1, 'success s-alert': item.payment_term != 1}"  ng-repeat="(index, item) in invoiceUpcomingPayment">
                                    <div class="timeline-badge" ng-if="item.payment_term == 1"><i class="fa fa-check"></i></div>
                                    <div class="timeline-badge" ng-if="item.payment_term != 1"><i class="fa fa-bell"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-body">
                                            <p><a href="#/invoice_details/{{item.id}}"><span>Invoice {{ item.invoice_no }}:</span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                            <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="text-center connect-ac">
                                <a href="#/upcoming/payment/list" class="btn ">More Upcoming Payment</a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>