<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <form role="form" data-ng-model="inviteUser">
                <section ng-show="inviteUserTab == 1" class="panel panel-default">
                    <div class="panel-heading text-uppercase expenses"><strong><span class="glyphicon glyphicon-th"></span> Invite User</strong></div>
                    <div class="panel-body">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input class="form-control" tabindex="1" id="firstName" required type="text" ng-model="inviteUser.first_name" />
                                    <span class="error">{{main.error_message.firstName_error}}</span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input  class="form-control" tabindex="2" id="lastName" required type="text" ng-model="inviteUser.last_name" />
                                    <span class="error">{{main.error_message.lastName_error}}</span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input  class="form-control" tabindex="3" id="email" required type="email"
                                            oninvalid="setCustomValidity('Please enter a valid email.')"
                                            onchange="try{setCustomValidity('')}catch(e){}"
                                            maxlength="32"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                                            ng-model="inviteUser.email" />
                                    <span class="error" ng-show="emailAddress">Please enter valid email address</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 clearfix"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3>Access to the account</h3>
                                <hr/>
                            </div>
                        </div>

                        <div class="row table-responsive">
                            <div class="col-md-12">
                                <table class="table table-bordered permission-ac table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Invoice</th>
                                        <th>Expense</th>
                                        <th>Setting</th>
                                        <th>Reports</th>
                                        <th>Payroll</th>
                                        <th>Manage Users</th>
                                        <th>Banking</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="width: 140px"><input tabindex="10" type="radio" ng-change="changePermission('Basic')" ng-model="inviteUser.permissions" value="Basic"> Basic</td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.basic_invoice" ng-disabled="inviteUser.permissions != 'Basic' " class="form-control col-sm-8 basic">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.basic_expense" ng-disabled="inviteUser.permissions != 'Basic' " class="form-control col-sm-8 basic">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td><span class="glyphicon glyphicon-remove cross-icon"></span></td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.basic_reports" ng-disabled="inviteUser.permissions != 'Basic' " class="form-control col-sm-8 basic">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td><span class="glyphicon glyphicon-remove cross-icon"></span></td>
                                        <td><span class="glyphicon glyphicon-remove cross-icon"></span></td>
                                        <td><span class="glyphicon glyphicon-remove cross-icon"></span></td>
                                    </tr>

                                    <tr>
                                        <td style="width: 140px"><input tabindex="10" type="radio" ng-change="changePermission('Intermediate')" ng-model="inviteUser.permissions" value="Intermediate">Intermediate</td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.intermediate_invoice" ng-disabled="inviteUser.permissions != 'Intermediate' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.intermediate_expense" ng-disabled="inviteUser.permissions != 'Intermediate' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td><span class="glyphicon glyphicon-remove cross-icon"></span></td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.intermediate_reports" ng-disabled="inviteUser.permissions != 'Intermediate' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.intermediate_payroll" ng-disabled="inviteUser.permissions != 'Intermediate' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td><span class="glyphicon glyphicon-remove cross-icon"></span></td>
                                        <td><span class="glyphicon glyphicon-remove cross-icon"></span></td>
                                    </tr>

                                    <tr>
                                        <td style="width: 140px"><input tabindex="10" type="radio" ng-change="changePermission('Advance')" ng-model="inviteUser.permissions" value="Advance"> Advance</td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.advance_invoice" ng-disabled="inviteUser.permissions != 'Advance' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.advance_expense" ng-disabled="inviteUser.permissions != 'Advance' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.advance_setting" ng-disabled="inviteUser.permissions != 'Advance' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.advance_reports" ng-disabled="inviteUser.permissions != 'Advance' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.advance_payroll" ng-disabled="inviteUser.permissions != 'Advance' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.advance_manageUsers" ng-disabled="inviteUser.permissions != 'Advance' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select  tabindex="9" data-ng-model="inviteUser.advance_banking" ng-disabled="inviteUser.permissions != 'Advance' " class="form-control col-sm-8">
                                                <option value="">Select Option</option>
                                                <option value="Read Only">Read Only</option>
                                                <option value="Edit">Edit</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="checkbox" tabindex="4" value="1" ng-model="inviteUser.cpa_permission" />CPA Permission
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 clearfix"></div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button ng-click="showEmailTab();" tabindex="16" class="btn btn-default orange-btn">Next</button>&nbsp;&nbsp;&nbsp;
                                <button tabindex="16" class="btn btn-dark pull-right">Cancel</button>
                            </div>
                        </div>
                    </div>
                </section>

                <section ng-show="inviteUserTab == 2" class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Personalise invitation and send</strong></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Email Message</label>
                                    <textarea class="form-control" rows="4" tabindex="6" ng-bind-html-unsafe="inviteUser.message" data-ng-model="inviteUser.message" id="message" placeholder="Message"></textarea>
                                    <span class="error">{{main.error_message.message_error}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button ng-click="inviteUserTab = 1;" tabindex="16" class="btn btn-dark">Back</button>&nbsp;&nbsp;&nbsp;
                                <button tabindex="19" ng-click="addNewInviteUser()" class="btn  btn-primary pull-right">Submit</button>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>