<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-init="inviteUserPermissionShowHide(userPermission);">
    <div class="row">
        <div class="col-md-12" ng-controller="inviteUserCtrl">
            <div class="row">
                <div class="page page-table">
                    <section ng-init="getInviteUserList()" class="panel panel-default table-dynamic">
                        <div class="panel-heading text-uppercase expenses"> Manage Users
                            <div class="pull-right" ng-show="userPermission == null">
                                <a href="#/invite/user" class="btn orange-btn">Invite User</a>
                            </div>
                        </div>
                        <div class="table-filters">
                            <div class="row">
                                <div class="col-sm-4 col-xs-6">
                                    <form>
                                        <input type="text"
                                               placeholder="search"
                                               class="form-control"
                                               data-ng-model="searchKeywords"
                                               data-ng-keyup="search()">
                                    </form>
                                </div>
                                <div class="col-sm-4 col-xs-6 filter-result-info">
                                    <span>
                                        Showing {{filteredStores.length}}/{{inviteUsers.length}} entries
                                    </span>
                                </div>
                            </div>
                        </div>

                        <table class="table table-bordered table-striped table-responsive">
                            <thead>
                            <tr>
                                <th><div class="th">
                                    First Name
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click=" order('first_name') "
                                          data-ng-class="{active: row == 'first_name'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click=" order('-first_name') "
                                          data-ng-class="{active: row == '-first_name'}"></span>
                                </div></th>
                                <th><div class="th">
                                    Email
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click=" order('email') "
                                          data-ng-class="{active: row == 'email'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click=" order('-email') "
                                          data-ng-class="{active: row == '-email'}"></span>
                                </div></th>
                                <th><div class="th">
                                    Permissions
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click=" order('permissions') "
                                          data-ng-class="{active: row == 'permissions'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click=" order('-permissions') "
                                          data-ng-class="{active: row == '-permissions'}"></span>
                                </div></th>
                                <th><div class="th">
                                    Status
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click=" order('status') "
                                          data-ng-class="{active: row == 'status'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click=" order('-status') "
                                          data-ng-class="{active: row == '-status'}"></span>
                                </div></th>
                                <th ng-show="userPermission == null || (userPermission != null && manageUserPermission == 'Edit')"><div class="th">
                                    Action
                                </div></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="currentPageStores.length == 0">
                                <td colspan="8">No Record Found</td>
                            </tr>
                            <tr data-ng-repeat="user in currentPageStores">
                                <td>{{user.first_name}} {{ user.last_name }}</td>
                                <td>{{user.email}}</td>
                                <td ng-show="user.cpa_permission == 0" >{{user.permissions}}</td>
                                <td ng-show="user.cpa_permission == 1" >CPA Permission</td>
                                <td>{{user.status}}</td>
                                <td ng-show="userPermission == null || (userPermission != null && manageUserPermission == 'Edit')">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="javascript:;" ng-show="user.status == 'ACTIVE'" ng-click="inviteUserInactive(user.id)">Inactive</a></li>
                                            <li><a href="javascript:;" ng-show="user.status == 'PENDING'" ng-click="resend(user.id)" >Resend</a></li>
                                            <li><a href="#/invite/user/edit/{{user.id}}">Edit</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <footer class="table-footer">
                            <div class="row">
                                <div class="col-md-6 page-num-info">
                                    <span>
                                        Show
                                        <select data-ng-model="numPerPage"
                                                data-ng-options="num for num in numPerPageOpt"
                                                data-ng-change="onNumPerPageChange()">
                                        </select>
                                        entries per page
                                    </span>
                                </div>
                                <div class="col-md-6 text-right pagination-container">
                                    <pagination class="pagination-sm"
                                                page="currentPage"
                                                total-items="filteredStores.length"
                                                max-size="4"
                                                on-select-page="select(page)"
                                                items-per-page="numPerPage"
                                                rotate="false"
                                                boundary-links="true"></pagination>
                                </div>
                            </div>
                        </footer>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>