<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="getAccountDetails()">
            <section class="panel panel-default">
                <div class="panel-heading expenses"><strong>Account Edit</strong></div>
                <div class="panel-body">
                    <form role="form" ng-submit="updateAccount()">
                        <div ng-show="error_message" class="alert alert-danger">
                            {{error_message}}
                        </div>
                        <div ng-show="alert_message" class="alert alert-success">
                            {{alert_message}}
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered table-striped" ng-init="getParentAccountList()">
                                <tr>
                                    <td>Account Type</td>
                                    <td>
                                        <select tabindex="701" ng-click="label.click" required chosen data-ng-model="account.parent_id"
                                                class="form-control choosen-select" ng-options="label.id as label.name for label in parentAccountLists">
                                            <option value=""></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Code</td>
                                    <td><input class="form-control" required tabindex="702" type="text" ng-model="account.code" /></td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td><input class="form-control" required tabindex="703" type="text" ng-model="account.name" /></td>
                                </tr>
                                <tr>
                                    <td>Detail Type</td>
                                    <td><input class="form-control" required tabindex="703" type="text" ng-model="account.detail_type_id" /></td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td><input class="form-control" required tabindex="704" type="text" ng-model="account.description" /></td>
                                </tr>
                                <tr ng-show="account.name == 'Cash Account' || account.name == 'Bank Account' || account.name == 'Cash & Cash Equivalents' || account.name == 'Investment'">
                                    <td>Balance</td>
                                    <td><input class="form-control" tabindex="704" type="text" ng-model="account.balance" /></td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button tabindex="705" class="btn btn-primary">Update</button>
                            <a class="btn btn-warning" tabindex="706" ng-click="cancel()">Cancel</a>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>