<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="css/style.css" type="text/css" rel="stylesheet" />
<script>
$(function() {
	setTimeout(function(){
		$('#mask').hide();
	}, 500);	
})
</script>