<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SpeedyBooks - A Joyful Accounting Experience</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link href="css/dashboard/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/dashboard/style.css" type="text/css" rel="stylesheet" />
    <link href="css/dashboard/sb-admin-2.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400i,600,700|Roboto:300,400,500,700" type="text/css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="styles/chosen.css" type="text/css" rel="stylesheet" />
    <link href="/bower_components/ngDatepicker/src/css/ngDatepicker.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" type="text/css" rel="stylesheet" />
    <style>
        .choosen-select{
            width: 370px;
        }
        .modal-content #page-wrapper{
            margin: 0;
        }
        .filters{
            margin: 5px;
        }
        .error{
            color: #e37119;
        }
        .item-select {
            width: 115px;
        }
        .expenses .orange-btn {
            color: #fff;
            background: #f5822a none repeat scroll 0 0;
            font-size: 12px;
            margin-top: -5px;
            border-radius: 5px;
        }
        .table-filters{
            margin: 10px;
        }
        .cross-icon{
            margin-left: 36px;
            margin-top: 20px;
        }
        .parent-account {
            margin-left: 50px;
        }
        .account {
            margin-left: 100px;
        }
        .account-current-assets {
            height: 520px;
        }
        .account-fixed-assets {
            height: 740px;
        }


        .loader {
            margin: 20% auto 0;
            border: 14px solid #f3f3f3;
            border-radius: 50%;
            border-top: 14px solid #E5721A;
            border-right: 14px solid #727274;
            border-bottom: 14px solid #E5721A;
            border-left: 14px solid #727274;
            width: 100px;
            height: 100px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }


    </style>
</head>
<body ng-app="speedyBooksApp" data-ng-cloak data-custom-background="" class="login-form">
<div id="mask" style="width: 100%; height: 800px; position: fixed; background-color: #FFF; z-index:9999;">
  <!-- <img style="left : 50%; top : 50%; position:fixed;" src="images/ajax-loader.gif"> -->
  <div class="loader"></div>
</div>

<!--
<div id="mask" style="position: fixed; background-color: #000000; opacity: 0.6; z-index:9999;">
    <img style="left : 50%; top : 50%; position:fixed;" src="images/ajax-loader.gif">
</div>
-->

<div data-ng-controller="AppCtrl" class="wrapper" id="wrapper" ng-show="userPermission == null || userPermission.cpa_permission == 1 || (userPermission != null)">
    <header ng-init="checkUserLoggedIn()" data-ng-hide="!isSpecificPage()" class="header container">
        <div class="container">
            <nav class="navbar navbar-default" style="min-height: 87px;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" style="border-right: none;">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="#/signin"><img src="images/logospeedybeta.png" /></a>
                </div>
              
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-hide="userPermission.cpa_permission == 1">
                    <ul class="nav navbar-nav navbar-right">
                      <!-- <li ng-repeat="topItem in topMenuItems" ng-class="{active : getLocation() === topItem.url}"><a class="{{topItem.class}}" href="#{{topItem.url}}">{{topItem.name}}</a></li> -->
                      <li><a href="//speedybooks.biz/">Home</a></li>
                      <li><a href="//speedybooks.biz/small-business.html">Small business</a></li>
                      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Accountants <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="//speedybooks.biz/whyspeedy.html">Why SpeedyBooks?</a></li>
                            <li class=""><a href="//speedybooks.biz/cpa_bookkeepers.html">CPA & Bookkeepers</a></li>
                            <li class=""><a href="//app.speedybooks.biz/#/signin">Login</a></li>
                            <li><a href="//app.speedybooks.biz/#/signup_accountant">Sign up</a></li>
                        </ul>          
                      </li>
                      <li><a href="//help.speedybooks.biz">Help</a></li>
                      <li><a href="//app.speedybooks.biz/#/signup">Free trial</a></li>
                      <li><a class="login btn btn-default" href="//app.speedybooks.biz/#/signin">Login</a></li>
                      <!-- <li ng-click><a href="javascript:;"><i class="fa fa-search"></i></a></li> -->
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <nav data-ng-hide="isSpecificPage()" class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/accountant_dashboard" ng-show="userPermission.cpa_permission == 1">
                    <img  src="images/dashboard/logospeedybeta.png" width="160" />
                </a>
                <a class="navbar-brand" href="#/dashboard" ng-show="userPermission == null">
                    <img  src="images/dashboard/logospeedybeta.png" width="160" />
                </a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav header-nav text-uppercase">
                <li class="toggle-menua" id="menu-toggle"><a href="javascript:;"><img src="images/hamburger.png" /></a></li>
                <li><a href="#/accounts"><i class="fa fa-book" aria-hidden="true"></i>Accounts</a></li>
                <li><a href="#/vendor"><i class="fa fa-users" aria-hidden="true"></i>Vendors</a></li>
                <li><a href="#/user"><i class="fa fa-user" aria-hidden="true"></i>Customers</a></li>
                <li class="more-links dropdown">
                    <a href="javascript:;" class="dropdown-toggle" id="mega-drop" data-toggle="dropdown">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu mega-dropdown">
                        <li>
                            <div class="list-istem row ">
                                <ul class="col-md-12 navbar-nav">
                                    <li><a href="#/add_invoice">Create Invoice</a></li>
                                    <li><a href="#/estimates">Estimates</a></li>
                                    <li><a href="#/purchase_order">Purchase Order</a></li>
                                    <li><a href="#/expenses">Expenses</a></li>
                                    <li><a href="#/journals">Journal entry</a></li>
                                    <li><a href="#/check">Write a check</a></li>
                                </ul>
                          </div>
                        </li>
                      </ul>
                </li>
            </ul>

            <ul class="nav  navbar-nav navbar-right header-nav">
                <li class="toggle-menua" ><a href="//help.speedybooks.biz"> Help</a></li>
                <li class="dropdown user-profile">
                    <a class="dropdown-toggle username" data-toggle="dropdown" href="javascript:;">
                        <img src="images/logo-icon.png"/><span class="text"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-show="userPermission == null"><a href="#/companyAccount">Company Account</a></li>
                        <li ng-show="userPermission == null || (userPermission != null && (userPermission.permissions == 'Advance'))"><a href="#/user/manage">Manage User</a></li>
                        <li ng-show="userPermission == null"><a href="#/business_profile">Business Profile</a></li>
                        <li ng-show="userPermission == null"><a href="#/taxRates">Tax Setting</a></li>
                        <li ng-show="userPermission == null"><a href="#/reconcile">Reconcile</a></li>
                        <li><a href="#/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul><!-- /.navbar-top-links -->
        </div>
    </nav>
</div>


<div class="clearfix"></div>
<div class="loading-spiner-holder" data-loading ><div class="loading-spiner"></div></div>
<div data-ng-controller="AppCtrl">
        <div data-loading class="mask"></div>
        <div data-ng-hide="isSpecificPage()" data-ng-cloak="" class="no-print">
            <aside data-ng-include=" 'views/nav/nav.html'"  id="nav-container"></aside>
        </div>

        <div class="view-container" data-ng-hide="isSpecificPage()">
            <section data-ng-view="" id="content-sign"></section>
        </div>
        <div class="view-container" data-ng-show="isSpecificPage()">
            <section data-ng-view="" id="content"  style="padding-top: 0px; padding-bottom: 0px;"></section>
        </div>
</div>

<section ng-controller="AppCtrl">
    <div data-ng-hide="isSpecificPage()" class="copyright text-right">
        <p>2017 &copy; SpeedyBook. All Right Reserved</p>
    </div>

    <!-- footer-->
    <footer data-ng-hide="!isSpecificPage()" class="footer">
        <div class="container inner-footer">
            <div class="row">
                <div class="col-md-4">
                    <div class="usefull-links-widget clearfix">
                        <h4>Small Businesses</h4>
                            <ul>
                                <li><a href="//speedybooks.biz/whyspeed.html"><i class="fa fa-angle-right fa-space"></i>Features</a></li>
                                <li><a href="//speedybooks.biz/pricing.html"><i class="fa fa-angle-right fa-space"></i>Pricing</a></li>
                                <li><a href="//app.speedybooks.biz/#/signup_accountant"><i class="fa fa-angle-right fa-space"></i>Accountants</a></li>
                                <li><a href="//help.speedybooks.biz/"><i class="fa fa-angle-right fa-space"></i>Support</a></li>
                                <!-- <li><a href="javascript:;"><i class="fa fa-angle-right fa-space"></i>Partner Program</a></li>
                                <li><a href="javascript:;"><i class="fa fa-angle-right fa-space"></i>Find bookkeepers</a></li> -->
                                <li><a href="//speedybooks.biz/privacy-policy.html"><i class="fa fa-angle-right fa-space"></i>Privacy Policy</a></li>
                                <li><a href="//speedybooks.biz/refund-policy.html"><i class="fa fa-angle-right fa-space"></i>Refund Policy</a></li>
                            </ul>
                            <ul>
                       <!--  <li><a href="javascript:;"><i class="fa fa-angle-right fa-space"></i>Blog</a></li>
                        <li><a href="javascript:;"><i class="fa fa-angle-right fa-space"></i>Careers</a></li> -->
                        
                        <!-- <li><a href="javascript:;"><i class="fa fa-angle-right fa-space"></i>Investors</a></li>
                        <li><a href="javascript:;"><i class="fa fa-angle-right fa-space"></i>About Us</a></li> -->
                        
                    </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="twitter-widget clearfix">
                        <h4>Twitter Feeds</h4>
                        <div class="tweet">
                            <i class="icon-twitter-1"><img src="images/footer.png"> </i>
                            <p><a href="javascript:;">@SpeedyBooks</a> Please kindly use our Support Forum: <a href="#.">speedybooks.biz</a>
                                <span>about a month ago</span>
                            </p>
                        </div>
                        <div class="tweet">
                            <i class="icon-twitter-1"><img src="images/footer.png"> </i>
                            <p><a href="javascript:;">@SpeedyBooks</a> Please kindly use our Support Forum: <a href="#">speedybooks.biz</a>
                                <span>about a month ago</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <div class="contact-text">
                        SpeedyBooks Inc.<br>
                        5250 Old Orchard Rd Suite 300,<br>
                        Skokie, Illinois, 60077<br>
                        847-230-9780<br>
                        support@speedybooks.biz
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid lower-footer text-center">
            <p>Copyright © 2017 SpeedyBooks Inc., All rights reserved. Software Developed by <a href="//topcubit.com" target="_blank">Top Cubit</a></p>
        </div>
    </footer>
</section>

<script src="/bower_components/jquery/dist/jquery.js"></script>

<script src="/bower_components/bootstrap/js/dropdown.js"></script>

<script src="scripts/vendor.js"></script>

<script src="scripts/bootstrap.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-cookies.js"></script>

<script src="scripts/ui.js"></script>

<script src="scripts/app.js"></script>

<script type="text/javascript" src="scripts/highcharts.js"></script>

<script src="scripts/authInterceptorService.js"></script>

<script src="scripts/services/common/commonservices.js"></script>

<script src="scripts/services/items/itemservices.js"></script>

<script src="scripts/controllers/items/itemcontroller.js"></script>

<script src="scripts/services/user/useraccountsservices.js"></script>

<script src="scripts/controllers/user/useraccountcontroller.js"></script>

<script src="scripts/controllers/common/commoncontroller.js"></script>

<script src="scripts/controllers/accounts/authcontroller.js"></script>

<script src="scripts/services/accounts/authservices.js"></script>

<script src="scripts/controllers/user/usercontroller.js"></script>

<script src="scripts/services/user/userservices.js"></script>

 <script src="scripts/controllers/income/invoicecontroller.js"></script>

<script src="scripts/services/income/invoiceservice.js"></script>

<script src="scripts/controllers/income/expensecontroller.js"></script>

<script src="scripts/services/income/expenseservices.js"></script>

<script src="scripts/controllers/payroll/payrollcontroller.js"></script>

<script src="scripts/services/payroll/payrollservices.js"></script>

<script src="scripts/controllers/reimbursement/reimbursementcontroller.js"></script>

<script src="scripts/services/reimbursement/reimbursementservices.js"></script>

<script src="scripts/controllers/dashboard/dashboardController.js"></script>

<script src="scripts/services/dashboard/dashboardservice.js"></script>

<script src="scripts/controllers/report/reportcontroller.js"></script>

<script src="scripts/services/report/reportServices.js"></script>

<script src="scripts/controllers/user/inviteUsercontroller.js"></script>

<script src="scripts/controllers/banking/bankingcontroller.js"></script>

<script src="scripts/services/banking/bankingservices.js"></script>

<script src="scripts/controllers/taxRates/taxRatesController.js"></script>

<script src="scripts/services/taxRates/taxRateServices.js"></script>

<script src="scripts/controllers/CPA/cpaController.js"></script>

<script src="scripts/services/CPA/cpaServices.js"></script>

<script src="scripts/services/user/manageUserService.js"></script>

<script src="scripts/controllers/journal/journalController.js"></script>

<script src="scripts/services/journal/journalServices.js"></script>

<script src="scripts/controllers/cheque/chequeController.js"></script>

<script src="scripts/services/cheque/chequeServices.js"></script>

<script src="scripts/controllers/reconcile/reconcileController.js"></script>

<script src="scripts/services/reconcile/reconcileServices.js"></script>

<script src="scripts/directives/directives.js"></script>

<script src="scripts/chosen.jquery.js"></script>

<script src="scripts/services/common/validator.js"></script>

<script src="/bower_components/moment/moment.js"></script>

<script type="text/javascript" src="/bower_components/ngDatepicker/src/js/ngDatepicker.min.js"></script>

<script type="text/javascript" src="scripts/bootbox.min.js"></script>

<script type="text/javascript" src="scripts/ngBootbox.js"></script>

<!--script type="text/javascript" src="/bower_components/ng-mask/ng-mask-1.0.1.js"></script-->

<!--script src="scripts/authentication/authInterceptorService.js"></script--><!--ends-->
<script>
    $(function(){
        $("#menu-toggle").click(function(){
            $("body").toggleClass("side-barshow");
        });
        $("#mega-drop").click(function(){
            $("#mega-drop").toggleClass("rotate");
        });
    });
</script>
</body>
</html>