<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="cpaReportsCtrl">
    <div class="row" ng-show="profitandLossReport == 0">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses custom-panel-head col-lg-12">
                    <div class="col-lg-4">
                        <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/cpa/reports/{{ businessProfileId }}">Report list</a></span><h3>Profit and Loss</h3>
                    </div>
                </div>
                <div class="panel-body" style="padding: 5px 15px;">
                    <form role="form" data-ng-model="profitLoss">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group custom-form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="1" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="profitLoss.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="profitLoss.to" id="to"></ng-datepicker>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="profitLoss.basis" value="cash">Cash</label>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="profitLoss.basis" value="accrual">Accrual</label>
                            </div>
                            <div class="form-group col-sm-6 reports-submit-button">
                                <div class="col-sm-6">
                                    <button type="submit" tabindex="4"  ng-click="profitandLoss()" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="profitandLossShow == 1">
                <div ng-show="profitLoss_income.length !=0 || profitLoss_expense.length !=0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="{{ profitandLossPdfPath }}">As PDF</a></li>
                                    <li><a href="{{ profitandLossCsvPath }}">As Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> Profit and Loss Report</h4>
                        <h3 class="text-center">{{ profitLoss_date.from }} - {{ profitLoss_date.to }}</h3>
                        <div class="panel panel-default balanceSheet">
                            <div class="panel-body">
                                <div class="row">
                                    <div><strong>Income</strong></div>
                                    <!-- <hr/> -->
                                    <div class="row">
                                        <div class="col-md-12" ng-repeat="(key, value) in profitLoss_income">
                                            <hr/>
                                            <span class="parent-account">{{ key }}</span>
                                            <div class="row" ng-repeat="(account, amount) in value">
                                                <hr/>
                                                <div class="col-md-10">
                                                    <a href="javascript:;" ng-click="getProfitandLossList('invoice', account)"><span class="account">{{ account }}</span></a>
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="pull-right">{{ amount | number:2 }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr/>
                                        <div class="col-md-10">
                                            <span><strong>Total Income</strong></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="pull-right"><strong>${{ totalIncome | number:2 }}</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div><strong>Expense</strong></div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-12" ng-repeat="(key, value) in profitLoss_expense">
                                            <hr/>
                                            <span class="parent-account">{{ key }}</span>
                                            <div class="row" ng-repeat="(account, amount) in value">
                                                <hr/>
                                                <div class="col-md-10">
                                                    <a href="javascript:;" ng-click="getProfitandLossList('expense', account)"><span class="account">{{ account }}</span></a>
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="pull-right">{{ amount | number:2 }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr/>
                                        <div class="col-md-10">
                                            <span><strong>Total Expense</strong></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="pull-right"><strong>${{ totalExpense | number:2 }}</strong></span>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="totalIncome > totalExpense">
                                        <hr/>
                                        <div class="col-md-10">
                                            <span><strong>Net Profit</strong></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="pull-right"><strong>${{ totalIncome - totalExpense | number:2 }}</strong></span>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="totalIncome < totalExpense">
                                        <hr/>
                                        <div class="col-md-10">
                                            <span><strong>Net Loss</strong></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="pull-right"><strong>{{ totalIncome - totalExpense | number:2 }}</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="profitLoss_income.length ==0 && profitLoss_expense.length ==0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>

    <div class="row" ng-show="profitandLossList == 1">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading text-uppercase expenses col-lg-12 custom-panel-head">
                    <div class="col-lg-12">
                        <i class="fa fa-angle-left" aria-hidden="true"></i><span class="report_link"> <a href="#/reports">Report list</a></span><i class="fa fa-angle-left" aria-hidden="true"></i><span class="report_link"> <a href="javascript:;" ng-click="back()">Profit and Loss</a></span><h3>{{ profitandLossDetails[0].account }} Reports</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                    <h4 class="text-center"> {{ profitandLossDetails[0].account }} Report</h4>
                    <h3 class="text-center">{{ profitLoss_date.from }} - {{ profitLoss_date.to }}</h3>
                    <div class="expenses">
                        <div class="table-responsive">
                            <table class="table table-bordered ">
                                <thead class="">
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Account</th>
                                    <th><span class="pull-right">Amount</span></th>
                                    <th><span class="pull-right">Balance</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="data in profitandLossDetails">
                                    <td>{{ data.date }}</td>
                                    <td>
                                        <a ng-show="data.transactionType == 'Invoice'" href="#/invoice_details/{{ data.id }}">{{ data.transactionType }}</a>
                                        <a ng-show="data.transactionType == 'Expense'" href="#/expenses/view/{{ data.id }}">{{ data.transactionType }}</a>
                                        <a ng-show="data.transactionType == 'Journal'" href="#/journal_details/{{ data.id }}">{{ data.transactionType }}</a>
                                    </td>
                                    <td>{{ data.no }}</td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.account }}</td>
                                    <td><span class="pull-right">{{ data.amount | number:2 }}</span></td>
                                    <td><span class="pull-right">{{ data.balance | number: 2 }}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><strong>Total</strong></td>
                                    <td><span class="pull-right"><strong>${{ total | number:2 }}</strong></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>