<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" data-ng-controller="cpaCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Reports</strong></div>
                <!-- Accordion -->
                <section class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <legend>Financial Purchase</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/balance-sheet/{{ businessProfileId }}">Balance Sheet</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/aged-payables/{{ businessProfileId }}">Aged Payables</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/cash-summary/{{ businessProfileId }}">Cash Summary</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/profit-and-loss/{{ businessProfileId }}">Profit & Loss</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/journal-report/{{ businessProfileId }}">Journal Report</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/general-ledger/{{ businessProfileId }}">General Ledger Report</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/trial_balance/{{ businessProfileId }} ">Trial Balance</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/cash_flow_report/{{ businessProfileId }}">Cash Flow Statement</a></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <legend>Accounting Inventory</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/accounting_transaction/{{ businessProfileId }}">Detailed Account Transaction</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/sale_by_items/{{ businessProfileId }}">Item Details</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <legend>Sales</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/aged-receivables/{{ businessProfileId }}">Aged Receivables</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/customer_invoice_report/{{ businessProfileId }}">Customer Invoice details</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/invoice_receivables/{{ businessProfileId }}">Invoice Receivables Report</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><a href="#/cpa/tax-report/{{ businessProfileId }}">Tax Report</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end Accordion -->
            </section>
        </div>
    </div>
</div>