<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="cpaReportsCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses col-lg-12 custom-panel-head">
                    <div class="col-lg-4">
                        <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/cpa/reports/{{ businessProfileId }}">Report list</a></span><h3>Trial Balance Report</h3>
                    </div>
                </div>

                <div class="panel-body">
                    <form role="form" data-ng-model="trailBalance">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group custom-form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="1" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="trailBalance.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="trailBalance.to" id="to"></ng-datepicker>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="trailBalance.basis" value="cash">Cash</label>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="trailBalance.basis" value="accrual">Accrual</label>
                            </div>
                            <div class="form-group col-sm-6 reports-submit-button">
                                <div class="col-sm-6">
                                    <button type="submit" tabindex="4"  ng-click="getTrailBalance()" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="trailBalanceShow == 1">
                <div ng-show="trailBalanceData.length !=0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="{{ trailBalancePdfPath }}">As PDF</a></li>
                                    <li><a href="{{ trailBalanceCsvPath }}">As Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> Trail Balance Report</h4>
                        <h3 class="text-center">{{ trailBalanceDate.from }} - {{ trailBalanceDate.to }}</h3>

                        <div class="panel panel-default balanceSheet">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3"><strong class="pull-right">Debit</strong></div>
                                    <div class="col-md-3"><strong class="pull-right">Credit</strong></div>
                                </div>

                                <div class="row" data-ng-repeat="(key, value) in trailBalanceData">
                                    <hr/>
                                    <div class="col-md-12"><strong>{{ key }}</strong>
                                        <div class="row" data-ng-repeat="(k, v) in value">
                                            <hr/>
                                            <div class="col-md-6"><span class="sub-content">{{ v.name }}</span></div>
                                            <div class="col-md-3"><span class="pull-right">{{ v.debit | number:2 }}</span></div>
                                            <div class="col-md-3"><span class="pull-right">{{ v.credit | number:2 }}</span></div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-6"><strong>Total</strong></div>
                                    <div class="col-md-3"><strong class="pull-right">${{ totalDebit | number:2 }}</strong></div>
                                    <div class="col-md-3"><strong class="pull-right">${{ totalCredit | number:2 }}</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="trailBalanceData.length ==0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>
</div>