<aside data-ng-include=" 'views/css/specific.html' " ></aside>
<div class="container" ng-cloak>
    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12" >
                        <div class="well">
                            <h1>404 Page Not found <span>:(</span></h1>
                            <p>Sorry, but the page you were trying to view does not exist.</p>
                            <p>It looks like this was the result of either:</p>
                            <ul>
                                <li>a mistyped address</li>
                                <li>an out-of-date link</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>