<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="bankingCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" ng-init="getBankAccountList();">
                <div class="panel-body">
                    <br />
                    <div class="col-md-12">
                        <div class="col-md-7 text-center">
                            <br />
                            <h3 class="">Connect Your Bank with <span class="orange">Speedybook</span></h3>
                            <a ng-show="userPermission == null || (userPermission != null && bankingPermission == 'Edit')" href="#/banking/upload/csv" class="btn btn-primary">Upload CSV</a>
                        </div>
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading text-uppercase">
                                    Bank Information <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            {{ bankAccountLists.account.name || account_name }}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" >
                                            <li data-ng-repeat="account in accountLists"><a href="javascript:;" ng-click="getBankAccountDetail(account.id, account.name)">{{ account.name }}</a>
                                            <li class="divider"></li>
                                            <li><a href="javascript:;" data-toggle="modal" data-target="#accountForm">Add Account</a></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body bank-detail">
                                    <h5 class="text-uppercase color1">{{ bankAccountLists.account.name || account_name }}</h5>
                                    <ul>
                                        <li>
                                            <label>Bank Balance</label>
                                            $ 0.00
                                        </li>
                                        <li>
                                            <label>In SpeedyBooks</label>
                                           $ {{ speedybooksBalance || 0.00 }}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <hr />
                    <div class="col-sm-12 expenses">
                        <ul class="nav nav-tabs tab-navigation">
                            <li ng-class="{'active': match == 1}">
                                <a data-toggle="tab" ng-click="getMatchTransaction()">Match </a>
                            </li>
                            <li ng-class="{'active': inSpeedybooks == 1}">
                                <a data-toggle="tab" ng-click="getSpeedybookTransaction()">Transaction in SpeedyBooks</a>
                            </li>
                        </ul>
                        <div ng-show="match == 1" class="tab-content">
                            <div class="tab-pane fade in active">
                                <div class="table-responsive">
                                    <section class="panel panel-default table-dynamic">
                                        <div class="table-filters">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-6">
                                                    <form>
                                                        <input type="text"
                                                               placeholder="search"
                                                               class="form-control"
                                                               data-ng-model="searchKeywords"
                                                               data-ng-keyup="search()">
                                                    </form>
                                                </div>
                                                <div class="col-sm-4 col-xs-6 filter-result-info">
                                            <span>
                                                Showing {{filteredStores.length}}/{{bankTransaction.length}} entries
                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                        <table class="table table-bordered table-striped table-responsive">
                                            <thead>
                                            <tr>
                                                <th><div class="th"></div></th>
                                                <th><div class="th">
                                                    Date
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('date') "
                                                          data-ng-class="{active: row == 'date'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-date') "
                                                          data-ng-class="{active: row == '-date'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Description
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('description') "
                                                          data-ng-class="{active: row == 'description'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-description') "
                                                          data-ng-class="{active: row == '-description'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Payee
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('payee') "
                                                          data-ng-class="{active: row == 'payee'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-payee') "
                                                          data-ng-class="{active: row == '-payee'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Category Or Match
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('category') "
                                                          data-ng-class="{active: row == 'category'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-category') "
                                                          data-ng-class="{active: row == '-category'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Spent
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('amount') "
                                                          data-ng-class="{active: row == 'amount'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-amount') "
                                                          data-ng-class="{active: row == '-amount'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Received
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('amount') "
                                                          data-ng-class="{active: row == 'amount'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-amount') "
                                                          data-ng-class="{active: row == '-amount'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Action
                                                </div></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-show="currentPageStores.length == 0">
                                                <td colspan="8">No Record Found</td>
                                            </tr>
                                            <tr data-ng-repeat="transaction in currentPageStores">
                                                <td><input type="checkbox" /></td>
                                                <td>{{ transaction.date }}</td>
                                                <td>{{ transaction.description }}</td>
                                                <td></td>
                                                <td><a href="javascript:;" ng-click="openTransactionAccount(transaction.id)">{{ transaction.category }}</a></td>
                                                <td>
                                                    <span ng-show="transaction.type == 'Expense'">$ {{ transaction.amount }}</span>
                                                </td>
                                                <td>
                                                    <span ng-show="transaction.type == 'Income'">$ {{ transaction.amount }}</span>
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li><a href="javascript:;" ng-click="openJournalForm(transaction.id, transaction.amount)">Add</a></li>
                                                            <li><a href="#" ng-click="delete(transaction.id)">Delete</a></li>
                                                            <li><a href="javascript:;" ng-show="transaction.type == 'Income'" ng-click="markReceivePayment(transaction.id)">Mark Against Receive Payment</a></li>
                                                            <li><a href="javascript:;" ng-show="transaction.type == 'Expense'" ng-click="markMakePayment(transaction.id)">Mark Against Make Payment</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <footer class="table-footer">
                                            <div class="row">
                                                <div class="col-md-6 page-num-info">
                                            <span>
                                                Show
                                                <select data-ng-model="numPerPage"
                                                        data-ng-options="num for num in numPerPageOpt"
                                                        data-ng-change="onNumPerPageChange()">
                                                </select>
                                                entries per page
                                            </span>
                                                </div>
                                                <div class="col-md-6 text-right pagination-container">
                                                    <pagination class="pagination-sm"
                                                                page="currentPage"
                                                                total-items="filteredStores.length"
                                                                max-size="4"
                                                                on-select-page="select(page)"
                                                                items-per-page="numPerPage"
                                                                rotate="false"
                                                                boundary-links="true"></pagination>
                                                </div>
                                            </div>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>

                        <div ng-show="inSpeedybooks == 1" class="tab-content">
                            <div class="tab-pane fade in active">
                                <div class="table-responsive">
                                    <section class="panel panel-default table-dynamic">
                                        <div class="table-filters">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-6">
                                                    <form>
                                                        <input type="text"
                                                               placeholder="search"
                                                               class="form-control"
                                                               data-ng-model="searchKeywords"
                                                               data-ng-keyup="search()">
                                                    </form>
                                                </div>
                                                <div class="col-sm-4 col-xs-6 filter-result-info">
                                            <span>
                                                Showing {{filteredStores.length}}/{{bankTransaction.length}} entries
                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                        <table class="table table-bordered table-striped table-responsive">
                                            <thead>
                                            <tr>
                                                <th><div class="th"></div></th>
                                                <th><div class="th">
                                                    Date
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('date') "
                                                          data-ng-class="{active: row == 'date'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-date') "
                                                          data-ng-class="{active: row == '-date'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Description
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('description') "
                                                          data-ng-class="{active: row == 'description'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-description') "
                                                          data-ng-class="{active: row == '-description'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Payee
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('payee') "
                                                          data-ng-class="{active: row == 'payee'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-payee') "
                                                          data-ng-class="{active: row == '-payee'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Category Or Match
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('category') "
                                                          data-ng-class="{active: row == 'category'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-category') "
                                                          data-ng-class="{active: row == '-category'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Spent
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('amount') "
                                                          data-ng-class="{active: row == 'amount'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-amount') "
                                                          data-ng-class="{active: row == '-amount'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Received
                                                    <span class="glyphicon glyphicon-chevron-up"
                                                          data-ng-click=" order('amount') "
                                                          data-ng-class="{active: row == 'amount'}"></span>
                                                    <span class="glyphicon glyphicon-chevron-down"
                                                          data-ng-click=" order('-amount') "
                                                          data-ng-class="{active: row == '-amount'}"></span>
                                                </div></th>
                                                <th><div class="th">
                                                    Action
                                                </div></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-show="currentPageStores.length == 0">
                                                <td colspan="8">No Record Found</td>
                                            </tr>
                                            <tr data-ng-repeat="transaction in currentPageStores">
                                                <td><input type="checkbox" /></td>
                                                <td>{{ transaction.date }}</td>
                                                <td>{{ transaction.description }}</td>
                                                <td></td>
                                                <td><a href="javascript:;" ng-click="openTransactionAccount(transaction.id)">{{ transaction.category }}</a></td>
                                                <td>
                                                    <span ng-show="transaction.type == 'Expense'">$ {{ transaction.amount }}</span>
                                                </td>
                                                <td>
                                                    <span ng-show="transaction.type == 'Income'">$ {{ transaction.amount }}</span>
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li><a href="#" ng-click="undoTransaction(transaction.id)">Undo</a></li>
                                                            <li><a href="#" ng-click="delete(transaction.id)">Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <footer class="table-footer">
                                            <div class="row">
                                                <div class="col-md-6 page-num-info">
                                            <span>
                                                Show
                                                <select data-ng-model="numPerPage"
                                                        data-ng-options="num for num in numPerPageOpt"
                                                        data-ng-change="onNumPerPageChange()">
                                                </select>
                                                entries per page
                                            </span>
                                                </div>
                                                <div class="col-md-6 text-right pagination-container">
                                                    <pagination class="pagination-sm"
                                                                page="currentPage"
                                                                total-items="filteredStores.length"
                                                                max-size="4"
                                                                on-select-page="select(page)"
                                                                items-per-page="numPerPage"
                                                                rotate="false"
                                                                boundary-links="true"></pagination>
                                                </div>
                                            </div>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addTransactionAccount" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form role="form">
                <div class="modal-content" style="height: 400px;">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancelTransactionAccount();">&times;</button>
                        <h4 class="modal-title">Account</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <input type="hidden" data-ng-model="addtransaction.id" data-ng-value="addtransaction.id">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label" for="MainAccount">Account</label>
                                <select  tabindex="4" required ng-click="label.click" class="form-control" id="MainAccount"  data-ng-model="addtransaction.account_id"  ng-options="label.id as label.name group by label.type for label in accounts">
                                    <option value="">Select Option</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label" for="description">Description</label>
                                <textarea type="text"  class="form-control" rows="3"  tabindex="2" data-ng-model="addtransaction.description" placeholder="Description"></textarea>
                            </div>
                        </div>

                        <div class="form-group col-md-12 text-center">
                            <div class="clearfix"><hr /></div>
                            <a href="javascript:;"  class="btn btn-default pull-right" ng-click="cancelTransactionAccount();">Cancel</a>
                            <button type="submit" class="btn btn-primary orange-btn pull-right" ng-click="addTransactionAccount();" >Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="dueInvoice" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form role="form">
                <div class="modal-content" style="height: 460px;">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancelDueInvoice();">&times;</button>
                        <h4 class="modal-title">Account</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" for="invoiceNo">Select Invoice</label>
                                <select  tabindex="1" ng-click="label.click" ng-change="selectDueInvoice(invoice.id)"
                                         ng-options="label.id as label.invoice_no for label in dueInvoices"
                                         required class="form-control" id="invoiceNo" data-ng-model="invoice.id">
                                    <option value="">Please select invoice</option>
                                </select>
                                <span ng-show="emailError" class="error">Please select Invoice No</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Payment Date</label>
                                <ng-datepicker  tabindex="1" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.date" id="date"></ng-datepicker>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" for="reference">Reference</label>
                                <input type="text"  class="form-control" required tabindex="3" data-ng-model="invoice.reference" id="reference" placeholder="Reference">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="paymentMethod">Payment Method</label>
                                <select  tabindex="4" ng-click="label.click" class="form-control" id="paymentMethod"  data-ng-model="invoice.payment_method">
                                    <option value="">Select Option</option>
                                    <option value="CASH">Cash</option>
                                    <option value="CHEQUE">Cheque</option>
                                    <option value="CREDIT CARD">Credit Card</option>
                                    <option value="BANK TRANSFER">Bank Transfer</option>
                                </select>
                                <span ng-show="paymentMethodError" class="error">Please select payment method</span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="paymentReference">Payment Method Reference</label>
                                <input type="text"  class="form-control"  tabindex="6" data-ng-model="invoice.payment_method_reference" id="paymentReference" placeholder="Payment Reference">
                                <span class="error">{{main.error_message.payment_method_reference_error}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6" ng-show="invoice.payment_method == 'CREDIT CARD'">
                                <label for="creditCardNo">Card No</label>
                                <input type="text" class="form-control"  tabindex="5" data-ng-model="invoice.credit_card_no" id="creditCardNo" placeholder="Credit Card No">
                                <span class="error">{{main.error_message.credit_card_no_error}}</span>
                            </div>
                        </div>

                        <div class="form-group col-md-12 text-center">
                            <div class="clearfix"><hr /></div>
                            <a href="javascript:;"  class="btn btn-default pull-right" ng-click="cancelDueInvoice();">Cancel</a>
                            <button type="submit" class="btn btn-primary orange-btn pull-right" ng-click="receivePayment();" >Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="dueExpense" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form role="form">
                <div class="modal-content" style="height: 400px;">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancelDueExpense();">&times;</button>
                        <h4 class="modal-title">Account</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" for="invoiceNo">Select Expense</label>
                                <select  tabindex="1" ng-click="label.click" ng-change="selectDueExpense(expense.id)"
                                         ng-options="label.id as label.expense_no for label in dueExpenses"
                                         required class="form-control" id="expenseNo" data-ng-model="expense.id">
                                    <option value="">Please select expense</option>
                                </select>
                                <span ng-show="emailError" class="error">Please select expense No</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Payment Date</label>
                                <ng-datepicker  tabindex="1" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="expense.date"></ng-datepicker>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" for="Expreference">Reference</label>
                                <input type="text"  class="form-control" required tabindex="3" data-ng-model="expense.reference" id="Expreference" placeholder="Reference">
                            </div>
                        </div>

                        <div class="form-group col-md-12 text-center">
                            <div class="clearfix"><hr /></div>
                            <a href="javascript:;"  class="btn btn-default pull-right" ng-click="cancelDueExpense();">Cancel</a>
                            <button type="submit" class="btn btn-primary orange-btn pull-right" ng-click="makePayment();" >Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="addJournal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form role="form">
                <div class="modal-content" style="height: 400px;">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancelAddJournal();">&times;</button>
                        <h4 class="modal-title">Account</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" for="narration">Narration</label>
                                <input type="text"  class="form-control" required tabindex="1" data-ng-model="journal.name" id="narration" placeholder="Narration">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" for="journalAccount">Select Account</label>
                                <select  tabindex="4" required ng-click="label.click" class="form-control" id="journalAccount"  data-ng-model="journal.account_id"  ng-options="label.id as label.name group by label.type for label in accounts">
                                    <option value="">Select Option</option>
                                </select>
                                <span ng-show="journalError" class="error">Please select account</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Date</label>
                                <ng-datepicker  tabindex="3" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="journal.date"></ng-datepicker>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" for="Journaldescription">Description</label>
                                <input type="text"  class="form-control" required tabindex="4" data-ng-model="journal.description" id="Journaldescription" placeholder="Description">
                            </div>
                        </div>

                        <div class="form-group col-md-12 text-center">
                            <div class="clearfix"><hr /></div>
                            <a href="javascript:;"  class="btn btn-default pull-right" ng-click="cancelAddJournal();">Cancel</a>
                            <button type="submit" class="btn btn-primary orange-btn pull-right" ng-click="addJournal();" >Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<section ng-controller="accountCtrl" data-ng-include=" 'views/chartAccount/add_accounts.html' " ></section>