<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reconcileCtrl">
    <div class="row" ng-init="getReconcileData()">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <strong><span class="glyphicon glyphicon-th"></span> Reconcile Report</strong>
                </div>
                <div class="panel-body">
                    <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                    <h4 class="text-center"> Reconciliation Report</h4>
                    <h3 class="text-center">{{ reconcileReportData.account.name }}, Period  Ending {{ reconcileReportData.reconcile_on }}</h3>
                    <div class="" >
                        <div class="panel panel-default balanceSheet">
                            <div class="panel-body">
                                <div class="row">
                                    <div><strong>Summary</strong></div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="parent-account"></span>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    Statement Beginning Balance
                                                </div>
                                                <div class="col-md-2">
                                                    <span>{{ reconcileReportData.beginning_balance }}</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-10">
                                                    Cheques and Payments cleared
                                                </div>
                                                <div class="col-md-2">
                                                    <span>-{{ reconcileReportData.cheque_payments }}</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-10">
                                                    Deposits and Other Credits cleared
                                                </div>
                                                <div class="col-md-2">
                                                    <span>+{{ reconcileReportData.deposite_payments }}</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-10">
                                                    Adjustment
                                                </div>
                                                <div class="col-md-2">
                                                    <span>+{{ reconcileReportData.auto_adjustment }}</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-10">
                                                    Statement Ending Balance
                                                </div>
                                                <div class="col-md-2">
                                                    <span>{{ reconcileReportData.ending_balance }}</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-10">
                                                    Register Balance as of {{ reconcileReportData.reconcile_on }}
                                                </div>
                                                <div class="col-md-2">
                                                    <span>{{ reconcileReportData.ending_balance }}</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <hr/>
                                <div class="row">
                                    <div><strong>Details</strong></div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="parent-account"></span>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    Cheques and Payments cleared
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="parent-account"></span>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered ">
                                                        <thead class="">
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Type</th>
                                                            <th>No</th>
                                                            <th>Name</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr data-ng-repeat="data in reconcileReportData.cheque_payment_data">
                                                            <td>{{ data.date }}</td>
                                                            <td>{{ data.type }}</td>
                                                            <td>{{ data.no }}</td>
                                                            <td>{{ data.name }}</td>
                                                            <td>-{{ data.amount }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4">Total</td>
                                                            <td>-{{ reconcileReportData.cheque_payments }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="parent-account"></span>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    Deposits and Other Credits cleared
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="parent-account"></span>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered ">
                                                        <thead class="">
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Type</th>
                                                            <th>No</th>
                                                            <th>Name</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr data-ng-repeat="data in reconcileReportData.deposite_payment_data">
                                                            <td>{{ data.date }}</td>
                                                            <td>{{ data.type }}</td>
                                                            <td>{{ data.no }}</td>
                                                            <td>{{ data.name }}</td>
                                                            <td>{{ data.amount }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4">Total</td>
                                                            <td>{{ reconcileReportData.deposite_payments }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>