<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="inviteUserPermissionShowHide(userPermission);">
            <section ng-init="getExpenseType('RECURRING')" class="panel panel-default table-dynamic">
                <div class="panel-heading text-uppercase expenses"> Recurring Expenses List
                    <div class="pull-right" ng-show="userPermission == null || userPermission.cpa_permission == 1">
                        <a href="#/add_expense_recurring" class="btn orange-btn">Record Recurring Expense</a>
                    </div>
                </div>
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="search"
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-4 col-xs-6 filter-result-info">
                            <span>
                                Showing {{filteredStores.length}}/{{expenseType.length}} entries
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th><div class="th">
                            Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('date') "
                                  data-ng-class="{active: row == 'date'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-date') "
                                  data-ng-class="{active: row == '-date'}"></span>
                        </div></th>
                        <th><div class="th">
                            Vendor
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('vendor[0].first_name') "
                                  data-ng-class="{active: row == 'vendor[0].first_name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-vendor[0].first_name') "
                                  data-ng-class="{active: row == '-vendor[0].first_name'}"></span>
                        </div></th>
                        <th><div class="th">
                            Type
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('type') "
                                  data-ng-class="{active: row == 'type'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-type') "
                                  data-ng-class="{active: row == '-type'}"></span>
                        </div></th>
                        <th><div class="th">
                            Action
                        </div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="currentPageStores.length == 0">
                        <td colspan="5">No Record Found</td>
                    </tr>
                    <tr data-ng-repeat="expense in currentPageStores">
                        <td>{{expense.date}}</td>
                        <td>{{expense.vendor[0].first_name}} {{invoice.vendor[0].last_name}}</td>
                        <td>{{expense.type}}</td>
                        <td class="expenses">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#/expenses/view/{{expense.id}}">View</a></li>
                                    <li ng-show="userPermission == null || userPermission.cpa_permission == 1"><a href="#" ng-click="deleteExpense(expense.id)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>