<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="inviteUserPermissionShowHide(userPermission);">
            <section ng-init="getTypeInvoices('INVOICE')" class="panel panel-default table-dynamic">
                <div class="panel-heading text-uppercase expenses"> Invoice Transactions
                    <div class="pull-right" ng-show="userPermission == null || userPermission.cpa_permission == 1">
                        <a href="#/add_invoice" class="btn orange-btn">Add Invoice</a>
                    </div>
                </div>
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="search"
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-4 col-xs-6 filter-result-info">
                            <span>
                                Showing {{filteredStores.length}}/{{typeInvoices.length}} entries
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th><div class="th">
                                Invoice Number
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('invoice_no') "
                                      data-ng-class="{active: row == 'invoice_no'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-invoice_no') "
                                      data-ng-class="{active: row == '-invoice_no'}"></span>
                            </div></th>
                            <th><div class="th">
                                Date
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('date') "
                                      data-ng-class="{active: row == 'date'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-date') "
                                      data-ng-class="{active: row == '-date'}"></span>
                            </div></th>
                            <th><div class="th">
                                Customer
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('customer[0].first_name') "
                                      data-ng-class="{active: row == 'customer[0].first_name'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-customer[0].first_name') "
                                      data-ng-class="{active: row == '-customer[0].first_name'}"></span>
                            </div></th>
                            <th><div class="th">
                                Due date
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('due_date') "
                                      data-ng-class="{active: row == 'due_date'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-due_date') "
                                      data-ng-class="{active: row == '-due_date'}"></span>
                            </div></th>
                            <th><div class="th">
                                Items
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('item_name') "
                                      data-ng-class="{active: row == 'item_name'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-item_name') "
                                      data-ng-class="{active: row == '-item_name'}"></span>
                            </div></th>
                            <th><div class="th">
                                Status
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('payment_status') "
                                      data-ng-class="{active: row == 'payment_status'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-payment_status') "
                                      data-ng-class="{active: row == '-payment_status'}"></span>
                            </div></th>
                            <th><div class="th">
                                Action
                            </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="currentPageStores.length == 0">
                            <td colspan="8">No Record Found</td>
                        </tr>
                        <tr data-ng-repeat="invoice in currentPageStores">
                            <td>{{invoice.invoice_no}}</td>
                            <td>{{invoice.date}}</td>
                            <td>{{invoice.customer[0].first_name}} {{invoice.customer[0].last_name}}</td>
                            <!-- <td>{{invoice.type}}</td> -->
                            <td>{{invoice.due_date}}</td>
                            <td>{{invoice.item_name}}</td>
                            <td>{{invoice.payment_status}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#/invoice_details/{{invoice.id}}">View</a></li>
                                        <li ng-show="userPermission == null || userPermission.cpa_permission == 1 || (userPermission != null && invoicePermission == 'Edit')"><a href="#/invoice/edit/{{invoice.id}}">Edit</a></li>
                                        <li ng-show="userPermission == null || userPermission.cpa_permission == 1"><a href="#" ng-click="delete(invoice.id)">Void</a></li>
                                        <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) && invoice.status != 'DRAFT'"><a href="javascript:;" ng-click="openResendInvoice(invoice.id)">Resend</a></li>
                                        <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) && invoice.status != 'DRAFT' && (invoice.payment_status == 'Open' || invoice.payment_status == 'Over Due')">
                                            <a href="#/invoice/receive/payment/{{invoice.id}}">Receive Payment</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>

<div id="sendEmail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form role="form" data-ng-model="resendInvoice">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelEmail();">&times;</button>
                    <h4 class="modal-title">Send Email</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="main.alert" class="alert alert-success">
                        {{main.alert}}
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Email :</label>
                            <input type="email" class="form-control" ng-model="resendInvoice.sendEmailTo" placeholder="Enter Email">
                            <span ng-show="emailError" class="error">Please enter a valid email address</span>
                        </div>
                        <div class="form-group col-md-12 text-center">
                            <div class="clearfix"><hr /></div>
                            <button type="submit" class="btn btn-gray pull-right" ng-click="cancelEmail();">Cancel</button>
                            <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="sendInvoice();" >Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>