<!-- List group -->
<div class=" col-sm-12">
    <div class="col-md-6">
        <div class="panel panel-default expenses" ng-init="addNewNotes();">
            <div class="panel-heading">Notes</div>
            <div class="panel-body" ng-repeat="(index, notes) in invoice.notes">
                <div class="form-group plus-button">
                    <div class="col-md-12 expenses">
                        <textarea class="form-control" rows="4" tabindex="24" ng-model="notes.Notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List group -->

    <div class="col-md-6">
        <div class="form-horizontal panel panel-default">
            <div class="panel-heading">Total</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-sm-4">Total Discount</label>
                    <div class="col-sm-8">
                        <input  class="form-control" tabindex="25" ng-change="calculateTotalAmount()" type="number" ng-model="invoice.discount" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Select tax</label>
                    <div class="col-sm-8">
                        <select  tabindex="1" chosen data-ng-model="invoice.tax_rate_id" data-ng-change="calculateTotalAmount()" class="form-control" ng-options="label.id as label.name for label in taxRates">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Total Tax ({{ invoice.tax }}%)</label>
                    <div class="col-sm-8 amount">
                        <h4>{{invoice.taxAmount}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Total Amount</label>
                    <div class="col-sm-8 amount">
                        <h4>${{invoice.totalAmount}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section data-ng-include=" 'views/income/send_email_popup.html' " ></section>
    <!-- end List group -->
</div>

<div class="col-sm-12">
    <div class="col-md-6">
        <div class="panel panel-default expenses">
            <div class="panel-heading">Attachment</div>
            <div class="panel-body">
                <div class="form-group plus-button">
                    <div class="col-md-12 expenses">
                        <input type="hidden" name="logo" data-ng-model="invoice.attachment">
                        <input type="file" tabindex="15" id="Logo" name="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-md-6">
        <button type="submit" tabindex="28"  ng-click="cancel();" class="btn btn-dark">Discard</button>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-group-line-seperator" ng-click="approve();">Save</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="javascript:;" ng-click="openEmailPopup()">Save & Send</a></li>
                <li><a href="javascript:;" ng-click="saveInvoice();">Draft Invoice</a></li>
                <!--<li><a href="javascript:;" ng-click="approve();">Approved Invoice</a></li>-->
            </ul>
        </div>
    </div>
</div>