<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="inviteUserPermissionShowHide(userPermission);">
            <section ng-init="getPurchaseOrder()" class="panel panel-default table-dynamic">
                <div class="panel-heading text-uppercase expenses"> Purchase Order List
                    <div class="pull-right" ng-show="userPermission == null || userPermission.cpa_permission == 1">
                        <a href="#/add_purchase_order" class="btn orange-btn">Create Purchase Order</a>
                    </div>
                </div>
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="search"
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-4 col-xs-6 filter-result-info">
                            <span>
                                Showing {{filteredStores.length}}/{{expenseType.length}} entries
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th><div class="th">
                            Purchase Order No
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('purchase_order_no') "
                                  data-ng-class="{active: row == 'purchase_order_no'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-purchase_order_no') "
                                  data-ng-class="{active: row == '-purchase_order_no'}"></span>
                        </div></th>
                        <th><div class="th">
                            Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('date') "
                                  data-ng-class="{active: row == 'date'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-date') "
                                  data-ng-class="{active: row == '-date'}"></span>
                        </div></th>
                        <th><div class="th">
                            Customer
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('vendor.first_name') "
                                  data-ng-class="{active: row == 'vendor.first_name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-vendor.first_name') "
                                  data-ng-class="{active: row == '-vendor.first_name'}"></span>
                        </div></th>
                        <th><div class="th">
                            Delivery Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('delivery_date') "
                                  data-ng-class="{active: row == 'delivery_date'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-delivery_date') "
                                  data-ng-class="{active: row == '-delivery_date'}"></span>
                        </div></th>
                        <th><div class="th">
                            Status
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('status') "
                                  data-ng-class="{active: row == 'status'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-status') "
                                  data-ng-class="{active: row == '-status'}"></span>
                        </div></th>
                        <th><div class="th">
                            Action
                        </div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="currentPageStores.length == 0">
                        <td colspan="6">No Record Found</td>
                    </tr>
                    <tr data-ng-repeat="expense in currentPageStores">
                        <td>{{expense.purchase_order_no}}</td>
                        <td>{{expense.date}}</td>
                        <td>{{expense.vendor.first_name}} {{invoice.vendor.last_name}}</td>
                        <td>{{expense.delivery_date}}</td>
                        <td>{{expense.status}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#/purchase_order_details/{{expense.id}}">View</a></li>
                                    <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) || (userPermission != null && expensePermission == 'Edit')"><a href="#/purchase_order/edit/{{expense.id}}">Edit</a></li>
                                    <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) || (userPermission != null && expensePermission == 'Edit')"><a href="#" ng-click="deletePurchaseOrder(expense.id)">Void</a></li>
                                    <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) && expense.status != 'DRAFT' || (userPermission != null && expensePermission == 'Edit')"><a href="javascript:;" ng-click="openResend(expense.id)">Send Reminder</a></li>
                                    <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) || (userPermission != null && expensePermission == 'Edit')"><a href="#/convert/expense/{{expense.id}}">Convert to Expense</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>

<div id="sendEmail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form role="form" data-ng-model="resendPurchaseOrder">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelEmail();">&times;</button>
                    <h4 class="modal-title">Send Email</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="main.alert" class="alert alert-success">
                        {{main.alert}}
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Email :</label>
                            <input type="email" class="form-control" ng-model="resendPurchaseOrder.sendEmailTo" placeholder="Enter Email">
                            <span ng-show="emailError" class="error">Please enter a valid email address</span>
                        </div>
                        <div class="form-group col-md-12 text-center">
                            <div class="clearfix"><hr /></div>
                            <button type="submit" class="btn btn-gray pull-right" ng-click="cancelEmail();">Cancel</button>
                            <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="sendPurchaseOrder();" >Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>