<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row" ng-init="inviteUserPermissionShowHide(userPermission);">
        <div class="col-md-12" ng-init="getPurchaseOrderDetails()">
            <section class="panel panel-default">
                <div class="panel-heading expenses col-sm-12">
                    <div class="col-sm-6">
                        <strong>
                            <div class="">
                                <span class="glyphicon glyphicon-th"></span><a href="#/purchase_order">Purchase Order List</a> <span class="padding-left-offset"> Purchase Order Details</span>
                            </div>
                         </strong>
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right">
                            <span ng-show="userPermission == null || (userPermission != null && expensePermission == 'Edit')"><a href="#/convert/expense/{{purchaseOrderDetail.id}}" class="btn custom-btn">Convert to Expense</a></span>
                            <span ng-show="userPermission == null || (userPermission != null && expensePermission == 'Edit')"><a href="javascript:;" ng-click="openResend(purchaseOrderDetail.id)" class="btn custom-btn">Send Reminder</a></span>
                            <span ng-show="userPermission == null || (userPermission != null && expensePermission == 'Edit'"><a href="#/purchase_order/edit/{{expense.id}}" class="btn custom-btn">Edit</a></span>                            
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label for="toUser">Payee</label><br />
                            <span id="toUser">{{ purchaseOrderDetail.vendor.first_name }} {{ purchaseOrderDetail.vendor.last_name }}</span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-3">
                            <label for="purchase_order_no">Purchase Order no</label><br />
                            <span id="purchase_order_no">{{ purchaseOrderDetail.purchase_order_no }}</span>
                        </div>

                        <div class="col-sm-3">
                            <label for="date">Date</label><br />
                            <span id="date">{{ purchaseOrderDetail.date }}</span>
                        </div>

                        <div class="col-sm-3">
                            <label for="reference">Reference</label><br />
                            <span id="reference">{{ purchaseOrderDetail.reference }}</span>
                        </div>
                        <div class="col-sm-3">
                            <label for="delivery_date">Delivery Date</label><br />
                            <span id="delivery_date">{{ purchaseOrderDetail.delivery_date }}</span>
                        </div>
                    </div>

                    <legend>Item Details</legend>
                    <div class="form-group col-sm-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Account</th>
                                <th>Dsicount</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in purchaseOrderDetail.business_purchase_order_item">
                                <td>{{ item.item_name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.account_name }}</td>
                                <td>{{ item.discount }}</td>
                                <td>{{ item.amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label for="Notes">Notes</label><br />
                            <div ng-repeat="notes in purchaseOrderDetail.notes">
                                <span id="Notes">{{ notes.title }}</span><br/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="totalDiscount">Total Discount</label><br />
                            <span id="totalDiscount">{{ purchaseOrderDetail.discount }}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-6 col-sm-6">
                            <label for="totalTax">Tax Name</label><br />
                            <span id="totalTax">{{ purchaseOrderDetail.tax_rate.name }} ({{ purchaseOrderDetail.tax_rate.tax_rates }}%)</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-6 col-sm-6">
                            <label for="totalTaxAmount">Total Tax Amount</label><br />
                            <span id="totalTaxAmount">{{ purchaseOrderDetail.tax_amount }}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-6  col-sm-6">
                            <label for="totalTax">Total Amount</label><br />
                            <span id="totalAmount">{{ purchaseOrderDetail.amount }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div id="sendEmail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form role="form" data-ng-model="resendPurchaseOrder">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelEmail();">&times;</button>
                    <h4 class="modal-title">Send Email</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="main.alert" class="alert alert-success">
                        {{main.alert}}
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Email :</label>
                            <input type="email" class="form-control" ng-model="resendPurchaseOrder.sendEmailTo" placeholder="Enter Email">
                            <span ng-show="emailError" class="error">Please enter a valid email address</span>
                        </div>
                        <div class="form-group col-md-12 text-center">
                            <div class="clearfix"><hr /></div>
                            <button type="submit" class="btn btn-gray pull-right" ng-click="cancelEmail();">Cancel</button>
                            <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="sendPurchaseOrder();" >Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>