<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="page page-table">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel panel-default table-dynamic">
                                <div class="panel-heading text-uppercase expenses"> Tax Rates
                                    <div class="pull-right">
                                        <button type="button" data-toggle="modal" data-target="#addtax" class="btn orange-btn">Add Tax Rate</button>
                                    </div>
                                </div>
                                <div class="table-filters">
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-6">
                                            <form>
                                                <input type="text"
                                                       placeholder="search"
                                                       class="form-control"
                                                       data-ng-model="searchKeywords"
                                                       data-ng-keyup="search()">
                                            </form>
                                        </div>
                                        <div class="col-sm-4 col-xs-6 filter-result-info">
                                            <span>
                                                Showing {{filteredStores.length}}/{{taxRates.length}} entries
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                    <tr>
                                        <th><div class="th">
                                            Tax Name
                                            <span class="glyphicon glyphicon-chevron-up"
                                                  data-ng-click=" order('name') "
                                                  data-ng-class="{active: row == 'name'}"></span>
                                            <span class="glyphicon glyphicon-chevron-down"
                                                  data-ng-click=" order('-name') "
                                                  data-ng-class="{active: row == '-name'}"></span>
                                        </div></th>
                                        <th><div class="th">
                                            Tax Rates
                                            <span class="glyphicon glyphicon-chevron-up"
                                                  data-ng-click=" order('tax_rates') "
                                                  data-ng-class="{active: row == 'tax_rates'}"></span>
                                            <span class="glyphicon glyphicon-chevron-down"
                                                  data-ng-click=" order('-tax_rates') "
                                                  data-ng-class="{active: row == '-tax_rates'}"></span>
                                        </div></th>
                                        <th><div class="th">
                                            Action
                                        </div></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-show="currentPageStores.length == 0">
                                        <td colspan="8">No Record Found</td>
                                    </tr>
                                    <tr data-ng-repeat="tax in currentPageStores">
                                        <td>{{tax.name}}</td>
                                        <td>{{tax.tax_rates}} %</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li><a href="javascript:;" ng-click="editTaxRate(tax.id)">Edit</a></li>
                                                    <li><a href="javascript:;" ng-hide="tax.id == 1 || tax.id == 2" ng-click="delete(tax.id)">Delete</a></li>
                                                </ul>
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <footer class="table-footer">
                                    <div class="row">
                                        <div class="col-md-6 page-num-info">
                                            <span>
                                                Show
                                                <select data-ng-model="numPerPage"
                                                        data-ng-options="num for num in numPerPageOpt"
                                                        data-ng-change="onNumPerPageChange()">
                                                </select>
                                                entries per page
                                            </span>
                                        </div>
                                        <div class="col-md-6 text-right pagination-container">
                                            <pagination class="pagination-sm"
                                                        page="currentPage"
                                                        total-items="filteredStores.length"
                                                        max-size="4"
                                                        on-select-page="select(page)"
                                                        items-per-page="numPerPage"
                                                        rotate="false"
                                                        boundary-links="true"></pagination>
                                        </div>
                                    </div>
                                </footer>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="addtax" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Tax Rate</h4>
            </div>
            <div class="modal-body">
                <form class="" data-ng-modal="taxRateData">
                    <div class="form-group ">
                        <label class="control-label">Tax Rate Display Name<br />
                            <small style="font-weight:normal">The name as you would like it to appear in speedybooks (limited to 50 Characters.)</small>
                        </label>
                        <input type="text" class="form-control" placeholder="Tax on Sales" data-ng-model="taxRateData.name">
                        <span class="error">{{main.error_message.name_error}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tax Components</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Tax Component" data-ng-model="taxRateData.component">
                                <span class="error">{{main.error_message.component_error}}</span>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">%</span>
                                    <input type="text" class="form-control" placeholder="2" data-ng-model="taxRateData.tax_rates">
                                </div>
                                <span class="error">{{main.error_message.tax_rates_error}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right  text-uppercase">
                        <h5 class="tax-amount">Total Tax : {{ taxRateData.tax_rates || 0 }}%</h5>
                    </div>
                    <div class="col-md-12"><div class="clearfix"><hr /></div></div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-gray pull-left" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="saveTaxRate()">Save</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>

<div id="editTax" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Tax Rate</h4>
            </div>
            <div class="modal-body">
                <form class="" data-ng-modal="taxRateData">
                    <div class="form-group ">
                        <label class="control-label">Tax Rate Display Name<br />
                            <small style="font-weight:normal">The name as you would like it to appear in speedybooks (limited to 50 Characters.)</small>
                        </label>
                        <input type="text" class="form-control" placeholder="Tax on Sales" data-ng-model="taxRateData.name">
                        <span class="error">{{main.error_message.name_error}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tax Components</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Tax Component" data-ng-model="taxRateData.component">
                                <span class="error">{{main.error_message.component_error}}</span>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">%</span>
                                    <input type="text" class="form-control" placeholder="2" data-ng-model="taxRateData.tax_rates">
                                </div>
                                <span class="error">{{main.error_message.tax_rates_error}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right  text-uppercase">
                        <h5 class="tax-amount">Total Tax : {{ taxRateData.tax_rates || 0 }}%</h5>
                    </div>
                    <div class="col-md-12"><div class="clearfix"><hr /></div></div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-gray pull-left" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="updateTaxRate()">Save</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>