<aside data-ng-include=" 'views/css/specific.html' " ></aside>
<div class="container">
    
              <div class="text-justify">
                  
                      
					  
					  <h2 class="text-center">Our Commitment To Privacy </h2>
                      <br>
					  
					  <p>
Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested. <br>
The Information We Collect: 
This notice applies to all information collected or submitted on the [company name] website. On some pages, you can order products, make requests, and register to receive materials. The types of personal information collected at these pages are: 
Name 
Address 
Email address 
Phone number 
Credit/Debit Card Information 
(etc.) </p>
<br>
On some pages, you can submit information about other people. For example, if you order a gift online and want it sent directly to the recipient, you will need to submit the recipient's address. In this circumstance, the types of personal information collected are: 
Name 
Address 
Phone Number 
(etc.) 
The Way We Use Information: 
We use the information you provide about yourself when placing an order only to complete that order. We do not share this information with outside parties except to the extent necessary to complete that order. 
We use the information you provide about someone else when placing an order only to ship the product and to confirm delivery. We do not share this information with outside parties except to the extent necessary to complete that order. 
We offer gift-cards by which you can personalize a product you order for another person. Information you provide to us to create a gift-card is only used for that purpose, and it is only disclosed to the person receiving the gift. 
We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties. 
</p>
					  <br />
					  
					  </div>
                          
						  
                      
                  </div>
                 </div>
          
      
</div>
