<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reconcileCtrl">
    <div class="row" ng-show="reconcileShow == 1">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th"></span>
                    <span class="padding-left-offset">Reconcile</span>
                </div>
                <form role="form" data-ng-model="reconcile">
                    <div class="panel-body">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="accountId">Account</label>
                                <select  tabindex="1" id="accountId" ng-click="label.click" chosen data-ng-model="reconcile.account_id" ng-change="getReconcileList(reconcile.account_id)" class="form-control col-sm-8" ng-options="label.id as label.name group by label.type for label in accounts">
                                    <option value=""></option>
                                </select>
                                <br/><span class="error" ng-show="accountError">Please select account</span>
                            </div>
                            <div class="col-sm-2 reports-submit-button">
                                <button type="submit" tabindex="2" ng-click="openReconcileForm()"  class="btn btn-danger">Reconcile</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

            <section class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th"></span>
                    <span class="padding-left-offset">Reconcile History</span>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Statement Ending Date</th>
                            <th>Reconciled On</th>
                            <th>Ending Balance</th>
                            <th>Auto Adjustment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="reconcileLists.length == 0">
                            <td colspan="6">No Record Found</td>
                        </tr>
                        <tr ng-show="reconcileLists.length > 0" ng-repeat="reconcileList in reconcileLists">
                            <td><a href="#/reconcile/report/{{ reconcileList.id }}">{{ reconcileList.ending_date }}</a></td>
                            <td>{{ reconcileList.reconcile_on }}</td>
                            <td>{{ reconcileList.ending_balance }}</td>
                            <td>{{ reconcileList.auto_adjustment }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>


            <div id="reconcileForm" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <form role="form">
                        <div class="modal-content" style="height: 650px;">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="cancelReconcileForm();">&times;</button>
                                <h4 class="modal-title">Start Reconciling</h4>
                            </div>
                            <div class="modal-body">
                                <div ng-show="main.alert" class="alert alert-success">
                                    {{main.alert}}
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="account">Account</label>
                                        <select  tabindex="1" id="account" required ng-click="label.click" data-ng-model="reconcile.account_id" class="form-control col-sm-8" ng-options="label.id as label.name group by label.type for label in accounts">
                                            <option value=""></option>
                                        </select>
                                        <br/><span class="error" ng-show="accountError">Please select account</span>
                                    </div>
                                </div>
                                <h4><strong>1. Enter the following from your statement</strong></h4>
                                <hr/>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="endingDate">Statement Ending Date</label>
                                        <ng-datepicker  tabindex="2" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="reconcile.endingDate" id="endingDate"></ng-datepicker>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="beginningBalance">Beginning Balance</label><br/>
                                        <span id="beginningBalance">{{ reconcile.beginningBalance }}</span>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="endingBalance">Ending Balance</label>
                                        <input  type="text" class="form-control col-sm-4" id="endingBalance" tabindex="3"  data-ng-model="reconcile.endingBalance" placeholder="Ending Balance">
                                    </div>
                                </div>

                                <h4><strong>2. Enter service charges and interest earned, if any</strong></h4>
                                <hr/>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="serviceCharge">Service Charge</label><br/>
                                        <input  type="text" class="form-control col-sm-4" id="serviceCharge" tabindex="3"  data-ng-model="reconcile.serviceCharge" placeholder="Service Charge">
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="serviceChargeDate">Date</label>
                                        <ng-datepicker  tabindex="2" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="reconcile.serviceChargeDate" id="serviceChargeDate"></ng-datepicker>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="serviceChargeAccount">Account</label>
                                        <select  tabindex="1" id="serviceChargeAccount" ng-click="label.click" data-ng-model="reconcile.serviceChargeAccount" class="form-control col-sm-8" ng-options="label.id as label.name group by label.type for label in accounts">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="interestEarned">Interest Earned</label><br/>
                                        <input  type="text" class="form-control col-sm-4" id="interestEarned" tabindex="3"  data-ng-model="reconcile.interestEarned" placeholder="Interest Earned">
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="interestEarnedDate">Date</label>
                                        <ng-datepicker  tabindex="2" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="reconcile.interestEarnedDate" id="interestEarnedDate"></ng-datepicker>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="interestEarnedAccount">Account</label>
                                        <select  tabindex="1" id="interestEarnedAccount" ng-click="label.click" data-ng-model="reconcile.interestEarnedAccount" class="form-control col-sm-8" ng-options="label.id as label.name group by label.type for label in accounts">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group col-md-12 text-center">
                                    <div class="clearfix"><hr /></div>
                                    <a href="javascript:;"  class="btn btn-default pull-right" ng-click="cancelReconcileForm();">Cancel</a>
                                    <button type="submit" class="btn btn-primary orange-btn pull-right" ng-click="getReconcile();" >Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="" ng-show="reconcileDataShow == 1">
        <div class="row">
            <div class="col-md-12">
                <span class="text-center"><strong>Reconcile - {{ account.name }}</strong></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>For statement ending on: {{ date.ending_date }}</h4>
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-th"></span>
                        <span class="padding-left-offset">Cheque and Payments</span>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>No</th>
                                <th>Name</th>
                                <th>amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="reconcilePayments.length == 0">
                                <td colspan="6">No Record Found</td>
                            </tr>
                            <tr ng-show="reconcilePayments.length > 0" ng-repeat="reconcilePayment in reconcilePayments">
                                <td align="center"><input type="checkbox" ng-model="reconcilePayment.isChecked" ng-change="checkPaymentBalance()"/></td>
                                <td>{{ reconcilePayment.date }}</td>
                                <td>{{ reconcilePayment.type }}</td>
                                <td>{{ reconcilePayment.no }}</td>
                                <td>{{ reconcilePayment.name }}</td>
                                <td>{{ reconcilePayment.amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <div class="col-md-6">
                <h4><a href="javascript:;" ng-click="reconcileback()">Reconcile</a></h4>
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-th"></span>
                        <span class="padding-left-offset">Deposits and Other Credits </span>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>No</th>
                                <th>Name</th>
                                <th>amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="reconcileDeposits.length == 0">
                                <td colspan="6">No Record Found</td>
                            </tr>
                            <tr ng-show="reconcileDeposits.length > 0" ng-repeat="reconcileDeposit in reconcileDeposits track by $index">
                                <td align="center"><input type="checkbox" ng-model="reconcileDeposit.isChecked" ng-change="checkDepositsBalance()"/></td>
                                <td>{{ reconcileDeposit.date }}</td>
                                <td>{{ reconcileDeposit.type }}</td>
                                <td>{{ reconcileDeposit.no }}</td>
                                <td>{{ reconcileDeposit.name }}</td>
                                <td>{{ reconcileDeposit.amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <section class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-8">
                                <label for="accountId">Beginning Balance</label>
                            </div>
                            <div class="col-sm-2">
                                <label for="accountId">{{ reconcile.beginningBalance || 0.00 }}</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-8">
                                <label for="accountId">&nbsp;&nbsp;&nbsp;&nbsp;{{ chequeCount }}  Cheques and Payments</label>
                            </div>
                            <div class="col-sm-2">
                                <label for="accountId">{{ reconcile.chequePayments || 0.00 }}</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-8">
                                <label for="accountId">&nbsp;&nbsp;&nbsp;&nbsp;{{ depositsCount }}  Deposits and Other Credits</label>
                            </div>
                            <div class="col-sm-2">
                                <label for="accountId">{{ reconcile.depositsPayments || 0.00 }}</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-8">
                                <label for="accountId">Statement Ending Balance</label>
                            </div>
                            <div class="col-sm-2">
                                <label for="accountId">{{ reconcile.endingBalance || 0.00 }}</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-8">
                                <label for="accountId">Cleared Balance</label>
                            </div>
                            <div class="col-sm-2">
                                <label for="accountId">{{ (reconcile.clearedBalance + clearedBalance) - chequeClearedBalance }}</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-8">
                                <label for="accountId">Difference</label>
                            </div>
                            <div class="col-sm-2">
                                <label for="accountId">{{ (reconcile.differenceBalance - differenceBalance) + chequeDifferenceBalance || 0.00 }}</label>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-6"  style="margin-top: 230px;">
                <button type="submit" tabindex="2" ng-click="saveReconcile()"  class="btn btn-danger">Finish</button>
                <button type="submit" tabindex="2" ng-click="cancleReconcile()"  class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
</div>