<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
                <div class="panel-heading text-uppercase expenses"> Journal
                    <div class="pull-right">
                        <a href="#/add_journal" class="btn orange-btn">Add Journal</a>
                    </div>
                </div>
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="search"
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-4 col-xs-6 filter-result-info">
                            <span>
                                Showing {{filteredStores.length}}/{{businessJournals.length}} entries
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th><div class="th">
                            Narration
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('name') "
                                  data-ng-class="{active: row == 'name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-name') "
                                  data-ng-class="{active: row == '-name'}"></span>
                        </div></th>
                        <th><div class="th">
                            Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('date') "
                                  data-ng-class="{active: row == 'date'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-date') "
                                  data-ng-class="{active: row == '-date'}"></span>
                        </div></th>
                        <th><div class="th">
                            Debit
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('total_debit') "
                                  data-ng-class="{active: row == 'total_debit'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-total_debit') "
                                  data-ng-class="{active: row == '-total_debit'}"></span>
                        </div></th>
                        <th><div class="th">
                            Credit
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('total_credit') "
                                  data-ng-class="{active: row == 'total_credit'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-total_credit') "
                                  data-ng-class="{active: row == '-total_credit'}"></span>
                        </div></th>
                        <th><div class="th">
                            Action
                        </div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="currentPageStores.length == 0">
                        <td colspan="8">No Record Found</td>
                    </tr>
                    <tr data-ng-repeat="journal in currentPageStores">
                        <td>{{journal.name}}</td>
                        <td>{{journal.date}}</td>
                        <td>{{journal.total_debit}}</td>
                        <td>{{journal.total_credit}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#/journal_details/{{journal.id}}">View</a></li>
                                    <li><a href="#/journal/edit/{{journal.id}}">Edit</a></li>
                                    <li><a href="javascript:;" ng-click="delete(journal.id)" >Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>