<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="page">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="main.error_message" class="alert alert-danger">
                                {{main.error_message}}
                            </div>
                            <div ng-show="error_message" class="alert alert-danger">
                                {{error_message}}
                            </div>
                            <div ng-show="alert_message" class="alert alert-success">
                                {{alert_message}}
                            </div>
                            <section>
                                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Add a New Customer</strong></div>
                                <form  ng-submit="addNewCustomer();"  data-ng-model="customer" class="form-horizontal">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </span>
                                                <input  type="text"
                                                        tabindex="101"
                                                        required
                                                        maxlength="32"
                                                        pattern="[A-Za-z]{2,32}"
                                                        class="form-control"
                                                        placeholder="First name"
                                                        data-ng-model="customer.first_name"
                                                        oninvalid="setCustomValidity('Please enter a valid first name.')"
                                                        onchange="try{setCustomValidity('')}catch(e){}"
                                                        >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </span>
                                                <input  type="text"
                                                        tabindex="102"
                                                        required
                                                        maxlength="32"
                                                        pattern="[A-Za-z]{2,32}"
                                                        class="form-control"
                                                        placeholder="Last name"
                                                        data-ng-model="customer.last_name"
                                                        oninvalid="setCustomValidity('Please enter a valid last name.')"
                                                        onchange="try{setCustomValidity('')}catch(e){}"
                                                        >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </span>
                                                <input type="email"
                                                        tabindex="103"
                                                        maxlength="32"
                                                       pattern="[aA-zZ0-9._%+-]+@[aA-zZ0-9.-]+\.[aA-zZ]{2,4}"
                                                       required
                                                       class="form-control"
                                                       placeholder="Email"
                                                       data-ng-model="customer.email"
                                                       oninvalid="setCustomValidity('Please enter a valid email.')"
                                                       onchange="try{setCustomValidity('')}catch(e){}"
                                                       >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-phone"></span>
                                                </span>
                                                <input  type="text"
                                                        tabindex="104"
                                                        maxlength="12"
                                                        required
                                                        pattern="\d{6,}$"
                                                        class="form-control"
                                                        placeholder="Phone No"
                                                        data-ng-model="customer.phone"
                                                        oninvalid="setCustomValidity('Please enter a valid phone number.')"
                                                        onchange="try{setCustomValidity('')}catch(e){}"
                                                        >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </span>
                                                <input  type="text"
                                                        tabindex="109"
                                                        required
                                                        class="form-control"
                                                        placeholder="Street"
                                                        data-ng-model="customer.billing_street">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </span>
                                                <input  type="text"
                                                        tabindex="110"
                                                        required
                                                        class="form-control"
                                                        placeholder="Zip"
                                                        data-ng-model="customer.billing_zip">
                                            </div>
                                        </div>

                                        <div class="form-group" >
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </span>
                                                <input  type="text"
                                                        tabindex="111"
                                                        required
                                                        class="form-control"
                                                        placeholder="City"
                                                        data-ng-model="customer.billing_city">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-phone"></span>
                                                </span>
                                                <input  type="text"
                                                        tabindex="112"
                                                        required
                                                        class="form-control"
                                                        placeholder="State"
                                                        data-ng-model="customer.billing_state">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-phone"></span>
                                                </span>
                                                <input  type="text"
                                                        tabindex="113"
                                                        required
                                                        class="form-control"
                                                        placeholder="Country"
                                                        data-ng-model="customer.billing_country">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" tabindex="109" class="btn btn-primary">Save</button>
                                        <a class="btn btn-warning" tabindex="706" ng-click="cancel()">Cancel</a>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>