<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-uppercase">Your Account</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="extra-info">
                                        <h4>Company Information</h4>
                                        <p><b>Company Name : </b><span>{{ globals.currentUser.businessName }}</span></p>
                                        <p><b>Company ID : </b><span>{{ globals.currentUser.companyId }}</span></p>
                                    </div>
                                </div>
                                <div class="clearfix col-sm-12"><br /></div>
                                <div class="col-md-12">
                                    <div class="extra-info" >
                                        <h4>Subscription information</h4>
                                        <p>
                                            <b>Subscription Status :</b>
                                            <span ng-if="globals.currentUser.accountStatus == 'FREE'">Trial&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;">Pay Now</a></span>
                                            <span ng-if="globals.currentUser.accountStatus == 'PAID'">Paid</span>
                                        </p>
                                        <p ng-if="globals.currentUser.accountStatus == 'FREE'"><b>Trial ends : </b><span>{{ globals.currentUser.expiryDate }}</span></p>
                                        <p><b>Users : </b><span>{{ globals.currentUser.manageUsers }}</span></p>
                                        <p><b>Billing cycle :</b><span>Yearly or monthly</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 text-center update-info">
                            <a href="#/changePassword" class="btn btn-primary orange-btn">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>