<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="page page-table">
                    <div class="row">
                        <div class="col-md-12">
                            <section ng-init="getCustomerList()" class="panel panel-default table-dynamic">
                                <div class="panel-heading text-uppercase expenses"> Customers
                                    <div class="pull-right">
                                        <a href="#/add_new_customer" class="btn orange-btn">Add New Customer</a>
                                    </div>
                                </div>
                                <div class="table-filters">
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-6">
                                            <form>
                                                <input type="text"
                                                       placeholder="search"
                                                       class="form-control"
                                                       data-ng-model="searchKeywords"
                                                       data-ng-keyup="search()">
                                            </form>
                                        </div>
                                        <div class="col-sm-4 col-xs-6 filter-result-info">
                                            <span>
                                                Showing {{filteredStores.length}}/{{users.length}} entries
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                    <tr>
                                        <th><div class="th">
                                            First Name
                                            <span class="glyphicon glyphicon-chevron-up"
                                                  data-ng-click=" order('first_name') "
                                                  data-ng-class="{active: row == 'first_name'}"></span>
                                            <span class="glyphicon glyphicon-chevron-down"
                                                  data-ng-click=" order('-first_name') "
                                                  data-ng-class="{active: row == '-first_name'}"></span>
                                        </div></th>
                                        <th><div class="th">
                                            Last Name
                                            <span class="glyphicon glyphicon-chevron-up"
                                                  data-ng-click=" order('last_name') "
                                                  data-ng-class="{active: row == 'last_name'}"></span>
                                            <span class="glyphicon glyphicon-chevron-down"
                                                  data-ng-click=" order('-last_name') "
                                                  data-ng-class="{active: row == '-last_name'}"></span>
                                        </div></th>
                                        <th><div class="th">
                                            Email
                                            <span class="glyphicon glyphicon-chevron-up"
                                                  data-ng-click=" order('email') "
                                                  data-ng-class="{active: row == 'email'}"></span>
                                            <span class="glyphicon glyphicon-chevron-down"
                                                  data-ng-click=" order('-email') "
                                                  data-ng-class="{active: row == '-email'}"></span>
                                        </div></th>
                                        <th><div class="th">
                                            Phone Number
                                            <span class="glyphicon glyphicon-chevron-up"
                                                  data-ng-click=" order('phone') "
                                                  data-ng-class="{active: row == 'phone'}"></span>
                                            <span class="glyphicon glyphicon-chevron-down"
                                                  data-ng-click=" order('-phone') "
                                                  data-ng-class="{active: row == '-phone'}"></span>
                                        </div></th>
                                         <th><div class="th">
                                             Action
                                         </div></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-show="currentPageStores.length == 0">
                                        <td colspan="8">No Record Found</td>
                                    </tr>
                                    <tr data-ng-repeat="user in currentPageStores">
                                        <td>{{user.first_name}}</td>
                                        <td>{{user.last_name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.phone}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li><a href="#/user/edit/{{user.id}}">Edit</a></li>
                                                    <li><a href="#" ng-click="deleteCustomer(user.id)">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <footer class="table-footer">
                                    <div class="row">
                                        <div class="col-md-6 page-num-info">
                                            <span>
                                                Show
                                                <select data-ng-model="numPerPage"
                                                        data-ng-options="num for num in numPerPageOpt"
                                                        data-ng-change="onNumPerPageChange()">
                                                </select>
                                                entries per page
                                            </span>
                                        </div>
                                        <div class="col-md-6 text-right pagination-container">
                                            <pagination class="pagination-sm"
                                                        page="currentPage"
                                                        total-items="filteredStores.length"
                                                        max-size="4"
                                                        on-select-page="select(page)"
                                                        items-per-page="numPerPage"
                                                        rotate="false"
                                                        boundary-links="true"></pagination>
                                        </div>
                                    </div>
                                </footer>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>