<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="journalCtrl">
    <div class="row">
        <div class="col-md-12" ng-init="default_journal_entry()">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th"></span><a href="#/journals"><strong> Journal</strong></a>
                    <span class="padding-left-offset">Add Journal</span>
                </div>
                <form role="form" data-ng-model="journal">
                    <div class="panel-body">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12 check-box">
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <input  type="text" class="form-control col-sm-4 custom-input-text" id="narration" tabindex="1"  data-ng-model="journal.name" placeholder="Narration">
                                    <br/><span class="error">{{main.error_message.name_error}}</span>
                                </div>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <!-- <label for="date">Date</label> -->
                                <ng-datepicker  tabindex="1" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="journal.date" id="date"></ng-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-sm-12 account-box"  >
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Description
                                        </th>
                                        <th style="width:20%">
                                            Account
                                        </th>
                                        <th style="text-align: right;">
                                            Debit
                                        </th>
                                        <th style="text-align: right;">
                                            Credit
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(index, item) in journal_item_list">
                                        <td class="col-sm-5"><input  class="form-control custom-input-text" tabindex="15" type="text" ng-model="item.description" placeholder="Description" /></td>
                                        <td class="col-sm-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                        <span data-toggle="modal" data-target="#accountForm" style="border: 1px #ccc solid; border-radius: 4px; cursor: pointer" class="input-group-addon">
                                                            <span  title="Add new Item" class="glyphicon glyphicon-plus"></span>
                                                        </span>
                                                    <select  tabindex="18" ng-click="label.click" style="" chosen data-ng-model="item.account_id" class="form-control col-sm-8 choosen-select" ng-options="label.id as label.name group by label.type for label in accounts">
                                                        <option value="">Select an account</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-sm-2"><input  class="form-control custom-input-text" tabindex="19" type="number"  ng-change="calculateAmount(item)" ng-model="item.debit" style="text-align: right;"/></td>
                                        <td class="col-sm-2"><input  class="form-control custom-input-text" tabindex="19" type="number"  ng-change="calculateAmount(item)" ng-model="item.credit" style="text-align: right;" /></td>
                                        <td>
                                            <input type="checkbox" ng-if="index != 0" tabindex="20" ng-model="item.selected"/>
                                        </td>
                                    </tr>
                                    <tr>
                                         <td colspan="2">Total</td>
                                         <!-- <td></td> -->
                                         <td style="text-align: right;">{{ totalDebit }}</td>
                                         <td style="text-align: right;">{{ totalCredit }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-sm-6">
                            <input ng-hide="!journal_item_list.length" type="button" tabindex="21" class="btn btn-danger" ng-click="remove()" value="Remove">
                            <input type="submit" ng-click="addNew()" tabindex="22" class="btn btn-primary addnew" value="Add New">
                        </div>
                        <hr/>
                        <div class="col-sm-6">
                            <div class="pull-right">
                                <button type="submit" tabindex="28"  ng-click="cancel();" class="btn btn-dark">Discard</button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-group-line-seperator" ng-click="approve();">Save</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="javascript:;" ng-click="saveJournal();">Draft Journal</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <section ng-controller="accountCtrl" data-ng-include=" 'views/chartAccount/add_accounts.html' " ></section>
        </div>
    </div>
</div>