<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="journalCtrl">
    <div class="row">
        <div class="col-md-12" ng-init="getJournalDetails()">
            <section class="panel panel-default">
                <div class="panel-heading expenses"><strong><span class="glyphicon glyphicon-th"></span> Journal Details</strong>
                    <a href="#/journals" class="btn orange-btn pull-right">Go Back</a>
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label for="narration">Narration</label><br />
                            <span id="narration">{{ journalDetail.name }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="date">Date</label><br />
                            <span id="date">{{ journalDetail.date }}</span>
                        </div>
                    </div>

                    <legend>Item Details</legend>
                    <div class="form-group col-sm-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Account</th>
                                <th>Debit</th>
                                <th>Credit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in journalDetail.business_journal_item">
                                <td>{{ item.description }}</td>
                                <td>{{ item.account_name }}</td>
                                <td>{{ item.debit }}</td>
                                <td>{{ item.credit }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total</td>
                                <td>{{ journalDetail.total_debit }}</td>
                                <td>{{ journalDetail.total_credit }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>