<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="page">
                    <div class="row">
                        <div class="col-md-12" ng-init="getReimbursementDetails()">
                            <section class="panel panel-default">
                                <div class="panel-heading expenses col-lg-12">
                                    <div class="col-lg-6">
                                        <a href="#/reimbursement"><strong><span class="glyphicon glyphicon-th"></span> Reimbursement List</strong></a> <span class="padding-left-offset">Reimbursement Details</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="pull-right">
                                            <a class="btn custom-btn" href="#/reimbursement/convert/expense/{{reimbursementDetail.id}}">Convert to Expense</a>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="toUser">Customer</label><br />
                                            <span id="toUser">{{ reimbursementDetail.customer.first_name }} {{ reimbursementDetail.customer.last_name }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label for="reimbursementNo">Reimbursement No</label><br />
                                            <span id="reimbursementNo">{{ reimbursementDetail.reimbursement_no }}</span>
                                        </div>

                                        <div class="col-sm-4">
                                            <label for="date">Date</label><br />
                                            <span id="date">{{ reimbursementDetail.date }}</span>
                                        </div>

                                        <div class="col-sm-4">
                                            <label for="reference">Reference</label><br />
                                            <span id="reference">{{ reimbursementDetail.reference }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="description">Description</label><br />
                                            <span id="description">{{ reimbursementDetail.description }}</span>
                                        </div>
                                    </div>

                                    <legend>Item Details</legend>
                                    <div class="form-group col-sm-12">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Description</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Account</th>
                                                <th>Discount</th>
                                                <th>Amount</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in reimbursementDetail.business_reimbursement_item">
                                                <td>{{ item.item_name }}</td>
                                                <td>{{ item.description }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.price }}</td>
                                                <td>{{ item.account_name }}</td>
                                                <td>{{ item.discount }}</td>
                                                <td>{{ item.amount }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="Notes">Notes</label><br />
                                            <div ng-repeat="notes in reimbursementDetail.notes">
                                                <span id="Notes">{{ notes.title }}</span><br/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="totalDiscount">Total Discount</label><br />
                                            <span id="totalDiscount">{{ reimbursementDetail.discount }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-offset-6 col-sm-6">
                                            <label for="totalTax">Tax Name</label><br />
                                            <span id="totalTax">{{ reimbursementDetail.tax_rate.name }} ({{ reimbursementDetail.tax_rate.tax_rates }}%)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-offset-6 col-sm-6">
                                            <label for="totalTaxAmount">Total Tax Amount</label><br />
                                            <span id="totalTaxAmount">{{ reimbursementDetail.tax_amount }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-offset-6  col-sm-6">
                                            <label for="totalTax">Total Amount</label><br />
                                            <span id="totalAmount">{{ reimbursementDetail.amount }}</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>