 <div class="panel-body">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:20%">Item</th>
                <th>
                    Description
                </th>
                <th style="width:10%">
                    Quantity
                </th>
                <th style="width:10%">
                    Unit Price
                </th>
                <th style="width:20%">
                    Account
                </th>
                <th style="width:10%">
                    Discount
                </th>
                <th>
                    Amount
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
             <script type="text/ng-template" id="addItemPopup.html">
                <section data-ng-include=" 'views/items/add_new_item.html' " ></section>
            </script>
            <script type="text/ng-template" id="addAccountPopup.html">
                <section data-ng-include=" 'views/user/add_accounts.html' " ></section>
            </script>
            <tr ng-repeat="(index, item) in item_list">
                <td>
                    <div ng-controller="itemCtrl" class="form-group" ng-init="getItemList(index)">
                        <div class="input-group">
                            <span ng-click="open()" style="border: 1px #ccc solid; border-radius: 4px; cursor: pointer" class="input-group-addon">
                                <span title="Add new Item" class="glyphicon glyphicon-plus"></span>
                            </span>
                            <select  tabindex="14" ng-click="label.click" chosen data-ng-model="item.business_item_id" data-ng-change="getItemList(index)" class="form-control col-sm-8 item-select" ng-options="label.id as label.name for label in items">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </td>
                <td><input  class="form-control" tabindex="15" type="text" ng-model="item.description" /></td>
                <td><input class="form-control" tabindex="16" ng-change="calculateAmount(item)" type="number" ng-model="item.quantity" /></td>
                <td><input  class="form-control" tabindex="17" ng-change="calculateAmount(item)" type="text" ng-model="item.price" /></td>
                <td> 
                     <div class="form-group">
                        <div class="input-group">
                            <span data-toggle="modal" data-target="#accountForm"  style="border: 1px #ccc solid; border-radius: 4px; cursor: pointer" class="input-group-addon">
                                <span  title="Add new Item" class="glyphicon glyphicon-plus"></span>
                            </span>
                            <select  tabindex="18" ng-click="label.click" style="width: 140px;" chosen data-ng-model="item.account_id" class="form-control col-sm-8" ng-options="label.id as label.name group by label.type for label in accounts">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </td>
                <td><input  class="form-control" tabindex="19" type="number" ng-change="calculateAmount(item)" ng-model="item.discount" /></td>
                <td>{{item.amount}}</td>
                <td>
                    <input type="checkbox" ng-if="index != 0" tabindex="20" ng-model="item.selected"/>
                </td>
            </tr>
        </tbody>
    </table>
     <div class="form-group">
        <input ng-hide="!item_list.length" type="button" tabindex="21" class="btn btn-danger" ng-click="remove()" value="Remove">
        <input type="submit" ng-click="addNew()" tabindex="22" class="btn btn-primary addnew" value="Add New">
    </div>


     <section ng-controller="accountCtrl" data-ng-include=" 'views/chartAccount/add_accounts.html' " ></section>
</div>