<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
<div class="row">
<div class="col-md-12">
<div class="row">
<form role="form" ng-submit="updatePayItem()">
    <div class="modal-header">
        <h3>Edit Pay Item</h3>
    </div>
    <div ng-show="error_message" class="alert alert-danger">
        {{error_message}}
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-striped">
            <tr>
                <td>
                    Pay/Tax Type
                </td>
                <td>
                    <select tabindex="201" placeholder="Select an Pay Type" ng-click="label.click" required oninvalid="setCustomValidity('Please select a valid pay Type.')" onchange="try{setCustomValidity('')}catch(e){}" data-ng-model="addPayItem.business_pay_item_type_id" class="form-control col-sm-14" ng-options="label.id as label.name for (value, label) in payItemTypes">
                        <option value="">Select Pay Type</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Account
                </td>
                <td>
                    <select tabindex="202" placeholder="Select an Account" ng-click="label.click" required oninvalid="setCustomValidity('Please select a valid Account Type.')" onchange="try{setCustomValidity('')}catch(e){}" data-ng-model="addPayItem.account_id" class="form-control col-sm-14" ng-options="label.id as label.name group by label.main_account_name for label in accounts">
                        <option value="">Select Account Type</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input class="form-control"
                           required  maxlength="50"
                           oninvalid="setCustomValidity('Please enter a valid Item Name. Max length upto 50 characters.')" onchange="try{setCustomValidity('')}catch(e){}"
                           tabindex="202" type="text" ng-model="addPayItem.name" />
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    <textarea class="form-control" required onchange="try{setCustomValidity('')}catch(e){}" oninvalid="setCustomValidity('Please enter Description.')"  tabindex="203" type="text" ng-model="addPayItem.description" /></textarea>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button tabindex="207" class="btn btn-primary">Update</button>
        <a class="btn btn-warning" tabindex="208" ng-click="cancel()">Cancel</a>
    </div>
</form>
</div>
</div>
</div>
</div>