<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row" ng-init="getItem()">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses"><strong><span class="glyphicon glyphicon-th"></span> Update Item</strong>
                    <a href="#/inventory" class="btn orange-btn pull-right">Go Back</a>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div ng-show="error_message" class="alert alert-danger">
                            {{error_message}}
                        </div>
                        <div ng-show="alert_message" class="alert alert-success">
                            {{alert_message}}
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td>
                                        Item Code
                                    </td>
                                    <td>
                                        <input class="form-control"
                                               required  maxlength="8" readonly
                                               oninvalid="setCustomValidity('Please enter a valid Item Code. Max length upto 8 characters.')"
                                               onchange="try{setCustomValidity('')}catch(e){}"
                                               tabindex="200"
                                               type="text" ng-model="Item.item_code" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        <input class="form-control"
                                               required  maxlength="50" readonly
                                               oninvalid="setCustomValidity('Please enter a valid Item Name. Max length upto 50 characters.')" onchange="try{setCustomValidity('')}catch(e){}"
                                               tabindex="201" type="text" ng-model="Item.name" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Account
                                    </td>
                                    <td>
                                        <select tabindex="202" placeholder="Select an Account" chosen ng-click="label.click" required oninvalid="setCustomValidity('Please select a valid Account Type.')" onchange="try{setCustomValidity('')}catch(e){}" data-ng-model="Item.account_id" class="form-control col-sm-14 choosen-select" ng-options="label.id as label.name group by label.type for label in accounts">
                                            <option value="">Select Account Type</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Description
                                    </td>
                                    <td>
                                        <textarea class="form-control" required readonly="readonly" onchange="try{setCustomValidity('')}catch(e){}" oninvalid="setCustomValidity('Please enter Description.')"  tabindex="203" type="text" ng-model="Item.description" /></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Quantity
                                    </td>
                                    <td>
                                        <input class="form-control" pattern="\d{1,}$" oninvalid="setCustomValidity('Please enter a valid number of Units.')" onchange="try{setCustomValidity('')}catch(e){}" maxlength="5" required  tabindex="204" type="text" ng-model="Item.unit" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Selling Price
                                    </td>
                                    <td>
                                        <input class="form-control" required pattern="[0-9]+([\.][0-9]+)?" oninvalid="setCustomValidity('Please enter a valid Selling Price.')" onchange="try{setCustomValidity('')}catch(e){}" maxlength="8"  tabindex="205" type="text" ng-model="Item.selling_price" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Amount
                                    </td>
                                    <td>
                                        <input class="form-control" required pattern="[0-9]+([\.][0-9]+)?" oninvalid="setCustomValidity('Please enter a valid Amount.')" onchange="try{setCustomValidity('')}catch(e){}" maxlength="8"  tabindex="206" type="text" ng-model="Item.amount" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button tabindex="207" ng-click="updateItem()" class="btn btn-primary">Update</button>
                            <a class="btn btn-warning" tabindex="208" ng-click="cancel()">Cancel</a>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
