<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="getItems()">
            <section class="panel panel-default table-dynamic">
                <div class="panel-heading text-uppercase expenses"> Inventory List
                    <div class="pull-right">
                        <a href="#/add_inventory" class="btn orange-btn addnew">Add Inventory</a>
                    </div>
                </div>
                <div class="table-filters filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="search"
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-4 col-xs-6 filter-result-info">
                            <span>
                                Showing {{filteredStores.length}}/{{itemsList.length}} entries
                            </span>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th><div class="th">
                                Item Code
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('item_code') "
                                      data-ng-class="{active: row == 'item_code'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-item_code') "
                                      data-ng-class="{active: row == '-item_code'}"></span>
                            </div></th>
                            <th><div class="th">
                                Name
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('name') "
                                      data-ng-class="{active: row == 'name'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-name') "
                                      data-ng-class="{active: row == '-name'}"></span>
                            </div></th>
                            <th><div class="th">
                                Account
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('account.name') "
                                      data-ng-class="{active: row == 'account.name'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-account.name') "
                                      data-ng-class="{active: row == '-account.name'}"></span>
                            </div></th>
                            <th><div class="th">
                                Stock
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('unit') "
                                      data-ng-class="{active: row == 'unit'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-unit') "
                                      data-ng-class="{active: row == '-unit'}"></span>
                            </div></th>
                            <th><div class="th">
                                Price
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('selling_price') "
                                      data-ng-class="{active: row == 'selling_price'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-selling_price') "
                                      data-ng-class="{active: row == '-selling_price'}"></span>
                            </div></th>
                            <th><div class="th">
                                Amount
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('amount') "
                                      data-ng-class="{active: row == 'amount'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-amount') "
                                      data-ng-class="{active: row == '-amount'}"></span>
                            </div></th>
                            <th><div class="th">
                                Action
                            </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="currentPageStores.length == 0">
                            <td colspan="7">No Record Found</td>
                        </tr>
                        <tr data-ng-repeat="item in currentPageStores">
                            <td>{{item.item_code}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.account.name}}</td>
                            <td>{{item.unit}}</td>
                            <td>{{item.selling_price}}</td>
                            <td>{{item.amount}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#/inventory/edit/{{item.id}}">Edit</a> </li>
                                        <li><a href="javascript:;" ng-click="delete(item.id)" >Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        entries per page
                    </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>