<header class="clearfix">
    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <!-- <span class="logo-icon glyphicon glyphicon-fire"></span> -->
            <span>{{main.brand}}</span>
        </a>
    </div>
    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-min-nav class="toggle-min"><i class="fa fa-bars"></i></a>
            </li>
            <li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/g1.jpg" alt="" class="img-circle img30_30">
                </a>
                <ul class="dropdown-menu dropdown-dark with-arrow">
                    <li>
                        <a href="#/business_profile">
                            <i class="fa fa-user"></i>
                            <span data-i18n="My Profile"></span>
                        </a>
                    </li>
                    <li class="resp650">
                        <a href="#/reports">
                            <i class="glyphicon glyphicon-pencil"></i>
                             <span data-i18n="Reports"></span>
                         </a>
                    </li>
                    <li class="resp650">
                        <a href="#/accounts"><i class="glyphicon glyphicon-book"></i>
                            <span data-i18n="Accounts"></span>
                        </a>
                    </li>
                    <li class="resp650">
                        <a href="#/vendors"><i class="glyphicon glyphicon-th-list"></i>
                            <span data-i18n="Vendors"></span> 
                        </a>
                    </li>
                    <li class="resp650">    
                        <a href="#/customers">
                            <i class="glyphicon glyphicon-user"></i>
                             <span data-i18n="Customers"></span>
                         </a>
                    </li>
                    <li>
                        <a href="#/pages/lock-screen">
                            <i class="fa fa-lock"></i>
                            <span data-i18n="Lock"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/logout">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Log Out"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown resp651 langs text-normal" >
                <a href="#/add_account"><i class="glyphicon glyphicon-book"></i> Accounts</a>
            </li>
            <li class="dropdown resp651 langs text-normal" >
                <a href="#/add_new_vendor"><i class="glyphicon glyphicon-th-list"></i> Vendors</a>
            </li>
            <li class="dropdown resp651 langs text-normal" >    
                <a href="#/add_new_user"><i class="glyphicon glyphicon-user"></i> Customers</a>
            </li>
        </ul>
    </div>

</header>
<div class="loading-spiner-holder" data-loading ><div class="loading-spiner"></div></div>