
<!-- end needs images -->
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- font -->
<link href="css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400i,600,700|Roboto:300,400,500,700" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<!--link rel="stylesheet" href="css/main.css"-->
<link rel="stylesheet" href="styles/chosen.css">
<link rel="stylesheet" type="text/css" href="/bower_components/ngDatepicker/src/css/ngDatepicker.css">
<div class="wrapper">
<header  class="header container">
  <div class="container">
    <nav class="navbar navbar-default"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#/dashboard"><img src="images/logo.png" /></a> </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li ng-repeat="topItem in topMenuItems" ng-class="{active : getLocation() === topItem.url}"><a class="{{topItem.class}}" href="#{{topItem.url}}">{{topItem.name}}</a></li>
          <li ng-click><a href="#"><i class="fa fa-search"></i></a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
      
    </nav>
    </div>
  </header>
  </div>
  
<div class="clearfix"></div>
</div>   
</div>
<!-- header-->