.toggle-menua{border-right:1px solid #d8d8d9}
.header-nav i{margin-right:5px;}
.user-section{padding:30px;}
.user-section h3{margin:0 0 10px 0;}
.user-section{
font-family: 'Lato', sans-serif;
color:#58585a
}
.user-section h3 span{
	font-size:13px;
}
.user-section p{
	font-size:12px;
	color:#a2a1a1;
}
.user-section .progress-user h3{margin-bottom:20px;margin-top:30px;}
.user-section .progress-user h6{
	font-size:11px;
	color:#777777;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
}
.progress-bar1{background:#f69850}
.progress-bar2{background:#58585a}
.progress-bar3{background:#f8b62c}
.color1{color:#f69850;}
.color2{color:#58585a;}
.color3{color:#f8b62c;}

.panel-heading  .btn{
	background:none;
	border:none;
}

.activity-timeline.timeline  .timeline-heading{
	margin-bottom:10px;
}
.activity-timeline.timeline  .timeline-heading h4{
	color:#777777;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:600;
	font-size:13px;
	margin-bottom:0
	
}
.activity-timeline.timeline  .timeline-heading small{
	font-size:10px;
	color:#c5c5c5;
	font-style:italic
}
.activity-timeline.timeline:before,
.activity-timeline.timeline > li > .timeline-panel:after,
.activity-timeline.timeline > li > .timeline-badge{
	left:0
	
}
.activity-timeline.timeline > li.timeline-inverted > .timeline-panel:after,
.activity-timeline.timeline > li.timeline-inverted > .timeline-panel:before,
.activity-timeline.timeline > li > .timeline-panel:before{display:none;}
.activity-timeline.timeline > li > .timeline-panel{
	box-shadow:none;
	width:90%;
	border:none	;
	
}
.activity-timeline.timeline > li > .timeline-panel{padding:0;
font-family: 'Open Sans', sans-serif;
font-weight:600
}

.activity-timeline.timeline > li > .timeline-badge {
  font-size: 10px;
  height: 15px;
  left: -4px;
  line-height: 15px;
  margin: 0;
  width: 15px;
}
.activity-timeline.timeline .timeline-inverted.fade-badge1 .timeline-badge,
.activity-timeline.timeline .timeline-inverted.fade-badge .timeline-badge{
	width: 6px;
	height: 6px;
	left:-2px
}
.activity-timeline.timeline .timeline-inverted.fade-badge {margin-bottom:0px;}
.activity-timeline.timeline .timeline-inverted.fade-badge1 .timeline-badge{
	background:#dedede;
	}
.timeline-inverted.success.s-alert .timeline-badge {background:#e02222}
.timeline-inverted.success .timeline-badge{
	background:#60c251;
	
}
.activity-timeline.timeline .timeline-body span{
color:#f5822a
}
.activity-timeline.timeline .timeline-body p{
	font-size:11px;
	color:#afafaf
}
.activity-timeline.timeline .timeline-body small{
	font-size:10px;
	color:#c5c5c5;
	font-style:italic
}
.btn-group.graphs{
	margin-top:0px;
}
.btn-group.graphs .btn{
font-size:11px;}
.bank-detail h5{margin:10px 0 10px 0 ;padding:0}
.bank-detail ul{text-align:right;padding:0;font-family: 'Lato', sans-serif;font-size:13px;}
.bank-detail ul li{list-style:none;clear:both;margin-top:20px;}
.bank-detail ul label{float:left;font-weight:400}
.connect-ac {
	border-top:1px solid #aeaeae;
	margin-top:25px;
	padding-top:25px
}
.connect-ac .btn{
	background:#e37119;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	font-weight:600;
	padding:7px 15px;
	border-radius:0
	
}
.activity-timeline.timeline .success.s-alert .timeline-body span{color:#e02222 ;}
.activity-timeline.timeline .success .timeline-body span{color:#60c251 ;}
 .navbar-default.sidebar{
	left:0;
	-webkit-transition: 1s; /* Safari */
    transition:  1s;

}
.side-barshow .navbar-default.sidebar{
	left:-290px
}
.side-barshow #page-wrapper{
	
	margin-left:0px;
}
#page-wrapper{
	/*-webkit-transition: 1s; /* Safari 
    transition:  1s;*/
	margin-left:0px;
}
.more-links{
	background:#f5822a;

}
/*
.more-links a{padding:16px 15px !important}*/
.more-links.dropdown a.dropdown-toggle:hover,
.more-links.dropdown.open a.dropdown-toggle{
	background:#e5721a !important
	
}
.more-links a i{color:#fff;font-size: 18px;}
.copyright{color:#fff;font-size:12px;padding:7px;}

#mega-drop.rotate i{
    transform: rotateZ(225deg);
	-webkit-transition: 1s; /* Safari */
    transition:  1s;
}
#mega-drop i{
    transform: rotateZ(0deg);
	-webkit-transition: 1s; /* Safari */
    transition:  1s;
	margin:0
}
.dropdown-menu.mega-dropdown {
  border-top: 4px solid #f69850;
  min-width: 514px;
  padding-top: 0;
}

.mega-dropdown .list-istem.row li {
  list-style: inside none disc;
  width: 33%;
}
.mega-dropdown .list-istem.row li a{
  padding:0
}
.dropdown-menu.mega-dropdown li{list-style:none;padding-left:10px;margin-top:10px;margin-bottom:10px;}
.user-profile .dropdown-toggle > img {
  margin-right: 7px;
  width: 20px;
}
@media only screen and ( max-width:768px ){
	.navbar-right.header-nav{
		display:none
	}
}
@media only screen and ( max-width:767px ){
.navbar-default.sidebar {
    background: rgb(88,88,90);
    position: absolute;
    width: 265px;
    z-index: 1;
	left:-300px;
}
.side-barshow .navbar-default.sidebar {
    left: 0px;
}
.side-barshow #page-wrapper {
    margin-left: 266px;
}
nav.navbar   li{display:none;}
nav.navbar   li:first-child {
  display: inherit;
  position: absolute;
  right: 5px;
  top: 7px;
}
}