.top-bar {
	color:#fff;
	padding:10px 0;
}
.top-bar .social-icon a {
	color:#fff;
	margin-left:10px;
}
.top-bar span {
	margin-right:15px;
}
.top-bar span i {
	margin-right:5px;
	color:#f5822a;
}
.header {
	position:absolute;
	top:0;
	z-index:9;
	left:0;
	right:0;
	margin:auto
}
.navbar-nav a.btn-default.login {
	background: none repeat scroll 0 0 #f5822a;
	color: #fff;
	margin: 20px 0;
	padding: 8px 17px;
}
.banner {
	min-height:500px;
	position:relative;
	overflow:hidden;
	margin-bottom:-6px;/*background:url(http://demos-pirftc7xlgm3gz2xr9zm.stackpathdns.com/infinite/homepages/mechanic/wp-content/uploads/sites/7/2016/05/slider-2.jpg);
	background-size:100% auto;
	background-repeat:no-repeat*/
}
.banner:after {
	background: none repeat scroll 0 0 #fff;
	border-radius: 50%;
	bottom: -66px;
	content: "";
	height: 120px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 100%;
}
.orange {
	color:#f5822a;
}
.middle-content {
	position:relative
}
.heading p {
 font-family:'Open Sans', sans-serif;
	
	color:#555252;
	font-size:16px;
}
.img-container {
	
	height:40px;
	text-align:center;
	
}
.banner-content {
	position:absolute;
	z-index:1;
	margin:auto;
	left:0;
	right:0;
	display:table;
	top:35%;
	color:#fff;
	max-width:	500px;
	font-family: 'Roboto', sans-serif;
}
.banner-content h1 {
	font-weight:700;
	margin-bottom:15px;
}
.banner-content h1 span {
	font-weight:300
}
.banner-content button {
	background:none;
	border:1px solid #fff;
	color:#fff;
	padding:10px 30px;
	text-transform:uppercase;
	margin-top:20px;
}
.features img {
  height: 50px;
  max-width: 50px;
}

.features h3 {
	color:#202020;
	font-size:16px;
}
.features p {
	color:#4d4d4d;
	font-size:12px;
}
.banner.text-center > img {
  width: 100% ;
}
.join-comunity {
  position: relative;
}
.about-inner .custom-buttons > ul {
  text-align:left;
}
.custom-buttons > ul {
  text-align:right;
  padding: 0;
}
.join-comunity::before {
  border-top: 100px solid #fff;
  border-radius: 100%;
  content: " ";
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -70px;
  width: 100%;
}
.about-inner {
 
    padding-bottom: 50px;
}
.features{position:relative;
padding-bottom:50px
}
.features:after {
  border-bottom: 100px solid #fff;
  border-radius: 100%;
  bottom: -60px;
  content: " ";
  height: 150px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 100%;
}
/*.about:before{background:url(../images/up-bg.png);}*/
/*.about:after{background:url(../images/down-bg.png);}*/
.about{background:#f9f7f8; padding:100px 0;}
footer{background:#fcfcfc; border-top:1px solid #f1f1f1}
.lower-footer{background:#2b2b2b}
.lower-footer p {
  color: #fff;
  padding-top: 10px;
}
.footer .inner-footer h4 {
  color: #f5822a;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom:25px;
}
.account-inner {
  padding: 50px 0;
}
.account-inner{
text-align:left;
}
.account-inner h2 {
  margin-bottom: 25px;
}
.custom-buttons ul li {
  display:inline-block;
  list-style: outside none none;margin-right: 30px;
  width:42%
}
.custom-buttons {
  margin-top: 35px;
}

.custom-buttons ul li a.btn-default.login {
  background: #f5822a none repeat scroll 0 0;
  color: #fff;
  display:block;
  padding: 8px 0px;
}
.custom-buttons ul li a.btn-default.login:hover{
	    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;	
}
.cimmunity-img {
  background: rgba(0, 0, 0, 0) url("../images/customers.jpg") repeat scroll 0 0 / contain ;
  height: 248px;
  background-size:cover;
}
.join-inner h2 {
    margin-bottom: 30px;
}
.join-inner {

  padding-top: 50px;
    padding-bottom: 50px;
}

.custom-buttons ul li a {

  font-size: 18px;
  text-transform: uppercase;
  
}
.fa-space {
  margin-right: 6px;
}
.usefull-links-widget ul {
  float: left;
  width: 50%;
  padding-left:0px;
}
.usefull-links-widget ul li {
  list-style: outside none none;
  padding: 2px 0;
}
.usefull-links-widget ul li a{color:#000;}

.inner-footer{
	  padding-top: 50px;
	   padding-bottom: 50px;
	  }
.tweet::before {
  background: url(../images/footer.png);
  background-repeat:no-repeat;
}

.tweet p {
    
}
.icon-twitter-1 {
    float: left;
    margin-right:10px;
}
.tweet {
    margin-bottom: 20px;
    display:inline-block;
    width:100%
}
.video-widget {
  position: relative;
}
.login:hover {
  background: #000 none repeat scroll 0 0 !important;
  color: #fff !important;
}
/*=== logform css ===== */
.login-form header {
  background: #f8f8f8 none repeat scroll 0 0;
  margin: 0;
  padding: 0;
  width: 100%; position:relative;
}
.login-form nav {
  border: medium none; margin:0px;
}
.btn-orange {
  background: #f4822a none repeat scroll 0 0;
  border-color: #f4822a;
}
.btn-orange:hover{
	background:#000;	 border-color: #000;
}
.breadcrumb-html {
  background-repeat: no-repeat;
  padding: 25px 0px;
  text-align: right;
   background-image:url(../images/breadcum.jpg);
   background-size:cover;
   height:94px	 
}
.breadcrumb-html h2{
margin:0;padding:0 0 0 30px	 ;
color:#fff;
text-transform:uppercase
}
.breadcrumb{
background:none;
margin:0
}
.breadcrumb a {
  color: #fff;
}
.login-form .modal-dialog {
  margin: 50px auto;
  width:100%;
  max-width:950px	
}
.regist1 {
  bottom: -49px;
  max-width: 240px;
  position: absolute;
  right: -19px;
}
.login-img {
  bottom: 0;
  left: 21px;
  position: absolute;
  width: 180px;
}
#loginForm
 {
  position: relative;
  z-index: 1;
}
.login-form .modal-content {
  border: 10px solid #f9f9f9;
  border-radius: 0;
  box-shadow: none;
}
#login-overlay h2{
	color:#f5822a;
margin-bottom:30px;	
text-transform:uppercase;
	
}
.login-form .modal-body {
  padding: 0 30px 0 0;
}
#login-overlay .well h2{
	
	margin-top:0
}
.login-form .well {
  background-color: #fcfcfc;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding:22px 40px 40px
}
.tweet a {
  color: #f5822a;
}
@media (max-width:1024px) {
	.about:before,
	.about:after{background:none}
	.middle-content:after,
	.join-comunity:before,
	
	.banner{min-height:inherit;height:400px;padding-bottom:0px;margin-bottom:0}
	.banner.text-center > img{height:100%;width:auto;
	    min-width:100%;
	}
	.features{
	padding:30px 0;
	}
	.carousel-control:focus,
	.carousel-control:hover,
	.carousel-control{
	opacity:0
	}
	}
@media (max-width:992px) {
.navbar-nav > li {
	font-size:13px;
	padding:0 6px;
}
.account-inner{
text-align:center;
}
}
@media (max-width:980px) {
	.join-comunity::before {
  background:transparent;
}

.middle-content::after {
  background:transparent;
}
.features.container {
  padding-bottom: 100px;
}
.about {
  padding: 0px;
}
.account-inner{
	padding:0px 0px 50px 0px;
}
.account-inner p {
  text-align: center;
}
.cimmunity-img {
  height: 200px;
}
.custom-buttons li:nth-child(1) a {
  padding: 12px 100px;
}
.custom-buttons li:nth-child(2) a {
  color: #000;
  padding: 8px 80px;
}
.footer .col-md-4 {
  margin-bottom: 30px;
}
}
@media (max-width:768px) {
body{overflow-x:hidden}
.banner::after {
  bottom: -80px;
  left: -24px;
  width: 107%;
}
.about-inner .custom-buttons > ul,
.about{text-align:center}
.about-inner .custom-buttons > ul{margin-bottom:30px;}
.join-comunity:before,
.features:after{display:none}
}
@media (max-width:767px) {
.regist{padding:15px}
.banner:after{display:none;}
.navbar {
	min-height:90px;
}
.navbar-nav > li {
	padding:10px;
}
.navbar-nav > li.active a {
	padding-bottom:10px;
}
.navbar-nav > li:last-child {
	display:none;
}
.navbar-nav a.btn-default.login {
	display:inline-block
}
.login-img{right:0;left:auto;}
}
@media (max-width:640px) {
	.about {
  padding: 20px;
  text-align: center;
}
.custom-buttons ul li {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.banner.text-center > img {
 width:auto !important 
}
footer {
  padding-top: 20px;
  
}
.about img {
  width: 100%;
}
.custom-buttons > ul {
  padding: 0;
}
}
 @media (max-width:500px) {
.top-bar {
	display:none;
}
header {
	padding-top:10px;
}
.cimmunity-img {
  height: 100px;
}
.text-uppercase {
  font-size: 25px;
}
}
 @media (max-width:480px) {
.navbar-brand {
  float: left;
  font-size: 18px;
  height: 50px;
  line-height: 20px;
  padding: 14px;
}
 }
