<div class="page">
    <div class="row">
        <div class="form-group col-sm-6">
            <h4>Employees</h4>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Employement No</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Blood Group</th>
                    <th>Employement Type</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="employees_list.length == 0">
                    <td colspan="7">No Record Found</td>
                </tr>
                <tr ng-show="employees_list.length > 0" ng-repeat="employee in employees_list">
                    <td>{{ employee.employement_no }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.date_of_birth }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.mobile_no }}</td>
                    <td>{{ employee.blood_group }}</td>
                    <td>{{ employee.type }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#/employee/view/{{employee.id}}">View</a></li>
                                <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) || (userPermission != null && payrollPermission == 'Edit')"><a href="#/employee/edit/{{employee.id}}">Edit</a></li>
                                <li ng-show="(userPermission == null || userPermission.cpa_permission == 1)"><a href="#" ng-click="employeeDelete(employee.id)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>