<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="page">
                    <div class="row">
                        <div class="col-md-12" ng-init="getEmployeeDetails()">
                            <section class="panel panel-default">
                                <div class="panel-body">
                                    <form role="form" data-ng-model="employee" ng-submit="editEmployee();" class="form-horizontal">
                                        <div ng-show="main.error_message" ng-repeat="message in main.error_message" class="alert alert-danger">
                                            {{message}}
                                        </div>
                                        <div ng-show="main.alert" class="alert alert-success">
                                            {{main.alert}}
                                        </div>

                                        <fieldset>
                                            <legend>
                                                <span class="glyphicon glyphicon-th"></span><a href="#/payroll"> Payroll</strong></a> <span class="padding-left-offset">Personal Details</span>
                                            </legend>
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <label for="employeeNo">Employee No</label>
                                                    <input  type="text" class="form-control col-sm-4" readonly id="employeeNo" tabindex="801"  data-ng-model="employee.employement_no" placeholder="Employee No">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="name">Name</label>
                                                    <input  type="text"
                                                            id="name"
                                                            tabindex="802"
                                                            required
                                                            maxlength="32"
                                                            class="form-control"
                                                            placeholder="Name"
                                                            data-ng-model="employee.name"
                                                            oninvalid="setCustomValidity('Please enter a valid name.')"
                                                            onchange="try{setCustomValidity('')}catch(e){}">
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <label for="date-of-birth">Date of Birth</label>
                                                    <ng-datepicker  tabindex="803" locale="sl" format="YYYY-MM-DD" placeholder="Date of Birth" view-format="YYYY-MM-DD" data-ng-model="employee.date_of_birth" id="date-of-birth"></ng-datepicker>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="employeement-type">Employeement Type</label>
                                                    <select class="form-control" tabindex="804"
                                                            required
                                                            data-ng-model="employee.type"
                                                            id="employeement-type"
                                                            placeholder="Employement Type">
                                                        <option value= "">Select</option>
                                                        <option value= "PERMANENT">Permanent</option>
                                                        <option value= "PART TIME">Part Time</option>
                                                        <option value= "CONTRACT">Contract</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <label for="date-of-joining">Date of Joining</label>
                                                    <ng-datepicker  tabindex="805" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="employee.date_of_joining" id="date-of-joining"></ng-datepicker>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="gender">Gender</label>
                                                    <select class="form-control" tabindex="806" required  data-ng-model="employee.gender" id="gender" placeholder="Gender">
                                                        <option value= "">Select</option>
                                                        <option value= "MALE">Male</option>
                                                        <option value= "FEMALE">Female</option>
                                                        <option value= "OTHERS">Others</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <label for="blood-group">Blood Group</label>
                                                    <input  type="text"
                                                            id="blood-group"
                                                            tabindex="807"
                                                            required
                                                            maxlength="32"
                                                            class="form-control"
                                                            placeholder="Blood Group"
                                                            data-ng-model="employee.blood_group"
                                                            onchange="try{setCustomValidity('')}catch(e){}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="marital-status">Marital Status</label>
                                                    <select class="form-control" tabindex="808"  required data-ng-model="employee.marital_status" id="marital-status" placeholder="Marital Status">
                                                        <option value= "">Select</option>
                                                        <option value= "MARRIED">Married</option>
                                                        <option value= "SINGLE">Single</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <label for="address">Address</label>
                                                    <input  type="text"
                                                            id="address"
                                                            tabindex="809"
                                                            required
                                                            maxlength="32"
                                                            class="form-control"
                                                            placeholder="Address"
                                                            data-ng-model="employee.address"
                                                            onchange="try{setCustomValidity('')}catch(e){}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="landline-no">Landline No.</label>
                                                    <input  type="text"
                                                            tabindex="810"
                                                            maxlength="12"
                                                            required
                                                            id="landline-no"
                                                            pattern="\d{6,}$"
                                                            class="form-control"
                                                            placeholder="Landline No"
                                                            data-ng-model="employee.landline_no"
                                                            onchange="try{setCustomValidity('')}catch(e){}">
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <label for="mobile-no">Mobile No.</label>
                                                    <input  type="text"
                                                            tabindex="811"
                                                            maxlength="12"
                                                            required
                                                            id="mobile-no"
                                                            pattern="\d{6,}$"
                                                            class="form-control"
                                                            placeholder="Mobile No"
                                                            data-ng-model="employee.mobile_no"
                                                            onchange="try{setCustomValidity('')}catch(e){}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="email">Email</label>
                                                    <input type="email"
                                                           id="email"
                                                           tabindex="812"
                                                           maxlength="32"
                                                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                                                           required
                                                           class="form-control"
                                                           placeholder="Email"
                                                           data-ng-model="employee.email"
                                                           onchange="try{setCustomValidity('')}catch(e){}">
                                                </div>
                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-4">
                                                    <label for="is_terminated"></label>
                                                    <input class="never-expires" tabindex="11" type="checkbox" data-ng-model="employee.is_terminated" id="is_terminated" > Is Terminated
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12" ng-show="employee.is_terminated">
                                                <div class="col-sm-6">
                                                    <label for="last-working-day">Last Working Day</label>
                                                    <ng-datepicker  tabindex="803" locale="sl" format="YYYY-MM-DD" placeholder="Last Working Day" view-format="YYYY-MM-DD" data-ng-model="employee.last_working_day" id="last-working-day"></ng-datepicker>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="description">Reason of Termination</label>
                                                    <textarea rows="4" class="form-control" data-ng-model="employee.description" id="description" placeholder="Reason of Termination"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <legend>Emergency Contact Details </legend>
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <label for="contact-name">Contact Name</label>
                                                    <input  type="text"
                                                            id="contact-name"
                                                            tabindex="813"
                                                            required
                                                            maxlength="32"
                                                            class="form-control"
                                                            placeholder="Contact Name"
                                                            data-ng-model="employee.contact_name"
                                                            onchange="try{setCustomValidity('')}catch(e){}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="contact-mobile-no">Contact Mobile No</label>
                                                    <input  type="text"
                                                            tabindex="814"
                                                            maxlength="12"
                                                            required
                                                            id="contact-mobile-no"
                                                            pattern="\d{6,}$"
                                                            class="form-control"
                                                            placeholder="Contact Mobile No"
                                                            data-ng-model="employee.contact_mobile_no"
                                                            onchange="try{setCustomValidity('')}catch(e){}">
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <label for="contact-relation">Relation with employee</label>
                                                    <input  type="text"
                                                            id="contact-relation"
                                                            tabindex="815"
                                                            required
                                                            maxlength="32"
                                                            pattern="[A-Za-z]{2,32}"
                                                            class="form-control"
                                                            placeholder="Relation with employee"
                                                            data-ng-model="employee.contact_relation"
                                                            onchange="try{setCustomValidity('')}catch(e){}">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-6">
                                                <button type="submit" tabindex="816" class="btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>