<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <section ng-init="getPayItemsList()" class="panel panel-default table-dynamic">
                  <div class="panel-heading expenses">
                      <strong><span class="glyphicon glyphicon-th"></span><a href="#/payroll"> Payroll</a></strong> <span class="padding-left-offset">Pay Items List</span>
                  </div>
                  <div class="table-filters filters">
                      <div class="row">
                          <div class="col-sm-4 col-xs-6">
                              <form>
                                  <input type="text"
                                         placeholder="search"
                                         class="form-control"
                                         data-ng-model="searchKeywords"
                                         data-ng-keyup="search()">
                              </form>
                          </div>
                          <div class="col-sm-4 col-xs-6 filter-result-info">
                              <span>
                                  Showing {{filteredStores.length}}/{{payItems.length}} entries
                              </span>
                          </div>
                          <div class="col-sm-4">
                              <input type="submit" ng-click="addNewPayItem()" tabindex="2" class="btn btn-primary addnew" value="Add New Pay Item">
                          </div>
                      </div>
                  </div>

                  <table class="table table-bordered table-striped table-responsive">
                      <thead>
                      <tr>
                          <th><div class="th">
                              Name
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" order('name') "
                                    data-ng-class="{active: row == 'name'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" order('-name') "
                                    data-ng-class="{active: row == '-name'}"></span>
                          </div></th>
                          <th><div class="th">
                              Description
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" order('description') "
                                    data-ng-class="{active: row == 'description'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" order('-description') "
                                    data-ng-class="{active: row == '-description'}"></span>
                          </div></th>
                          <th><div class="th">
                              Pay Item Type
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" order('business_pay_item_type.name') "
                                    data-ng-class="{active: row == 'business_pay_item_type.name'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" order('-business_pay_item_type.name') "
                                    data-ng-class="{active: row == '-business_pay_item_type.name'}"></span>
                          </div></th>
                          <th><div class="th">
                             Account
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" order('account.name') "
                                    data-ng-class="{active: row == 'account.name'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" order('-account.name') "
                                    data-ng-class="{active: row == '-account.name'}"></span>
                          </div></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr data-ng-repeat="payItem in currentPageStores">
                          <td>{{payItem.name}}</td>
                          <td>{{payItem.description}}</td>
                          <td>{{payItem.business_pay_item_type.name}}</td>
                          <td>{{payItem.account.name}}</td>
                      </tr>
                      </tbody>
                  </table>

                  <footer class="table-footer">
                      <div class="row">
                          <div class="col-md-6 page-num-info">
                              <span>
                                  Show
                                  <select data-ng-model="numPerPage"
                                          data-ng-options="num for num in numPerPageOpt"
                                          data-ng-change="onNumPerPageChange()">
                                  </select>
                                  entries per page
                              </span>
                          </div>
                          <div class="col-md-6 text-right pagination-container">
                              <pagination class="pagination-sm"
                                          page="currentPage"
                                          total-items="filteredStores.length"
                                          max-size="4"
                                          on-select-page="select(page)"
                                          items-per-page="numPerPage"
                                          rotate="false"
                                          boundary-links="true"></pagination>
                          </div>
                      </div>
                  </footer>
              </section>
            </div>
        </div>
    </div>
</div>