<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="page">
                    <div class="row">
                        <div class="col-md-12" ng-init="getPaycheckDetails()">
                            <section class="panel panel-default">
                                <div class="panel-heading expenses">                                    
                                    <strong>
                                        <span class="glyphicon glyphicon-th"></span><a href="#/payroll"> Payroll list</a>
                                        <span class="padding-left-offset">Paycheck Details</span>
                                    </strong>                                    
                                </div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="toUser">Employee</label><br />
                                            <span id="toUser">{{ paycheckDetail.employee[0].name }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label for="payFrequency">Pay Frequency</label><br />
                                            <span id="payFrequency">{{ paycheckDetail.pay_frequency }}</span>
                                        </div>

                                        <div class="col-sm-4">
                                            <label for="periodFrom">Pay Period From</label><br />
                                            <span id="periodFrom">{{ paycheckDetail.pay_period_from }}</span>
                                        </div>

                                        <div class="col-sm-4">
                                            <label for="periodTO">Pay Period To</label><br />
                                            <span id="periodTO">{{ paycheckDetail.pay_period_to }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label for="paymentDate">Payment Date</label><br />
                                            <span id="paymentDate">{{ paycheckDetail.payment_date }}</span>
                                        </div>
                                    </div>

                                    <legend>Item Details</legend>
                                    <div class="form-group col-sm-12">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Description</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Amount</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in paycheckDetail.business_payroll_item">
                                                <td>{{ item.item_name }}</td>
                                                <td>{{ item.description }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.price }}</td>
                                                <td>{{ item.amount }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-offset-8 col-sm-4">
                                            <label for="totalTax">Tax Name</label><br />
                                            <span id="totalTax">{{ paycheckDetail.tax_rate.name }} ({{ paycheckDetail.tax_rate.tax_rates }}%)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-offset-8 col-sm-4">
                                            <label for="totalTaxAmount">Total Tax Amount</label><br />
                                            <span id="totalTaxAmount">{{ paycheckDetail.tax_amount }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-offset-8 col-sm-4">
                                            <label for="totalTax">Total Amount</label><br />
                                            <span id="totalAmount">${{ paycheckDetail.amount }}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <a href="#/payroll" tabindex="1" class="btn btn-dark">Back</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>