<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <form role="form" data-ng-model="payroll">
                <section ng-show="payrollTab == 1" class="panel panel-default">
                    <div class="panel-heading">
                        <strong>
                            <span class="glyphicon glyphicon-th"></span><a href="#/payroll"> Payroll</a>
                        </strong> 
                            <span class="padding-left-offset">New pay run</span>
                    </div>
                    <div class="panel-body">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-12">
                                <label for="payFrequency">Pay Frequency</label>
                                <select class="form-control" tabindex="1" ng-change="setDueDate();" data-ng-model="payroll.payFrequency" id="payFrequency">
                                    <option value="">Select</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Every 2 Weeks">Every 2 weeks</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Custom">Custom</option>
                                </select>
                                <span class="error">{{main.error_message.payFrequency_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="period_from">From</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" ng-change="setDueDate();" view-format="YYYY-MM-DD" data-ng-model="payroll.periodFrom" id="period_from"></ng-datepicker>
                                <span class="error">{{main.error_message.periodFrom_error}}</span>
                            </div>
                            <div class="col-sm-6">
                                <label for="period_to">To</label>
                                <ng-datepicker tabindex="3" format="YYYY-MM-DD" ng-change="payroll.payFrequency = 'Custom';" view-format="YYYY-MM-DD" data-ng-model="payroll.periodTo" id="period_to"></ng-datepicker>
                                <span class="error">{{main.error_message.periodTo_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-12">
                                <label for="payment_date">Payment Date</label>
                                <ng-datepicker tabindex="4" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="payroll.paymentDate" id="payment_date"></ng-datepicker>
                                <span class="error">{{main.error_message.paymentDate_error}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#/payroll" tabindex="5" class="btn btn-dark">Back</a>
                                <button ng-click="addPayItemsTab()" tabindex="6" class="btn  btn-primary btn-danger">Next</button>
                            </div>
                        </div>
                </section>

                <section ng-show="payrollTab == 2" class="panel panel-default">
                    <!-- <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Enter Employee Payments</strong></div> -->
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Add pay item <span class="padding-left-offset"><a href="#/payroll">Payroll</a></span><span class="padding-left-offset"><a href="#/SetDates">New pay run</a></span></strong></div>
                    <div class="panel-body">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div ng-show="error_message" class="alert alert-danger">
                            {{error_message}}
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="toUser">Select Employee</label><br />
                            <div class="col-sm-6">
                                <select  tabindex="7" ng-model="payroll.employee_pay.empId" chosen class="form-control col-sm-8 choosen-select" ng-change="getEmployeeName(payroll.employee_pay.empId)" ng-options="label.id as (label.name + ' - ' + label.email) for label in employees_list" id="toUser">
                                    <option value=""></option>
                                </select>
                                <span class="error">{{main.error_message.employee_pay_error}}</span>
                            </div>
                            <script type="text/ng-template" id="addEmployee.html">
                                <section data-ng-include=" 'views/payroll/add_employee.html' " ></section>
                            </script>
                            <div class="form-group col-sm-6">
                                <button tabindex="8" ng-click="openAddEmployeePopup()" class="btn  btn-primary">Add</button>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-8">
                                <legend>Pay Items</legend>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width:40%">Item</th>
                                        <th style="width:20%">Description</th>
                                        <th style="width:20%">Quantity</th>
                                        <th style="width:20%">Rate</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <script type="text/ng-template" id="addItemPopup.html">
                                        <section data-ng-include=" 'views/items/add_new_pay_item.html' " ></section>
                                    </script>
                                    <tr ng-repeat="(index, item) in item_list">
                                        <td>
                                            <div ng-controller="itemCtrl" class="form-group" style="margin-left: 10px;">
                                                <div class="input-group">
                                            <span ng-click="openPayItem()" style="border: 1px #ccc solid; border-radius: 4px; cursor: pointer" class="input-group-addon">
                                                <span title="Add new Item" class="glyphicon glyphicon-plus"></span>
                                            </span>
                                                    <select  tabindex="9" style="width:100%!important" chosen data-ng-model="item.business_pay_item_id" ng-change="getBusinessPayItemName(index)" class="form-control col-sm-8" ng-options="label.id as label.name group by label.pay_item_type_name for label in payItems">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td><input  class="form-control" tabindex="10" type="text" ng-model="item.description" /></td>
                                        <td><input  class="form-control" tabindex="11" ng-change="calculateAmount(item)" type="number" ng-model="item.quantity" /></td>
                                        <td><input  class="form-control" tabindex="12" ng-change="calculateAmount(item)" type="text" ng-model="item.price" /></td>
                                        <td>{{item.amount}}</td>
                                        <td>
                                            <input ng-if="index != 0" type="checkbox" tabindex="9" ng-model="item.selected"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="form-group col-sm-12">
                                    <input ng-hide="!item_list.length" type="button" tabindex="13" class="btn btn-danger" ng-click="remove()" value="Remove">
                                    <input type="submit" ng-click="addNew()" tabindex="14" class="btn btn-primary addnew" value="Add New">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <legend>Pay Calculation</legend>
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    <tr>
                                        <td>Wages</td>
                                        <td>{{ wages }}</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;Plus Allowances</td>
                                        <td>{{ allowances }}</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;Less Deductions</td>
                                        <td>{{ deductions }}</td>
                                    </tr>
                                    <tr>
                                        <td>Taxes</td>
                                        <td>{{ taxes }}</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;Plus Non-taxable Allowances</td>
                                        <td>{{ nonTaxable }}</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;Less Post-tax Deductions</td>
                                        <td>{{ postTaxable }}</td>
                                    </tr>
                                    <tr>
                                        <td>NET PAY</td>
                                        <td>{{payroll.netPay}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class=" col-sm-12">
                            <div class="col-md-6">
                                <div class="panel panel-default expenses">
                                    <div class="panel-heading">Attachment</div>
                                    <div class="panel-body">
                                        <div class="form-group plus-button">
                                            <div class="col-md-12 expenses">
                                                <input type="hidden" name="attachment" data-ng-model="payroll.attachment">
                                                <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- List group -->
                            <div class="col-md-6">
                                <div class="form-horizontal panel panel-default">
                                    <div class="panel-heading">Total</div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Select tax</label>
                                            <div class="col-sm-8">
                                                <select  tabindex="1" chosen data-ng-model="payroll.tax_rate_id" data-ng-change="calculateTotalAmount()" class="form-control" ng-options="label.id as label.name for label in taxRates">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Tax ({{ payroll.tax }}%)</label>
                                            <div class="col-sm-8 amount">
                                                <h4>{{payroll.taxAmount}}</h4>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Amount</label>
                                            <div class="col-sm-8 amount">
                                                <h4>${{payroll.totalAmount}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-3">
                                <button ng-click="payrollTab = 1;" tabindex="16" class="btn btn-dark">Back</button>
                            </div>
                            <div class="col-sm-9">
                                <!-- <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Save
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="javascript:;" ng-click="draft();">Draft Payroll</a></li>
                                        <li><a href="javascript:;" ng-click="showReviewTab()">Saved Payroll</a></li>
                                    </ul>
                                </div> -->
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary" ng-click="showReviewTab()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

                <section ng-show="payrollTab == 3" class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Review</strong></div>
                            <div class="panel-body">
                                <div ng-show="main.alert" class="alert alert-success">
                                    {{main.alert}}
                                </div>
                                <legend>Summary</legend>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-12">
                                        <label for="payFrequency">Pay Frequency</label><br />
                                        <span>{{ payroll.payFrequency }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label for="period_from">From</label><br />
                                        <span>{{ payroll.periodFrom | date:'yyyy-MM-dd'}}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="period_to">To</label><br />
                                        <span>{{ payroll.periodTo | date:'yyyy-MM-dd' }}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="payment_date">Payment Date</label><br />
                                        <span>{{ payroll.paymentDate | date:'yyyy-MM-dd' }}</span>
                                    </div>
                                </div>

                                <legend>Employee Payment</legend>
                                <div class="form-group col-sm-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Gross Wages</th>
                                            <th>Allowances</th>
                                            <th>Deductions</th>
                                            <th>Taxes</th>
                                            <th>Non-taxable Allowances</th>
                                            <th>Post-tax Deductions</th>
                                            <th>Net Pay</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ employeeName }}</td>
                                            <td>{{ wages }}</td>
                                            <td>{{ allowances }}</td>
                                            <td>{{ deductions }}</td>
                                            <td>{{ taxes }}</td>
                                            <td>{{ nonTaxable }}</td>
                                            <td>{{ postTaxable }}</td>
                                            <td>{{ payroll.netPay }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="form-group col-sm-12">
                                    <div class="col-sm-offset-6 col-sm-6">
                                        <label for="totalTax">Tax Name</label><br />
                                        <span id="totalTax">{{ payroll.tax_rate_name }} ({{ payroll.tax_rates }}%)</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-offset-6 col-sm-6">
                                        <label for="totalTaxAmount">Total Tax Amount</label><br />
                                        <span id="totalTaxAmount">{{ payroll.taxAmount }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-offset-6 col-sm-6">
                                        <label for="totalAmount">Total Amount</label><br />
                                        <span id="totalAmount">{{ payroll.totalAmount }}</span>
                                    </div>
                                </div>
                                <div id="sendEmail" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" ng-click="cancelEmail();">&times;</button>
                                                <h4 class="modal-title">Send Email</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Email :</label>
                                                        <input type="email" class="form-control" ng-model="payroll.sendEmailTo" placeholder="Enter Email">
                                                        <span ng-show="emailError" class="error">Please enter a valid email address</span>
                                                    </div>
                                                    <div class="form-group col-md-12 text-center">
                                                        <div class="clearfix"><hr /></div>
                                                        <button type="submit" class="btn btn-gray pull-right" ng-click="cancelEmail();">Cancel</button>
                                                        <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="sendEmail();" >Send</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6" ng-show="payroll.status != 'APPROVED'">
                                        <button ng-click="payrollTab = 2;" tabindex="18" class="btn btn-dark">Back</button>
                                        <button tabindex="19" ng-click="approve();" class="btn  btn-primary">Approve</button>
                                    </div>
                                    <div class="col-sm-6" ng-show="payroll.status == 'APPROVED'">
                                        <button type="submit" tabindex="20"  ng-click="openEmailPopup()" class="btn btn-primary btn-danger">Send</button>
                                        <button type="submit" tabindex="20"  ng-click="payrollCopy()" class="btn btn-primary">Copy</button>
                                    </div>
                                </div>
                            </div>
                        </section>
            </form>
        </div>
    </div>
</div>