<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" ng-init="getTypeInvoices('INVOICE')">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th"></span>
                    <a href="#/refund"><strong> Refund transaction</strong></a> <span class="padding-left-offset">Create refund</span>
                </div>
                <div class="panel-body">
                    <form role="form" ng-init="setTypes('REFUND')" data-ng-model="invoice">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="NO">Select Invoice No </label><br />
                                <select tabindex="1" chosen data-ng-model="invoice.invoiceId" ng-change="getInvoiceDetails(invoice.invoiceId)" class="form-control col-sm-8 choosen-select" ng-options="label.id as label.invoice_no for label in typeInvoices" id="NO">
                                    <option value=""></option>
                                </select>
                                <span class="error">{{main.error_message.invoiceId_error}}</span>
                            </div>
                        </div>
                        <section ng-show="redundDetailShow">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-6">
                                    <label for="toUser">To</label><br />
                                    <select readonly="readonly"  tabindex="1" data-ng-model="invoice.toUser" class="form-control col-sm-8" ng-options="label.id as (label.first_name + ' ' + label.last_name + ' - ' + label.email) for label in users" id="toUser">
                                   </select>
                                    <span class="error">{{main.error_message.toUser_error}}</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-6">
                                    <label for="invoiceNo">Invoice No</label>
                                    <input  type="text" class="form-control col-sm-4" readonly id="invoiceNo" tabindex="3"  data-ng-model="invoice.invoiceNo" placeholder="Invoice No">
                                    <span class="error">{{main.error_message.invoiceNo_error}}</span>
                                </div>
                                <div class="col-sm-6">
                                    <label for="date">Date</label>
                                    <input  readonly="readonly"  tabindex="4" class="form-control col-sm-4"  locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.date" id="date"></input>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-6">
                                    <label for="reference">Reference</label>
                                    <input type="text" readonly="readonly" class="form-control"  tabindex="5" data-ng-model="invoice.reference" id="reference" placeholder="Reference">
                                    <span class="error">{{main.error_message.reference_error}}</span>
                                </div>
                                 <div class="form-group col-sm-6">
                                    <label for="payment_term">Payment Term</label>
                                    <select readonly="readonly"  class="form-control" tabindex="6"  ng-change="setDueDate();" data-ng-model="invoice.paymentTerm" id="payment_term" placeholder="Payment Term">
                                        <option value= "">Select</option>
                                        <option value= "Paid">Paid</option>
                                        <option value= "Due on invoice">Due on receipt</option>
                                        <option value= "Due 4 weeks">Due 4 weeks</option>
                                        <option value= "Due 8 weeks">Due 8 weeks</option>
                                        <option value= "Custom date">Custom date</option>
                                    </select>
                                     <span class="error">{{main.error_message.paymentTerm_error}}</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12" ng-show="invoice.paymentTerm != '' && invoice.paymentTerm != 'Paid'" >
                               <div class="col-sm-6">
                                    <label for="due_to">Due Date</label>
                                    <input readonly="readonly" class="form-control col-sm-4"  tabindex="7" data-ng-model="invoice.dueTo" id="due_to"></input>
                                   <span class="error">{{main.error_message.dueTo_error}}</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="description">Description</label>
                                <textarea class="form-control" tabindex="8" rows="4" data-ng-model="invoice.description" id="description"></textarea>
                                <span class="error">{{main.error_message.description_error}}</span>
                            </div>
                            <section>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width:20%">Item</th>
                                                <th>
                                                    Description
                                                </th>
                                                <th style="width:10%">
                                                    Quantity
                                                </th>
                                                <th style="width:10%">
                                                    Unit Price
                                                </th>
                                                <th style="width:20%">
                                                    Account
                                                </th>
                                                <th style="width:10%">
                                                    Discount
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(index, item) in item_list">
                                                <td>
                                                 {{item.name}}
                                                </td>
                                                <td>{{item.description}}</td>
                                                <td>{{item.quantity}}</td>
                                                <td>{{item.price}}</td>
                                                <td>{{item.account_name}}
                                                </td>
                                                <td>{{item.discount}}</td>
                                                <td>{{item.amount}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <div class=" col-sm-12">
                                <div class="col-md-6">
                                    <div class="panel panel-default expenses">
                                        <div class="panel-heading">Notes</div>
                                        <div class="panel-body" ng-repeat="notes in invoice.notes">
                                            <div class="form-group plus-button">
                                                <div class="col-md-12">
                                                    <label>{{notes.Notes}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- List group -->
                                <div class="col-md-6">
                                    <div class="form-horizontal panel panel-default">
                                        <div class="panel-heading">Total</div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="col-sm-6">Total Discount : {{ invoice.discount }}</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-6">Tax Name : {{ invoice.tax_rate.name }} ({{ invoice.tax_rate.tax_rates }}%)</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-6">Total Tax Amount : {{ invoice.tax_amount }}</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-6">Total Amount : {{ invoice.totalAmount }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <section data-ng-include=" 'views/income/send_email_popup.html' " ></section>

                                <div class="col-sm-12">
                                    <div class="col-md-6">
                                        <button type="submit" tabindex="28"  ng-click="cancel();" class="btn btn-dark">Discard</button>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-group-line-seperator" ng-click="approve();">Save</button>
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="javascript:;" ng-click="openEmailPopup()">Save & Send</a></li>
                                                <!--<li><a href="javascript:;" ng-click="approve();">Approved Invoice</a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>