<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        <span class="glyphicon glyphicon-th"></span>
                            <a href="#/sales_recurring"> Recurring transaction</a>
                    </strong> 
                    <span class="padding-left-offset">New recurring sale</span>
                </div>
                <div class="panel-body">
                    <form role="form" ng-init="setTypes('RECURRING')" data-ng-model="invoice">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="toUser">To</label><br />
                                <select  tabindex="1" chosen data-ng-model="invoice.toUser" class="form-control col-sm-8 choosen-select" ng-options="label.id as (label.first_name + ' ' + label.last_name + ' - ' + label.email) for label in users" id="toUser">
                                </select>
                                </br>
                               <span class="error">{{main.error_message.toUser_error}}</span>
                            </div>
                            <div class="col-sm-6" style="padding-top:25px;">
                               <input type="submit" ng-click="addNewUser()" tabindex="2" class="btn btn-primary addnew" value="Add New Customer">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="invoiceNo">Invoice No</label>
                                <input  type="text" class="form-control col-sm-4" readonly id="invoiceNo" tabindex="3"  data-ng-model="invoice.invoiceNo" placeholder="Invoice No">
                                <span class="error">{{main.error_message.invoiceNo_error}}</span>
                            </div>
                            <div class="col-sm-6">
                                <label for="date">Date</label>
                                <ng-datepicker  tabindex="4" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.date" id="date"></ng-datepicker>
                                <span class="error">{{main.error_message.date_error}}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="reference">Reference</label>
                                <input type="text"  class="form-control"  tabindex="5" data-ng-model="invoice.reference" id="reference" placeholder="Reference">
                                <span class="error">{{main.error_message.reference_error}}</span>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="schedule">Schedule</label>
                                <select class="form-control" tabindex="6" data-ng-model="invoice.schedule" id="schedule" placeholder="Schedule">
                                    <option value= "">Select</option>
                                    <option value= "Weekly">Weekly</option>
                                    <option value= "2 Weeks">2 Weeks</option>
                                    <option value= "4 Weeks">4 Weeks</option>
                                    <option value= "Monthly">Monthly</option>
                                    <option value= "Custom Date">Custom Date</option>

                                </select>
                                <span class="error">{{main.error_message.schedule_error}}</span>
                            </div>
                            <div class="form-group col-sm-2">
                            <label for="custom_date">&nbsp;</label>
                                <input type="number" class="form-control" data-ng-model="invoice.customDate" placeholder="1" id="custom_date" tabindex="7" ng-disabled="invoice.schedule != 'Custom Date'">
                                <span class="error">{{main.error_message.customDate_error}}</span>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="custom_date_options">&nbsp;</label>
                                <select class="form-control" tabindex="8" ng-disabled="invoice.schedule != 'Custom Date'" data-ng-model="invoice.customDateOptions" id="custom_date_options" placeholder="Weeks">
                                    <option value= "Day(s)">Day(s)</option>
                                    <option value= "Week(s)">Week(s)</option>
                                    <option value= "Month(s)">Month(s)</option>
                                    <option value= "Year(s)">Year(s)</option>

                                </select>
                                <span class="error">{{main.error_message.customDateOptions_error}}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                           <div class="col-sm-5">
                                <label for="start_on">Start On</label>
                                <ng-datepicker tabindex="9" format="YYYY-MM-DD" view-format="YYYY-MM-DD" placeholder="YYYY-MM-DD" data-ng-model="invoice.startOn" id="start_on"></ng-datepicker>
                                <span class="error">{{main.error_message.startOn_error}}</span>
                            </div>
                            <div class="col-sm-5">
                                <label for="ends_on">Ends On</label>
                                <ng-datepicker tabindex="10" format="YYYY-MM-DD" view-format="YYYY-MM-DD" placeholder="YYYY-MM-DD" data-ng-model="invoice.endsOn" id="ends_on"></ng-datepicker>
                                <span class="error">{{main.error_message.endsOn_error}}</span>
                            </div>
                            <div class="col-sm-2">
                                <label for="never_expires">&nbsp;</label>
                                <input class="never-expires" tabindex="11" type="checkbox" ng-change="neverExpires()" data-ng-model="invoice.neverExpires" id="never_expires" > Never Expires
                            </div>
                        </div>

                        <div class="form-group col-sm-12" >
                             <div class="form-group col-sm-6">
                                <label for="payment_term">Payment Term</label>
                                <select class="form-control" tabindex="12"  ng-change="setDueDate();" data-ng-model="invoice.paymentTerm" id="payment_term" placeholder="Payment Term">
                                    <option value= "">Select</option>
                                    <option value= "Due on Invoice">Due on receipt</option>
                                    <option value= "Due 4 Weeks">Due 4 weeks</option>
                                    <option value= "Due 8 Weeks">Due 8 weeks</option>
                                    <option value= "Custom date">Custom date</option>
                                </select>
                                <span class="error">{{main.error_message.paymentTerm_error}}</span>
                            </div>
                           <div class="col-sm-6" ng-show="invoice.paymentTerm != '' && invoice.paymentTerm != 'Paid'" >
                                <label for="due_to">Due Date</label>
                                <ng-datepicker tabindex="13" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.dueTo" id="due_to"></ng-datepicker>
                                <span class="error">{{main.error_message.dueTo_error}}</span>
                            </div>
                        </div>
                        <section data-ng-include=" 'views/items/add_items.html' " ></section>
                        <section data-ng-include=" 'views/income/invoice_footer.html' " ></section>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>