<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="formName('expense')">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span><a href="#/expense_recurring"> Recurring expense</a></strong> <span class="padding-left-offset">Schedule an Expense</span></div>
                <div class="panel-body">
                    <form role="form" ng-init="setTypes('RECURRING')" data-ng-model="expense">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="toUser">Payee</label><br />
                                <select  tabindex="1" chosen data-ng-model="expense.payee" class="form-control col-sm-8 choosen-select" ng-options="label.id as (label.first_name + ' ' + label.last_name + ' - ' + label.email) for label in users" id="toUser">
                               </select>
                               </br>
                               <span class="error">{{main.error_message.payee_error}}</span>
                            </div>
                            <div class="col-sm-6" style="padding-top:25px;">
                               <input type="submit" ng-click="addNewUser()" tabindex="2" class="btn btn-primary addnew" value="Add New Vendor">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="expenseNo">Expense No</label>
                                <input  type="text" class="form-control col-sm-4" readonly id="expenseNo" tabindex="3"  data-ng-model="expense.expenseNo" placeholder="Expense No">
                            </div>
                            <div class="col-sm-6">
                                <label for="date">Date</label>
                                <ng-datepicker  tabindex="3" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="expense.date" id="date"></ng-datepicker>
                                <span class="error">{{main.error_message.date_error}}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-3">
                                <label for="schedule">Schedule</label>
                                <select class="form-control" tabindex="4" data-ng-model="expense.schedule" id="schedule" placeholder="Schedule">
                                    <option value= "">Select</option>
                                    <option value= "1">Weekly</option>
                                    <option value= "2">2 Weeks</option>
                                    <option value= "3">4 Weeks</option>
                                    <option value= "4">Monthly</option>
                                    <option value= "5">2 Months</option>
                                    <option value= "6">Custom Date</option>
                                </select>
                                <span class="error">{{main.error_message.schedule_error}}</span>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="custom_date">&nbsp;</label>
                                <input type="number" class="form-control" data-ng-model="expense.customDate" placeholder="1" id="custom_date" tabindex="5" ng-disabled="expense.schedule != '5'">
                                <span class="error">{{main.error_message.customDate_error}}</span>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="custom_date_options">&nbsp;</label>
                                <select class="form-control" tabindex="6" ng-disabled="expense.schedule != '6'" data-ng-model="expense.customDateOptions" id="custom_date_options" placeholder="Weeks">
                                    <option value= "Day(s)">Day(s)</option>
                                    <option value= "Week(s)">Week(s)</option>
                                    <option value= "Month(s)">Month(s)</option>
                                    <option value= "Year(s)">Year(s)</option>
                                </select>
                                <span class="error">{{main.error_message.customDateOptions_error}}</span>
                            </div>
                            <div class="col-sm-3">
                                <label for="never_expires">&nbsp;</label>
                                <input class="never-expires" tabindex="9" type="checkbox" ng-change="neverExpires()" data-ng-model="expense.neverExpires" id="never_expires" > Never Expires
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-5">
                                <label for="start_on">Start On</label>
                                <ng-datepicker tabindex="7" format="YYYY-MM-DD" view-format="YYYY-MM-DD" placeholder="YYYY-MM-DD" data-ng-model="expense.startOn" id="start_on"></ng-datepicker>
                                <span class="error">{{main.error_message.startOn_error}}</span>
                            </div>
                            <div class="col-sm-5">
                                <label for="ends_on">Ends On</label>
                                <ng-datepicker tabindex="8" format="YYYY-MM-DD" view-format="YYYY-MM-DD" placeholder="YYYY-MM-DD" data-ng-model="expense.endsOn" id="ends_on"></ng-datepicker>
                                <span class="error">{{main.error_message.endsOn_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                             <div class="form-group col-sm-6">
                                <label for="payment_term">Payment Term</label>
                                <select class="form-control" tabindex="10"  ng-change="setDueDate();" data-ng-model="expense.paymentTerm" id="payment_term" placeholder="Payment Term">
                                    <option value= "">Select</option>
                                    <option value= "1">Paid</option>
                                    <option value= "2">Due on date</option>
                                    <option value= "3">Due on 4 weeks</option>
                                    <option value= "4">Due on 8 weeks</option>
                                    <option value= "5">Custom date</option>
                                </select>
                                <span class="error">{{main.error_message.paymentTerm_error}}</span>
                            </div>
                             <div ng-show="expense.paymentTerm != '' && expense.paymentTerm != '1'" class="col-sm-6">
                                <label for="due_to">Due Date</label>
                                <ng-datepicker tabindex="11" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="expense.dueTo" id="due_to"></ng-datepicker>
                                <span class="error">{{main.error_message.dueTo_error}}</span>
                            </div>
                        </div>

                        <section data-ng-include=" 'views/items/add_items.html' " ></section>
                        <!-- List group -->
                        <div class=" col-sm-12">
                            <div class="col-md-6" ng-init="addNewNotes()">
                                <div class="panel panel-default expenses">
                                    <div class="panel-heading">Notes</div>
                                    <div class="panel-body" ng-repeat="(index, notes) in expense.notes">
                                        <div class="form-group plus-button">
                                            <div class="col-md-12">
                                                <textarea class="form-control" rows="4" tabindex="24" ng-model="notes.Notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- List group -->
                            <div class="col-md-6">
                                <div class="form-horizontal panel panel-default">
                                    <div class="panel-heading">Total</div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Discount</label>
                                            <div class="col-sm-8">
                                                <input  class="form-control" tabindex="25" ng-change="calculateTotalAmount()" type="number" ng-model="expense.discount" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Select tax</label>
                                            <div class="col-sm-8">
                                                <select  tabindex="1" chosen data-ng-model="expense.tax_rate_id" data-ng-change="calculateTotalAmount()" class="form-control" ng-options="label.id as label.name for label in taxRates">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Tax ({{ expense.tax }}%)</label>
                                            <div class="col-sm-8 amount">
                                                <h4>{{expense.taxAmount}}</h4>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Amount</label>
                                            <div class="col-sm-8 amount">
                                                <h4>${{expense.totalAmount}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="sendEmail" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="cancelEmail();">&times;</button>
                                            <h4 class="modal-title">Send Email</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Email :</label>
                                                    <input type="email" class="form-control" ng-model="expense.sendEmailTo" placeholder="Enter Email">
                                                    <span ng-show="emailError" class="error">Please enter a valid email address</span>
                                                </div>
                                                <div class="form-group col-md-12 text-center">
                                                    <div class="clearfix"><hr /></div>
                                                    <button type="submit" class="btn btn-gray pull-right" ng-click="cancelEmail();">Cancel</button>
                                                    <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="sendEmail('Expense');" >Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-md-6">
                                <div class="panel panel-default expenses">
                                    <div class="panel-heading">Attachment</div>
                                    <div class="panel-body">
                                        <div class="form-group plus-button">
                                            <div class="col-md-12 expenses">
                                                <input type="hidden" name="attachment" data-ng-model="expense.attachment">
                                                <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-md-6">
                                <button type="submit" tabindex="28"  ng-click="cancel();" class="btn btn-dark">Discard</button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-group-line-seperator" ng-click="approve('Expense');">Save</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="javascript:;" ng-click="saveExpense();">Draft Expense Recurring</a></li>
                                        <!--<li><a href="javascript:;" ng-click="approve('Expense');">Approved Invoice</a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>