<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span><a href="#/estimates"><strong> Estimate list</strong></a> <span class="padding-left-offset">Create estimate</span></div>
                <div class="panel-body">
                    <form role="form" ng-init="setTypes('ESTIMATES')" data-ng-model="invoice">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="toUser">To</label><br />
                                <select  tabindex="1" chosen data-ng-model="invoice.toUser" class="form-control col-sm-8 choosen-select" ng-options="label.id as (label.first_name + ' ' + label.last_name + ' - ' + label.email) for label in users" id="toUser">
                               </select>
                               <span class="error">{{main.error_message.toUser_error}}</span>
                            </div>
                            <div class="col-sm-6" style="padding-top:25px;">
                               <input type="submit" ng-click="addNewUser()" tabindex="2" class="btn btn-primary addnew" value="Add New Customer">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="estimates">Estimates</label>
                                <input  type="text" class="form-control col-sm-4" readonly id="estimates" tabindex="3"  data-ng-model="invoice.estimates" placeholder="Estimates">
                                <span class="error">{{main.error_message.estimates_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="date">Estimates Date</label>
                                <ng-datepicker  tabindex="4" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.date" id="date"></ng-datepicker>
                                <span class="error">{{main.error_message.date_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-6">
                                <label for="payment_term">Expiry Date</label>
                                <select class="form-control" tabindex="5"  ng-change="setExpiryDate();" data-ng-model="invoice.paymentTerm" id="payment_term">
                                    <option value= "">Select</option>
                                    <option value= "2 Weeks">2 Weeks</option>
                                    <option value= "4 Weeks">4 Weeks</option>
                                    <option value= "1 Month">1 Month</option>
                                    <option value= "Custom date">Custom</option>
                                </select>
                                <span class="error">{{main.error_message.paymentTerm_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="reference">Reference</label>
                                <input type="text"  class="form-control"  tabindex="6" data-ng-model="invoice.reference" id="reference" placeholder="Reference">
                                <span class="error">{{main.error_message.reference_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" ng-show="invoice.paymentTerm != '' && invoice.paymentTerm != 'Paid'" >
                           <div class="col-sm-6">
                                <label for="due_to">Due To</label>
                                <ng-datepicker tabindex="7" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.dueTo" id="due_to"></ng-datepicker>
                                <span class="error">{{main.error_message.dueTo_error}}</span>
                            </div>
                        </div>
                        <section data-ng-include=" 'views/items/add_items.html' " ></section>
                        <section data-ng-include=" 'views/income/invoice_footer.html' " ></section>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>