<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><a href="#/invoice"><strong><span class="glyphicon glyphicon-th"></span> Sale transaction</strong></a><span class="padding-left-offset">Add Invoice</span></div>
                <div class="panel-body">
                    <form role="form" ng-init="setTypes('INVOICE')" data-ng-model="invoice">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="toUser">To</label><br />
                                <select  tabindex="1" chosen data-ng-model="invoice.toUser" class="form-control col-sm-8 choosen-select" ng-options="label.id as (label.first_name + ' ' + label.last_name + ' - ' + label.email) for label in users" id="toUser">
                                <option value=""></option>
                                option
                               </select>
                                </br>
                               <span class="error">{{main.error_message.toUser_error}}</span>
                            </div>
                            <div class="col-sm-6" style="padding-top:25px;">
                               <input type="submit" ng-click="addNewUser()" tabindex="2" class="btn btn-primary addnew" value="Add New Customer">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="invoiceNo">Invoice No</label>
                                <input  type="text" class="form-control col-sm-4" readonly id="invoiceNo" tabindex="3"  data-ng-model="invoice.invoiceNo" placeholder="Invoice No">
                            </div>
                            <span class="error">{{main.error_message.invoiceNo_error}}</span>
                            <div class="col-sm-6">
                                <label for="date">Date</label>
                                <ng-datepicker  tabindex="4" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.date" id="date"></ng-datepicker>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-6">
                                <label for="reference">Reference</label>
                                <input type="text"  class="form-control"  tabindex="5" data-ng-model="invoice.reference" id="reference" placeholder="Reference">
                                <span class="error">{{main.error_message.reference_error}}</span>
                            </div>
                             <div class="form-group col-sm-6">
                                <label for="payment_term">Payment Term</label>
                                <select class="form-control" tabindex="6"  ng-change="setDueDate();" data-ng-model="invoice.paymentTerm" id="payment_term" placeholder="Payment Term">
                                    <option value= "">Select</option>
                                    <option value= "Paid">Paid</option>
                                    <option value= "Due on Invoice">Due on receipt</option>
                                    <option value= "Due 4 Weeks">Due 4 weeks</option>
                                    <option value= "Due 8 Weeks">Due 8 weeks</option>
                                    <option value= "Custom date">Custom date</option>
                                </select>
                                <span class="error">{{main.error_message.paymentTerm_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-6" ng-show="invoice.paymentTerm != '' && invoice.paymentTerm != 'Paid'">
                                <label for="due_to">Due Date</label>
                                <ng-datepicker tabindex="7" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.dueTo" id="due_to"></ng-datepicker>
                            </div>
                            <span class="error">{{main.error_message.dueTo_error}}</span>

                            <div class="form-group col-sm-6" ng-show="invoice.paymentTerm == 'Paid'">
                                <label for="account">Paid To</label>
                                <select  tabindex="8" ng-click="label.click" chosen="" class="form-control" id="account"  data-ng-model="invoice.account_id"  ng-options="label.id as label.name group by label.type for label in receivePaymentAccountLists">
                                    <option value=""></option>
                                </select>
                                <span class="error">{{main.error_message.account_id_error}}</span>
                            </div>
                        </div>
                       <section data-ng-include=" 'views/items/add_items.html' " ></section>
                       <section data-ng-include=" 'views/income/invoice_footer.html' " ></section>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>