<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="inviteUserPermissionShowHide(userPermission);">
            <section ng-init="getTypeInvoices('ESTIMATES')" class="panel panel-default table-dynamic">
                <div class="panel-heading text-uppercase expenses"> Estimate List
                    <div class="pull-right" ng-show="userPermission == null || userPermission.cpa_permission == 1">
                        <a href="#/add_estimates" class="btn orange-btn">Create Estimates</a>
                    </div>
                </div>
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="search"
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-4 col-xs-6 filter-result-info">
                            <span>
                                Showing {{filteredStores.length}}/{{typeInvoices.length}} entries
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th><div class="th">
                            Estimate Number
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('invoice_no') "
                                  data-ng-class="{active: row == 'invoice_no'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-invoice_no') "
                                  data-ng-class="{active: row == '-invoice_no'}"></span>
                        </div></th>
                        <th><div class="th">
                            Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('date') "
                                  data-ng-class="{active: row == 'date'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-date') "
                                  data-ng-class="{active: row == '-date'}"></span>
                        </div></th>
                        <th><div class="th">
                            Customer
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('customer[0].first_name') "
                                  data-ng-class="{active: row == 'customer[0].first_name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-customer[0].first_name') "
                                  data-ng-class="{active: row == '-customer[0].first_name'}"></span>
                        </div></th>
                        <th><div class="th">
                            Expiry Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('due_date') "
                                  data-ng-class="{active: row == 'due_date'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-due_date') "
                                  data-ng-class="{active: row == '-due_date'}"></span>
                        </div></th>
                        <th><div class="th">
                            Status
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('status') "
                                  data-ng-class="{active: row == 'status'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-status') "
                                  data-ng-class="{active: row == '-status'}"></span>
                        </div></th>
                        <th><div class="th">
                            Action
                        </div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="currentPageStores.length == 0">
                        <td colspan="7">No Record Found</td>
                    </tr>
                    <tr data-ng-repeat="invoice in currentPageStores">
                        <td>{{invoice.invoice_no}}</td>
                        <td>{{invoice.date}}</td>
                        <td>{{invoice.customer[0].first_name}} {{invoice.customer[0].last_name}}</td>
                        <td>{{invoice.due_date}}</td>
                        <td>{{invoice.status}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#/invoice_details/{{invoice.id}}">View</a></li>
                                    <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) || (userPermission != null && invoicePermission == 'Edit')"><a href="#/estimates/edit/{{invoice.id}}">Edit</a></li>
                                    <li ng-show="userPermission == null || userPermission.cpa_permission == 1"><a href="#" ng-click="delete(invoice.id)">Void</a></li>
                                    <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) && invoice.status != 'DRAFT'"><a href="javascript:;"  ng-click="openResendInvoice(invoice.id)" >Resend</a></li>
                                    <li ng-show="(userPermission == null || userPermission.cpa_permission == 1) || (userPermission != null && invoicePermission == 'Edit')"><a href="#/invoice/edit/{{invoice.id}}">Convert to Invoice</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>