<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="getExpenseDetails()">
            <section class="panel panel-default">
                <div class="panel-heading expenses col-sm-12">
                    <div class="col-sm-6">
                        <span class="glyphicon glyphicon-th"></span><a href="#/expense_recurring" ng-show="expenseDetail.type == 'RECURRING'"><strong> Expense list</strong></a><a href="#/expenses" ng-show="expenseDetail.type == 'EXPENSE'"><strong> Expense list</strong></a><span class="padding-left-offset">Expense Details</span>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn custom-btn pull-right" href="#/expense/make/payment/{{expense.id}}" >Make Payment</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label for="toUser">Payee</label><br />
                            <span id="toUser">{{ expenseDetail.vendor[0].first_name }} {{ expenseDetail.vendor[0].last_name }}</span>
                        </div>
                        <div class="col-sm-4">
                            <label for="expenseNo">Expense No</label><br />
                            <span id="expenseNo">{{ expenseDetail.expense_no }}</span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label for="date">Date</label><br />
                            <span id="date">{{ expenseDetail.date }}</span>
                        </div>

                        <div class="col-sm-4" ng-if="expenseDetail.type == 'EXPENSE'">
                            <label for="reference">Reference</label><br />
                            <span id="reference">{{ expenseDetail.reference }}</span>
                        </div>
                        <div class="col-sm-4">
                            <label for="paymentTerm">Payment Term</label><br />
                            <span id="paymentTerm">{{ expenseDetail.payment_term }}</span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-4" ng-if="expenseDetail.payment_term != 'Paid'">
                            <label for="dueTo">Due To</label><br />
                            <span id="dueTo">{{ expenseDetail.payment_term }}</span>
                        </div>
                        <div class="col-sm-4">
                            <label for="type">Type</label><br />
                            <span id="type">{{ expenseDetail.type }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="status">Status</label><br />
                            <span id="status">{{ expenseDetail.status }}</span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12" ng-if="expenseDetail.type == 'RECURRING'">
                        <div class="col-sm-4">
                            <label for="schedule">Schedule</label><br />
                            <span id="schedule">{{ expenseDetail.business_expense_configuration.schedule }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="startOn">Start On</label><br />
                            <span id="startOn">{{ expenseDetail.business_expense_configuration.start_on }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="endOn">End on</label><br />
                            <span id="endOn">{{ expenseDetail.business_expense_configuration.end_on }}</span>
                        </div>
                    </div>

                    <legend>Item Details</legend>
                    <div class="form-group col-sm-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Account</th>
                                <th>Discount</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in expenseDetail.business_expense_item">
                                <td>{{ item.item_name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.account_name }}</td>
                                <td>{{ item.discount }}</td>
                                <td>{{ item.amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label for="Notes">Notes</label><br />
                            <div ng-repeat="notes in expenseDetail.notes">
                                <span id="Notes">{{ notes.title }}</span><br/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="totalDiscount">Total Discount</label><br />
                            <span id="totalDiscount">{{ expenseDetail.discount }}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-6 col-sm-6">
                            <label for="totalTax">Tax Name</label><br />
                            <span id="totalTax">{{ expenseDetail.tax_rate.name }} ({{ expenseDetail.tax_rate.tax_rates }}%)</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-6 col-sm-6">
                            <label for="totalTaxAmount">Total Tax Amount</label><br />
                            <span id="totalTaxAmount">{{ expenseDetail.tax_amount }}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-6  col-sm-6">
                            <label for="totalTax">Total Amount</label><br />
                            <span id="totalAmount">{{ expenseDetail.amount }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>