<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="getInvoice()">
            <section class="panel panel-default">
                <div class="panel-heading"><a href="#/invoice"><strong><span class="glyphicon glyphicon-th"></span> Sale transaction</strong></a><span class="padding-left-offset">Edit Invoice</span></div>
                <div class="panel-body">
                    <form role="form" ng-init="setTypes('INVOICE')" data-ng-model="invoice">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="toUser">To</label><br />
                                <select  tabindex="1" chosen data-ng-model="invoice.toUser" class="form-control col-sm-8 choosen-select" ng-options="label.id as (label.first_name + ' ' + label.last_name + ' - ' + label.email) for label in users" id="toUser">
                                </select>
                                </br>
                                <span class="error">{{main.error_message.toUser_error}}</span>
                            </div>
                            <div class="col-sm-6" style="padding-top:25px;">
                                <input type="submit" ng-click="addNewUser()" tabindex="2" class="btn btn-primary addnew" value="Add New User">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="invoiceNo">Invoice No</label>
                                <input  type="text" class="form-control col-sm-4" readonly id="invoiceNo" tabindex="3"  data-ng-model="invoice.invoiceNo" placeholder="Invoice No">
                            </div>
                            <span class="error">{{main.error_message.invoiceNo_error}}</span>
                            <div class="col-sm-6">
                                <label for="date">Date</label>
                                <ng-datepicker  tabindex="4" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.date" id="date"></ng-datepicker>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="reference">Reference</label>
                                <input type="text"  class="form-control"  tabindex="5" data-ng-model="invoice.reference" id="reference" placeholder="Reference">
                                <span class="error">{{main.error_message.reference_error}}</span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="payment_term">Payment Term</label>
                                <select class="form-control" tabindex="6"  ng-change="setDueDate();" data-ng-model="invoice.paymentTerm" id="payment_term" placeholder="Payment Term">
                                    <option value= "">Select</option>
                                    <option value= "Paid">Paid</option>
                                    <option value= "Due on Invoice">Due on receipt</option>
                                    <option value= "Due 4 Weeks">Due 4 weeks</option>
                                    <option value= "Due 8 Weeks">Due 8 weeks</option>
                                    <option value= "Custom date">Custom date</option>
                                </select>
                                <span class="error">{{main.error_message.paymentTerm_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-6" ng-show="invoice.paymentTerm != '' && invoice.paymentTerm != 'Paid'">
                                <label for="due_to">Due Date</label>
                                <ng-datepicker tabindex="7" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.dueTo" id="due_to"></ng-datepicker>
                            </div>
                            <span class="error">{{main.error_message.dueTo_error}}</span>

                            <div class="form-group col-sm-6" ng-show="invoice.paymentTerm == 'Paid'">
                                <label for="account">Paid To</label>
                                <select  tabindex="4" ng-click="label.click" chosen="" class="form-control" id="account"  data-ng-model="invoice.account_id"  ng-options="label.id as label.name group by label.type for label in receivePaymentAccountLists">
                                    <option value=""></option>
                                </select>
                                <span class="error">{{main.error_message.account_id_error}}</span>
                            </div>
                        </div>
                        <section data-ng-include=" 'views/items/add_items.html' " ></section>
                        <!-- List group -->
                        <div class=" col-sm-12">
                            <div class="col-md-6">
                                <div class="panel panel-default expenses">
                                    <div class="panel-heading">Notes</div>
                                    <div class="panel-body" ng-repeat="(index, notes) in invoice.notes">
                                        <div class="form-group plus-button">
                                            <div class="col-md-12">
                                                <label>Note </label>
                                                <textarea class="form-control" rows="4" tabindex="24" ng-model="notes.Notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- List group -->

                            <div class="col-md-6">
                                <div class="form-horizontal panel panel-default">
                                    <div class="panel-heading">Total</div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Discount</label>
                                            <div class="col-sm-8">
                                                <span class="input-percent"><input  class="form-control" tabindex="25" ng-change="calculateTotalAmount()" type="number" ng-model="invoice.discount" /></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Select tax</label>
                                            <div class="col-sm-8">
                                                <select  tabindex="1" chosen data-ng-model="invoice.tax_rate_id" data-ng-change="calculateTotalAmount()" class="form-control" ng-options="label.id as label.name for label in taxRates">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Tax ({{ invoice.tax }}%)</label>
                                            <div class="col-sm-8 amount">
                                                <h4 ng-if="invoice.taxAmount != ''">{{invoice.taxAmount}}</h4>
                                                <h4 ng-if="invoice.taxAmount == ''"></h4>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Amount</label>
                                            <div class="col-sm-8 amount">
                                                <h4>${{invoice.totalAmount}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end List group -->
                        </div>

                        <div class="col-sm-6">
                            <button type="submit" tabindex="48"  ng-click="updateInvoice();" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>