<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row" ng-init="inviteUserPermissionShowHide(userPermission);">
        <div class="col-md-12" ng-init="getInvoice()">
            <section class="panel panel-default">
                <div class="panel-heading expenses col-lg-12">
                    <div class="col-lg-6">
                        <strong>
                            <div class="" ng-show="invoiceDetail.type == 'INVOICE'">
                                <span class="glyphicon glyphicon-th"></span><a href="#/invoice"> Sale transaction</a>
                            </div>
                            <div class="" ng-show="invoiceDetail.type == 'ESTIMATES'">
                                <span class="glyphicon glyphicon-th"></span><a href="#/estimates"> Estimate list</a>
                            </div>
                            <div class="" ng-show="invoiceDetail.type == 'RECURRING'">
                                <span class="glyphicon glyphicon-th"></span><a href="#/sales_recurring"> Recurring transaction</a>
                            </div>
                            <div class="" ng-show="invoiceDetail.type == 'REFUND'">
                                <span class="glyphicon glyphicon-th"></span><a href="#/refund"> Refund transaction</a>
                            </div>
                         </strong>
                    </div>
                    <div class="col-lg-6">
                        <div class="pull-right" ng-show="invoiceDetail.type == 'INVOICE'">
                            <a class="btn custom-btn" href="#/invoice/receive/payment/{{invoiceDetail.id}}" ng-show="invoiceDetail.payment_status == 'Open'">Receive Payment</a>
                            <a class="btn custom-btn href="javascript:;"  ng-click="openResendInvoice(invoiceDetail.id)" >Send reminder</a>
                            <a href="#/add_invoice" class="btn custom-btn">Create Invoice</a>
                        </div>
                        <div class="pull-right" ng-show="invoiceDetail.type == 'RECURRING'">
                            <a class="btn custom-btn" href="javascript:;"  ng-click="openResendInvoice(invoiceDetail.id)" >Send reminder</a>
                            <a href="#/add_sales_recurring" class="btn custom-btn">Create sale recurring</a>                             
                        </div>
                        <div class="pull-right" ng-show="invoiceDetail.type == 'ESTIMATES'">
                            <span ng-show="userPermission == null || (userPermission != null && invoicePermission == 'Edit')"><a href="#/invoice/edit/{{invoiceDetail.id}}" class="btn custom-btn">Convert to Invoice</a></span>
                            <span ng-show="userPermission == null || (userPermission != null && invoicePermission == 'Edit')"><a href="#/add_estimates" class="btn custom-btn">Create Estimate</a></span>
                            <button type="button" class="btn custom-btn dropdown-toggle" data-toggle="dropdown">
                                Edit
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li ng-show="userPermission == null || (userPermission != null && invoicePermission == 'Edit')"><a href="#/estimates/edit/{{invoiceDetail.id}}">Edit</a></li>
                                <!-- <li ng-show="userPermission == null || (userPermission != null && invoicePermission == 'Edit')"><a href="#">Print</a></li> -->
                                <li ng-show="userPermission == null"><a href="javascript:;"  ng-click="openResendInvoice(invoiceDetail.id)" >Send Reminder</a></li>
                            </ul>                            
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label for="toUser">Customer</label><br />
                            <span id="toUser">{{ invoiceDetail.customer[0].first_name }} {{ invoiceDetail.customer[0].last_name }}</span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label for="InvoiceNo">Invoice No</label><br />
                            <span id="InvoiceNo">{{ invoiceDetail.invoice_no }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="date">Date</label><br />
                            <span id="date">{{ invoiceDetail.date }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="reference">Reference</label><br />
                            <span id="reference">{{ invoiceDetail.reference }}</span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label for="paymentTerm">Payment Term</label><br />
                            <span id="paymentTerm">{{ invoiceDetail.payment_term }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="type">Type</label><br />
                            <span id="type">{{ invoiceDetail.type }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="status">Status</label><br />
                            <span id="status">{{ invoiceDetail.status }}</span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12" ng-if="invoiceDetail.type == 'INVOICE' && invoiceDetail.payment_term == 'Paid' && invoiceDetail.bank_account_id != 0 ">
                        <div class="col-sm-4">
                            <label for="bankAccount">Deposit To</label><br />
                            <span id="bankAccount">{{ invoiceDetail.account.name }}</span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12" ng-if="invoiceDetail.type == 'RECURRING'">
                        <div class="col-sm-4">
                            <label for="schedule">Schedule</label><br />
                            <span id="schedule">{{ invoiceDetail.business_invoice_configuration.schedule }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="startOn">Start On</label><br />
                            <span id="startOn">{{ invoiceDetail.business_invoice_configuration.start_on }}</span>
                        </div>

                        <div class="col-sm-4">
                            <label for="endOn">End on</label><br />
                            <span id="endOn">{{ invoiceDetail.business_invoice_configuration.end_on }}</span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12" ng-if="invoiceDetail.type == 'REFUND'">
                        <div class="col-sm-12">
                            <label for="description">Description</label><br />
                            <span id="description">{{ invoiceDetail.description }}</span>
                        </div>
                    </div>

                    <legend>Item Details</legend>
                    <div class="form-group col-sm-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Account</th>
                                <th>Discount</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in invoiceDetail.business_invoice_item">
                                <td>{{ item.item_name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.account_name }}</td>
                                <td>{{ item.discount }}</td>
                                <td>{{ item.amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label for="Notes">Notes</label><br />
                            <div ng-repeat="notes in invoiceDetail.notes">
                                <span id="Notes">{{ notes.title }}</span><br/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="totalDiscount">Total Discount</label><br />
                            <span id="totalDiscount">{{ invoiceDetail.discount }}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-6 col-sm-6">
                            <label for="totalTax">Tax Name</label><br />
                            <span id="totalTax">{{ invoiceDetail.tax_rate.name }} ({{ invoiceDetail.tax_rate.tax_rates }}%)</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-6 col-sm-6">
                            <label for="totalTaxAmount">Total Tax Amount</label><br />
                            <span id="totalTaxAmount">{{ invoiceDetail.tax_amount }}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-6  col-sm-6">
                            <label for="totalTax">Total Amount</label><br />
                            <span id="totalAmount">{{ invoiceDetail.amount }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div id="sendEmail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form role="form" data-ng-model="resendInvoice">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelEmail();">&times;</button>
                    <h4 class="modal-title">Send Email</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="main.alert" class="alert alert-success">
                        {{main.alert}}
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Email :</label>
                            <input type="email" class="form-control" ng-model="resendInvoice.sendEmailTo" placeholder="Enter Email">
                            <span ng-show="emailError" class="error">Please enter a valid email address</span>
                        </div>
                        <div class="form-group col-md-12 text-center">
                            <div class="clearfix"><hr /></div>
                            <button type="submit" class="btn btn-gray pull-right" ng-click="cancelEmail();">Cancel</button>
                            <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="sendInvoice();" >Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>