<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="formName('purchaseOrder')">
            <section class="panel panel-default" ng-init="getPurchaseOrderDetails()">
                <div class="panel-heading"><a href="#/purchase_order"><strong><span class="glyphicon glyphicon-th"></span> Purchase Order List</strong></a><span class="padding-left-offset">Edit Purchase Order</span></div>
                <div class="panel-body">
                    <form role="form" data-ng-model="expense">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="toUser">Payee</label><br />
                                <select  tabindex="1" chosen data-ng-model="expense.payee" class="form-control col-sm-8 choosen-select" ng-options="label.id as (label.first_name + ' ' + label.last_name + ' - ' + label.email) for label in users" id="toUser">
                                </select>
                                </br>
                                <span class="error">{{main.error_message.payee_error}}</span>
                            </div>
                            <div class="col-sm-6" style="padding-top:25px;">
                                <input type="submit" ng-click="addNewUser()" tabindex="2" class="btn btn-primary addnew" value="Add New Vendor">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="estimates">Purchase Order No</label>
                                <input  type="text" class="form-control col-sm-4" readonly id="estimates" tabindex="3"  data-ng-model="expense.purchase_order_no" placeholder="Purchase Order No.">
                                <span class="error">{{main.error_message.purchase_order_no_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="date">Date</label>
                                <ng-datepicker  tabindex="4" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="expense.date" id="date"></ng-datepicker>
                                <span class="error">{{main.error_message.date_error}}</span>
                            </div>
                            <div class="col-sm-6">
                                <label for="reference">Reference</label>
                                <input type="text"  class="form-control"  tabindex="5" data-ng-model="expense.reference" id="reference" placeholder="Reference">
                                <span class="error">{{main.error_message.reference_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="delivery_date">Delivery Date</label>
                                <ng-datepicker tabindex="6" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="expense.deliveryDate" id="delivery_date"></ng-datepicker>
                                <span class="error">{{main.error_message.deliveryDate_error}}</span>
                            </div>
                        </div>

                        <section data-ng-include=" 'views/items/add_items.html' " ></section>
                        <!-- List group -->
                        <div class=" col-sm-12">
                            <div class="col-md-6" ng-init="addNewNotes()">
                                <div class="panel panel-default expenses">
                                    <div class="panel-heading">Notes</div>
                                    <div class="panel-body" ng-repeat="(index, notes) in expense.notes">
                                        <div class="form-group plus-button">
                                            <div class="col-md-12">
                                                <textarea class="form-control" rows="4" tabindex="24" ng-model="notes.Notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- List group -->
                            <div class="col-md-6">
                                <div class="form-horizontal panel panel-default">
                                    <div class="panel-heading">Total</div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Discount</label>
                                            <div class="col-sm-8">
                                                <input  class="form-control" tabindex="25" ng-change="calculateTotalAmount()" type="number" ng-model="expense.discount" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Select tax</label>
                                            <div class="col-sm-8">
                                                <select  tabindex="1" chosen data-ng-model="expense.tax_rate_id" data-ng-change="calculateTotalAmount()" class="form-control" ng-options="label.id as label.name for label in taxRates">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Tax ({{ expense.tax }}%)</label>
                                            <div class="col-sm-8 amount">
                                                <h4>{{expense.taxAmount}}</h4>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Amount</label>
                                            <div class="col-sm-8 amount">
                                                <h4>${{expense.totalAmount}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="sendEmail" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="cancelEmail();">&times;</button>
                                            <h4 class="modal-title">Send Email</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Email :</label>
                                                    <input type="email" class="form-control" ng-model="expense.sendEmailTo" placeholder="Enter Email">
                                                    <span ng-show="emailError" class="error">Please enter a valid email address</span>
                                                </div>
                                                <div class="form-group col-md-12 text-center">
                                                    <div class="clearfix"><hr /></div>
                                                    <button type="submit" class="btn btn-gray pull-right" ng-click="cancelEmail();">Cancel</button>
                                                    <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="sendEmail('PurchaseOrder');" >Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end List group -->
                        </div>

                        <div class="col-sm-12">
                            <div class="col-md-6">
                                <div class="panel panel-default expenses">
                                    <div class="panel-heading">Attachment</div>
                                    <div class="panel-body">
                                        <div class="form-group plus-button">
                                            <div class="col-md-12 expenses">
                                                <input type="hidden" name="attachment" data-ng-model="expense.attachment">
                                                <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <button type="submit" tabindex="48"  ng-click="updatePurchaseOrder();" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>