<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="receivePayment()">
            <form role="form" data-ng-model="invoice">
                <section class="panel panel-default">
                    <div class="panel-heading text-uppercase expenses">
                        <strong>
                            <span class="glyphicon glyphicon-th"></span> Invoice Receive Payment
                        </strong>
                        <div class="pull-right">
                            <a ng-click="openAccountForm()" class="btn orange-btn pull-right">Add Account</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="toUser">Customer</label><br />
                                <span id="toUser">{{ invoice.customer[0].first_name }} {{ invoice.customer[0].last_name }}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <label for="InvoiceNo">Invoice No</label><br />
                                <span id="InvoiceNo">{{ invoice.invoice_no }}</span>
                            </div>

                            <div class="col-sm-4">
                                <label for="type">Type</label><br />
                                <span id="type">{{ invoice.type }}</span>
                            </div>

                            <div class="col-sm-4">
                                <label for="status">Status</label><br />
                                <span id="status">{{ invoice.status }}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <label for="paymentTerm">Payment term</label><br />
                                <span id="paymentTerm">{{ invoice.payment_term }}</span>
                            </div>
                            <div class="col-sm-4">
                                <label for="dueDate">Due Date</label><br />
                                <span id="dueDate">{{ invoice.due_date }}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <label class="control-label">Payment Date</label>
                                <ng-datepicker  tabindex="1" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.date" id="date"></ng-datepicker>
                            </div>
                            <div class="col-sm-4">
                                <label for="reference">Reference</label>
                                <input type="text"  class="form-control"  tabindex="2" data-ng-model="invoice.reference" id="reference" placeholder="Reference">
                                <span class="error">{{main.error_message.reference_error}}</span>
                            </div>
                            <div class="col-sm-4">
                                <label for="account">Paid To</label>
                                <select  tabindex="3" ng-click="label.click" chosen="" class="form-control" id="account"  data-ng-model="invoice.account_id"  ng-options="label.id as label.name group by label.type for label in receivePaymentAccountLists">
                                    <option value=""></option>
                                </select>
                                <span ng-show="emailError" class="error">Please select account</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <label for="paymentMethod">Payment Method</label>
                                <select  tabindex="4" ng-click="label.click" class="form-control" id="paymentMethod"  data-ng-model="invoice.payment_method">
                                    <option value="">Select Option</option>
                                    <option value="CASH">Cash</option>
                                    <option value="CHEQUE">Cheque</option>
                                    <option value="CREDIT CARD">Credit Card</option>
                                    <option value="BANK TRANSFER">Bank Transfer</option>
                                </select>
                                <span ng-show="paymentMethodError" class="error">Please select payment method</span>
                            </div>
                            <div class="col-sm-4" ng-show="invoice.payment_method == 'CREDIT CARD'">
                                <label for="creditCardNo">Card No</label>
                                <input type="text"  class="form-control"  tabindex="5" data-ng-model="invoice.credit_card_no" id="creditCardNo" placeholder="Credit Card No">
                                <span class="error">{{main.error_message.credit_card_no_error}}</span>
                            </div>
                            <div class="col-sm-4">
                                <label for="paymentReference">Payment Method Reference</label>
                                <input type="text"  class="form-control"  tabindex="6" data-ng-model="invoice.payment_method_reference" id="paymentReference" placeholder="Payment Reference">
                                <span class="error">{{main.error_message.payment_method_reference_error}}</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12" ng-if="invoice.type == 'RECURRING'">
                            <div class="col-sm-4">
                                <label for="schedule">Schedule</label><br />
                                <span id="schedule">{{ invoice.business_invoice_configuration.schedule }}</span>
                            </div>

                            <div class="col-sm-4">
                                <label for="startOn">Start On</label><br />
                                <span id="startOn">{{ invoice.business_invoice_configuration.start_on }}</span>
                            </div>

                            <div class="col-sm-4">
                                <label for="endOn">End on</label><br />
                                <span id="endOn">{{ invoice.business_invoice_configuration.end_on }}</span>
                            </div>
                        </div>

                        <legend>Item Details</legend>
                        <div class="form-group col-sm-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Account</th>
                                    <th>Discount</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in invoice.business_invoice_item">
                                    <td>{{ item.item_name }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.account_name }}</td>
                                    <td>{{ item.discount }}</td>
                                    <td>{{ item.amount }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="Notes">Notes</label><br />
                                <div ng-repeat="notes in invoice.notes">
                                    <span id="Notes">{{ notes.title }}</span><br/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="totalDiscount">Total Discount</label><br />
                                <span id="totalDiscount">{{ invoice.discount }}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-offset-6 col-sm-6">
                                <label for="totalTax">Tax Name</label><br />
                                <span id="totalTax">{{ invoice.tax_rate.name }} ({{ invoice.tax_rate.tax_rates }}%)</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-offset-6 col-sm-6">
                                <label for="totalTaxAmount">Total Tax Amount</label><br />
                                <span id="totalTaxAmount">{{ invoice.tax_amount }}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-offset-6  col-sm-6">
                                <label for="totalTax">Total Amount</label><br />
                                <span id="totalAmount">{{ invoice.amount }}</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 text-center">
                            <div class="clearfix"><hr /></div>
                            <button type="submit" class="btn btn-success orange-btn pull-right" ng-click="sendPayment();" >Update</button>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>

<div id="accountForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form role="form">
            <div class="modal-content" style="height: 400px;">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelAccountForm();">&times;</button>
                    <h4 class="modal-title">Account</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="main.alert" class="alert alert-success">
                        {{main.alert}}
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="parentAccount">Main Account</label>
                            <select  tabindex="1" ng-click="label.click" required class="form-control" id="parentAccount" data-ng-model="accountData.parent_id">
                                <option value="">Select Option</option>
                                <option ng-repeat="parentAccountList in parentAccountLists" value="{{parentAccountList.id}}">{{parentAccountList.name}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="Name">Name</label>
                            <input type="text"  class="form-control" required tabindex="2" data-ng-model="accountData.name" id="Name" placeholder="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="code">Code</label>
                            <input type="text"  class="form-control" required tabindex="3" data-ng-model="accountData.code" id="code" placeholder="Code">
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="description">Description</label>
                            <textarea type="text"  class="form-control" rows="3"  tabindex="4" data-ng-model="accountData.description" id="description" placeholder="Description"></textarea>
                        </div>
                    </div>

                    <div class="form-group col-md-12 text-center">
                        <div class="clearfix"><hr /></div>
                        <a href="javascript:;"  class="btn btn-default pull-right" ng-click="cancelAccountForm();">Cancel</a>
                        <button type="submit" class="btn btn-primary orange-btn pull-right" ng-click="addAccount();" >Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>