<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12" ng-init="inviteUserPermissionShowHide(userPermission);">
            <div class="row">
                <div class="page page-table">
                    <div class="row">
                        <div class="col-sm-12" ng-init="getActivity()">
                            <div class="panel panel-default">
                                <div class="panel-heading text-uppercase">
                                    Recent Activity
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                All
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="javascript:;" ng-click="getAllActivity()">All</a></li>
                                                <li><a href="javascript:;" ng-click="changeActivity('INVOICE')">Invoices</a></li>
                                                <li><a href="javascript:;" ng-click="changeActivity('ESTIMATES')">Estimates</a></li>
                                                <li><a href="javascript:;" ng-click="changeActivity('EXPENSES')">Expenses</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <ul class="timeline activity-timeline" ng-hide="showAllActivity">
                                        <li class="timeline-inverted" ng-show="activityInvoice" ng-class="{'success': item.payment_term == 1, 'fade-badge1': item.payment_term != 1}"  ng-repeat="(index, item) in invoiceActivity"  >
                                            <div class="timeline-badge" ng-if="item.payment_term == 1"><i class="fa fa-check"></i></div>
                                            <div class="timeline-badge" ng-if="item.payment_term != 1"></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-body">
                                                    <p><a href="#/invoice_details/{{item.id}}"><span>Invoice {{ item.invoice_no }}:</span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                                    <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="timeline-inverted success fade-badge1" ng-show="activityEstimates"  ng-repeat="(index, item) in estimatesActivity"  >
                                            <div class="timeline-panel">
                                                <div class="timeline-body">
                                                    <p><a href="#/invoice_details/{{item.id}}"><span>Estimates {{ item.invoice_no }}:</span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                                    <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="timeline-inverted success fade-badge1" ng-show="activityExpense"  ng-repeat="(index, item) in expensesActivity"  >
                                            <div class="timeline-panel">
                                                <div class="timeline-body">
                                                    <p><a href="#/expenses/view/{{item.id}}"><span>Expense </span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                                    <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="timeline activity-timeline" ng-show="showAllActivity">
                                        <li class="timeline-inverted" ng-class="{'success': item.payment_term == 1, 'fade-badge1': item.payment_term != 1}"  ng-repeat="(index, item) in invoiceActivity"  >
                                            <div class="timeline-badge" ng-if="item.payment_term == 1"><i class="fa fa-check"></i></div>
                                            <div class="timeline-badge" ng-if="item.payment_term != 1"></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-body">
                                                    <p><a href="#/invoice_details/{{item.id}}"><span>Invoice {{ item.invoice_no }}:</span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                                    <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="timeline-inverted success fade-badge1"  ng-repeat="(index, item) in estimatesActivity"  >
                                            <div class="timeline-panel">
                                                <div class="timeline-body">
                                                    <p><a href="#/invoice_details/{{item.id}}"><span>Estimates {{ item.invoice_no }}:</span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                                    <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="timeline-inverted success fade-badge1" ng-repeat="(index, item) in expensesActivity"  >
                                            <div class="timeline-panel">
                                                <div class="timeline-body">
                                                    <p><a href="#/expenses/view/{{item.id}}"><span>Expense </span></a> $ {{ item.amount }} added By {{ item.created_by.firstName}} {{ item.created_by.lastName }}</p>
                                                    <small class="text-muted">{{ item.created_at | date: 'yyyy-MM-dd' }}</small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>