<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="sendEmail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelEmail();">&times;</button>
                <h4 class="modal-title">Send Email</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Email :</label>
                        <input type="email" class="form-control" ng-model="invoice.sendEmailTo" placeholder="Enter Email">
                        <span ng-show="emailError" class="error">Please enter a valid email address</span>
                    </div>
                    <div class="form-group col-md-12 text-center">
                        <div class="clearfix"><hr /></div>
                        <button type="submit" class="btn btn-gray pull-right" ng-click="cancelEmail();">Cancel</button>
                        <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="sendEmail();" >Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

