<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reportsCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses col-lg-12 custom-panel-head">
                    <div class="col-lg-8">
                         <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/reports">Report list</a></span><h3>Accounting Transaction Report</h3>
                    </div>
                </div>

                <div class="panel-body">
                    <form role="form" data-ng-model="accountingTransaction">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group custom-form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="1" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="accountingTransaction.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="accountingTransaction.to" id="to"></ng-datepicker>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="accountingTransaction.basis" value="cash">Cash</label>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="accountingTransaction.basis" value="accrual">Accrual</label>
                            </div>
                            <div class="form-group col-sm-6 reports-submit-button">
                                <div class="col-sm-6">
                                    <button type="submit" tabindex="4"  ng-click="getAccountingTransaction()" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </div>                        
                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="accountingTransactionShow == 1">
                <div ng-show="accountingTransactionData.length != 0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="{{ accountingTransactionPdfPath }}">As PDF</a></li>
                                    <li><a href="{{ accountingTransactionCsvPath }}">As Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> Accounting Transaction Report</h4>
                        <h3 class="text-center">{{ accountingTransactionDate.from }} - {{ accountingTransactionDate.to }}</h3>

                        <div class="expenses">
                            <div class="table-responsive">
                                <table class="table table-bordered ">
                                    <thead class="">
                                    <tr>
                                        <th>Date</th>
                                        <th>Account</th>
                                        <th>Type</th>
                                        <th>Transaction</th>
                                        <th>Reference</th>
                                        <th><span class="pull-right">Net Amount</span></th>
                                        <th><span class="pull-right">Tax Amount</span></th>
                                        <th><span class="pull-right">Gross</span></th>
                                        <th>Tax Rate</th>
                                        <th>Tax Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="data in accountingTransactionData">
                                        <td>{{ data.date }}</td>
                                        <td>{{ data.account }}</td>
                                        <td>{{ data.type }}</td>
                                        <td>{{ data.transaction }}</td>
                                        <td>{{ data.reference }}</td>
                                        <td><span class="pull-right">{{ data.net_amount | currency:'' }}</span></td>
                                        <td><span class="pull-right">{{ data.tax_amount | currency:'' }}</span></td>
                                        <td><span class="pull-right">{{ data.gross | currency:'' }}</span></td>
                                        <td>{{ data.tax_rate }}</td>
                                        <td>{{ data.tax_name }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><strong>Total</strong></td>
                                        <td><strong class="pull-right">{{ accountingTotalAmount | currency:USD$:2 }}</strong></td>
                                        <td></td>
                                        <td><strong class="pull-right">{{ accountingGrossTotalAmount | currency:USD$:2 }}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="accountingTransactionData.length ==0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>
</div>