<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reportsCtrl">
    <div class="row">
        <div class="col-md-12" ng-init="getAgedReceviables()">
            <section class="panel panel-default">
                <div class="panel-heading expenses col-lg-12 custom-panel-head">
                    <div class="col-lg-4">
                         <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/reports">Report list</a></span><h3>Aged Receivables Report</h3>
                    </div>
                    <div class="pull-right print-button">
                        <!-- <a href="#" class="btn orange-btn" onclick="window.print();return false;">Print this page</a> -->
                        <div class="btn-group">
                            <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                Export
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a target="_blank" href="{{ agedReceviablesPdfPath }}">As PDF</a></li>
                                <li><a href="{{ agedReceviablesCsvPath }}">As Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                    <h4 class="text-center"> Aged Receivables Report</h4>
                    <div class="expenses">
                        <div class="table-responsive">
                            <table class="table table-bordered custom-jounral-report-table">
                                <thead class="">
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Transaction No</th>
                                    <th>Name</th>
                                    <th><span class="pull-right">{{ currentMonth }}</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="data in agedReceviables">
                                    <td>{{ data.date }}</td>
                                    <td>
                                        <a target="_blank" ng-show="data.type == 'Invoice'" href="#/invoice_details/{{ data.id }}">{{ data.type }}</a>
                                        <a target="_blank" ng-show="data.type == 'Journal'" href="#/journal_details/{{ data.id }}">{{ data.type }}</a>
                                    </td>
                                    <td>
                                        {{ data.transactionNo }}
                                    </td>
                                    <td>{{ data.customer }}</td>
                                    <td><span class="pull-right">{{ data.total | currency:'' }}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="4"><strong>Total Receivables</strong></td>
                                    <td><span class="pull-right"><strong>{{ totalReceviables | currency:USD$:2 }}</strong></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>