<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reportsCtrl">
    <div class="row" ng-show="cashSummaryReport == 0">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses col-lg-12 custom-panel-head">
                    <div class="col-lg-4">
                       <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/reports">Report list</a></span><h3>Cash Summary Report</h3> 
                    </div> 
                    <!-- <div class="pull-right print-button">
                        <a href="#" class="btn orange-btn" onclick="window.print();return false;">Print this page</a>
                    </div> -->
                </div>

                <div class="panel-body">
                    <form role="form" data-ng-model="cashSummary">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group custom-form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="1" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="cashSummary.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="cashSummary.to" id="to"></ng-datepicker>
                            </div>
                            <div class="form-group col-sm-6 reports-submit-button">
                                <div class="col-sm-6">
                                    <button type="submit" tabindex="4"  ng-click="getCashSummary()" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="cashSummaryShow == 1">
                <div ng-show="incomeCashSummary.length !=0 || expenseCashSummary.length !=0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="{{ cashSummaryReportPdfPath }}">As PDF</a></li>
                                    <li><a href="{{ cashSummaryReportCsvPath }}">As Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> Cash Summary Report</h4>
                        <h3 class="text-center">{{ cashSummaryDate.from }} - {{ cashSummaryDate.to }}</h3>

                        <div class="panel panel-default balanceSheet">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-10"></div>
                                    <!-- <div class="col-md-4"><strong></strong></div> -->
                                    <div class="col-md-2"><strong class="pull-right">Amount</strong></div>
                                </div>

                                <div class="row" data-ng-repeat="(key, value) in incomeCashSummary">
                                    <hr/>
                                    <div class="col-md-12"><strong>{{ key }}</strong>
                                        <div class="row" data-ng-repeat="(k, v) in value">
                                            <hr/>
                                            <div class="col-md-10"><a href="javascript:;" ng-click="getCashSummaryDetail('invoice', k)"><span class="sub-content">{{ k }}</span></a></div>
                                            <!-- <div class="col-md-4"></div> -->
                                            <div class="col-md-2"><span class="pull-right">{{ v | currency:'' }}</span></div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-10"><strong>Total Income</strong></div>
                                    <!-- <div class="col-md-4"><strong></strong></div> -->
                                    <div class="col-md-2"><strong class="pull-right">{{ totalIncome | currency:USD$:2 }}</strong></div>
                                </div>

                                <div class="row" data-ng-repeat="(key, value) in expenseCashSummary">
                                    <hr/>
                                    <div class="col-md-12"><strong>{{ key }}</strong>
                                        <div class="row" data-ng-repeat="(k, v) in value">
                                            <hr/>
                                            <div class="col-md-10"><a href="javascript:;" ng-click="getCashSummaryDetail('expense', k)"><span class="sub-content">{{ k }}</span></a></div>
                                            <!-- <div class="col-md-4"></div> -->
                                            <div class="col-md-2"><span class="pull-right">{{ v | currency:'' }}</span></div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-10"><strong>Total Expense</strong></div>
                                    <!-- <div class="col-md-4"><strong></strong></div> -->
                                    <div class="col-md-2"><strong class="pull-right">{{ totalExpense | currency:USD$:2 }}</strong></div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-10"><strong>Net Cash</strong></div>
                                    <!-- <div class="col-md-4"><strong></strong></div> -->
                                    <div class="col-md-2"><strong class="pull-right">{{ totalIncome - totalExpense | currency:USD$:2 }}</strong></div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-10"><a href="#/cash_account_report"><strong>Cash Account</strong></a></div>
                                    <!-- <div class="col-md-4"><strong></strong></div> -->
                                    <div class="col-md-2"><strong class="pull-right">{{ totalIncome - totalExpense | currency:USD$:2 }}</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="incomeCashSummary.length ==0 && expenseCashSummary.length ==0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>

    <div class="row" ng-show="cashSummaryList == 1">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading text-uppercase expenses col-lg-12 custom-panel-head">
                    <div class="col-lg-12">
                        <i class="fa fa-angle-left" aria-hidden="true"></i><span class="report_link"> <a href="#/reports">Report list</a></span><i class="fa fa-angle-left" aria-hidden="true"></i><span class="report_link"> <a href="javascript:;" ng-click="cashSummaryBack()">Cash Summary</a></span><h3>{{ cashSummaryDetails[0].account }} Reports</h3>
                    </div> 
                </div>
                <div class="panel-body">
                    <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                    <h4 class="text-center"> {{ cashSummaryDetails[0].account }} Report</h4>
                    <h3 class="text-center">{{ cashSummaryDate.from }} - {{ cashSummaryDate.to }}</h3>
                    <div class="expenses">
                        <div class="table-responsive">
                            <table class="table table-bordered ">
                                <thead class="">
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Account</th>
                                    <th><span class="pull-right">Amount</span></th>
                                    <th><span class="pull-right">Balance</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="data in cashSummaryDetails">
                                    <td>{{ data.date }}</td>
                                    <td>
                                        <a ng-show="data.transactionType == 'Invoice'" href="#/invoice_details/{{ data.id }}">{{ data.transactionType }}</a>
                                        <a ng-show="data.transactionType == 'Expense'" href="#/expenses/view/{{ data.id }}">{{ data.transactionType }}</a>
                                    </td>
                                    <td>{{ data.no }}</td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.account }}</td>
                                    <td><span class="pull-right">{{ data.amount | currency:'' }}</span></td>
                                    <td><span class="pull-right">{{ data.balance | currency:'' }}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><strong>Total</strong></td>
                                    <td><span class="pull-right"><strong>{{ total | currency:USD$:2 }}</strong></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>