<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reportsCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading custom-panel-head"><i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/reports">Report list</a></span><h3>Customer Invoice Report</h3></div>
                <div class="panel-body">
                    <form role="form" data-ng-model="invoice">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12 custom-form-group">
                            <div class="col-sm-2">
                                <label for="dates">Dates</label>
                                <select class="form-control" tabindex="1"  data-ng-model="invoice.date_type" id="dates" placeholder="Dates">
                                    <option value="">Select</option>
                                    <option value="any_date">Any Date</option>
                                    <option value="invoice_date">Invoice Date</option>
                                    <option value="due_date">Due Date</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="3" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="invoice.to" id="to"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="status">Status</label>
                                <select class="form-control" tabindex="4"  data-ng-model="invoice.status" id="status" placeholder="Status">
                                    <option value="">Select</option>
                                    <option value="All">Show All</option>
                                    <option value="APPROVED">Approved</option>
                                    <option value="DRAFT">Draft</option>
                                    <option value="SEND EMAIL">Sent</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label for="orderBy">Sort By</label>
                                <select class="form-control" tabindex="5"  data-ng-model="invoice.order_by" id="orderBy" placeholder="Sort By">
                                    <option value="">Select</option>
                                    <option value="invoice_no">Invoice No</option>
                                    <option value="reference">Reference</option>
                                    <option value="date">Invoice Date</option>
                                    <option value="due_date">Due Date</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2 reports-submit-button">
                                <div class="col-sm-6">
                                    <button type="submit" tabindex="27"  ng-click="customerInvoiceReport()" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="invoiceReportShow == 1">
                <div ng-show="invoiceReportData.length != 0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="{{ invoiceReportPdfPath }}">As PDF</a></li>
                                    <li><a href="{{ invoiceReportCsvPath }}">As Excel</a></li>
                                    <!--<li><a href="javascript:;" ng-click="printReport('invoiceReport')">As Print</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" id="invoiceReport">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> Customer Invoice Report</h4>
                        <h3 class="text-center">{{ invoiceReportDate.from }} - {{ invoiceReportDate.to }}</h3>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Invoice No</th>
                                <th>Reference</th>
                                <th>Type</th>
                                <th>To</th>
                                <th>Date</th>
                                <th>Due Date</th>
                                <th>Status</th>
                                <th><span class="pull-right">Invoice Total</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="invoiceReportData.length == 0">
                                <td colspan="8">No Record Found</td>
                            </tr>
                            <tr ng-show="invoiceReportData.length > 0" ng-repeat="invoice in invoiceReportData">
                                <td>{{ invoice.invoice_no }}</td>
                                <td>{{ invoice.reference }}</td>
                                <td>{{ invoice.type }}</td>
                                <td>{{ invoice.customer[0].first_name }}</td>
                                <td>{{ invoice.date }}</td>
                                <td>{{ invoice.due_date }}</td>
                                <td>{{ invoice.status }}</td>
                                <td><span class="pull-right">{{ invoice.amount | currency:'' }}</span></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th id="total" colspan="7"><strong>Total :</strong></th>
                                <td><strong class="pull-right">{{ invoiceReportTotal | currency:USD$:2 }}</strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="" ng-show="invoiceReportData.length ==0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>
</div>