<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper" ng-controller="reportsCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading expenses custom-panel-head col-lg-12">
                    <div class="col-lg-4">
                         <i class="fa fa-angle-left" aria-hidden="true"></i><span> <a href="#/reports">Report list</a></span><h3>Journal Report</h3>
                    </div>               
                    <!-- <div class="pull-right print-button">
                        <a href="#" class="btn orange-btn" onclick="window.print();return false;">Print this page</a>
                    </div> -->
                </div>
                <div class="panel-body" style="padding: 5px 15px;">
                    <form role="form" data-ng-model="balanceSheet">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group custom-form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="from">From</label>
                                <ng-datepicker tabindex="1" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="journal.from" id="from"></ng-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <label for="to">To</label>
                                <ng-datepicker tabindex="2" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="journal.to" id="to"></ng-datepicker>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="journal.basis" value="cash">Cash</label>
                            </div>
                            <div class="col-sm-2 reports-radio-button">
                                <label><input type="radio" tabindex="3" data-ng-model="journal.basis" value="accrual">Accrual</label>
                            </div>
                            <div class="form-group col-sm-6 reports-submit-button">
                                <div class="col-sm-6">
                                    <button type="submit" tabindex="4"  ng-click="getJournalReport()" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section class="panel panel-default" ng-show="journalReportShow == 1">
                <div ng-show="journalReport.length !=0">
                    <div class="panel-heading expenses">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn orange-btn dropdown-toggle export-btn" data-toggle="dropdown">
                                    Export
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a target="_blank" href="{{ journalReportPdfPath }}">As PDF</a></li>
                                    <li><a href="{{ journalReportCsvPath }}">As Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">{{ globals.currentUser.businessName }}</h2>
                        <h4 class="text-center"> Journal Report</h4>
                        <h3 class="text-center">{{ journal_date.from }} - {{ journal_date.to }}</h3>
                        <div class="expenses">
                            <div class="table-responsive">
                                <table class="table table-bordered custom-jounral-report-table">
                                    <thead class="">
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Account</th>
                                        <th><span class="pull-right">Debit</span></th>
                                        <th><span class="pull-right">Credit</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="data in journalReport">
                                        <td>{{ data.date }}</td>
                                        <td>
                                            <a ng-show="data.transactionType == 'INVOICE'" target="_self" href="#/invoice_details/{{ data.id }}">{{ data.type }}</a>
                                            <a ng-show="data.transactionType == 'EXPENSE'" target="_self" href="#/expenses/view/{{ data.id }}">{{ data.type }}</a>
                                            <a ng-show="data.transactionType == 'JOURNAL'" target="_self" href="#/journal_details/{{ data.id }}">{{ data.type }}</a>
                                        </td>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.account }}</td>
                                        <td><span class="pull-right">{{ data.debit | currency:'' }}</span></td>
                                        <td><span class="pull-right">{{ data.credit | currency:'' }}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><strong>Total</strong></td>
                                        <td><strong class="pull-right">{{ journalReportTotalDebit | currency:USD$:2 }}</strong></td>
                                        <td><strong class="pull-right">{{ journalReportTotalCredit | currency:USD$:2 }}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="journalReport.length ==0">
                    <h3 class="text-center" style="padding: 50px;">There is no data in selected date range</h3>
                </div>
            </section>
        </div>
    </div>
</div>