<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Add Reimbursement</strong></div>
                <div class="panel-body">
                    <form role="form" data-ng-model="reimbursement">
                        <div ng-show="main.alert" class="alert alert-success">
                            {{main.alert}}
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="toUser">To</label><br />
                                <select  tabindex="1" chosen data-ng-model="reimbursement.toUser" class="form-control col-sm-8 choosen-select" ng-options="label.id as (label.first_name + ' ' + label.last_name + ' - ' + label.email) for label in users" id="toUser">
                                </select>
                                </br>
                                <span class="error">{{main.error_message.toUser_error}}</span>
                            </div>
                            <div class="col-sm-6" style="padding-top:25px;">
                                <input type="submit" ng-click="addNewUser()" tabindex="2" class="btn btn-primary addnew" value="Add New Customer">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="reimbursementNo">Reimbursement No</label>
                                <input  type="text" class="form-control col-sm-4" readonly id="reimbursementNo" tabindex="3"  data-ng-model="reimbursement.reimbursementNo" placeholder="Reimbursement No">
                            </div>
                            <span class="error">{{main.error_message.reimbursementNo_error}}</span>
                            <div class="col-sm-6">
                                <label for="date">Date</label>
                                <ng-datepicker  tabindex="4" locale="sl" format="YYYY-MM-DD" view-format="YYYY-MM-DD" data-ng-model="reimbursement.date" id="date"></ng-datepicker>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <label for="reference">Reference</label>
                                <input type="text"  class="form-control"  tabindex="5" data-ng-model="reimbursement.reference" id="reference" placeholder="Reference">
                                <span class="error">{{main.error_message.reference_error}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-12">
                                <label for="description">Description</label>
                                <textarea class="form-control" tabindex="6" data-ng-model="reimbursement.description" id="description" placeholder="Description"></textarea>
                                <span class="error">{{main.error_message.description_error}}</span>
                            </div>
                        </div>

                        <section data-ng-include=" 'views/items/add_items.html' " ></section>
                        <!-- List group -->
                        <div class=" col-sm-12">
                            <div class="col-md-6" ng-init="addNewNotes()">
                                <div class="panel panel-default expenses">
                                    <div class="panel-heading">Notes</div>
                                    <div class="panel-body" ng-repeat="(index, notes) in reimbursement.notes">
                                        <div class="form-group plus-button">
                                            <div class="col-md-12">
                                                <textarea class="form-control" rows="4" tabindex="24" ng-model="notes.Notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- List group -->
                            <div class="col-md-6">
                                <div class="form-horizontal panel panel-default">
                                    <div class="panel-heading">Total</div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Discount</label>
                                            <div class="col-sm-8">
                                                <input  class="form-control" tabindex="25" ng-change="calculateTotalAmount()" type="number" ng-model="reimbursement.discount" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Select tax</label>
                                            <div class="col-sm-8">
                                                <select  tabindex="1" chosen data-ng-model="reimbursement.tax_rate_id" data-ng-change="calculateTotalAmount()" class="form-control" ng-options="label.id as label.name for label in taxRates">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Tax ({{ reimbursement.tax }}%)</label>
                                            <div class="col-sm-8 amount">
                                                <h4>{{reimbursement.taxAmount}}</h4>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Total Amount</label>
                                            <div class="col-sm-8 amount">
                                                <h4>${{reimbursement.totalAmount}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="sendEmail" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="cancelEmail();">&times;</button>
                                            <h4 class="modal-title">Send Email</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Email :</label>
                                                    <input type="email" class="form-control" ng-model="reimbursement.sendEmailTo" placeholder="Enter Email">
                                                    <span ng-show="emailError" class="error">Please enter a valid email address</span>
                                                </div>
                                                <div class="form-group col-md-12 text-center">
                                                    <div class="clearfix"><hr /></div>
                                                    <button type="submit" class="btn btn-gray pull-right" ng-click="cancelEmail();">Cancel</button>
                                                    <button type="submit" class="btn btn-default orange-btn pull-right" ng-click="sendEmail();" >Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end List group -->

                        <div class="col-sm-12">
                            <div class="col-md-6">
                                <div class="panel panel-default expenses">
                                    <div class="panel-heading">Attachment</div>
                                    <div class="panel-body">
                                        <div class="form-group plus-button">
                                            <div class="col-md-12 expenses">
                                                <input type="hidden" name="attachment" data-ng-model="reimbursement.attachment">
                                                <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-md-6">
                                <button type="submit" tabindex="28"  ng-click="cancel();" class="btn btn-dark">Discard</button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-group-line-seperator" ng-click="approve();">Save</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="javascript:;" ng-click="openEmailPopup()">Save and Send</a></li>
                                        <li><a href="javascript:;" ng-click="saveReimbursement();">Draft Reimbursement</a></li>
                                        <!--<li><a href="javascript:;" ng-click="approve();">Approved Reimbursement</a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>