<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <section ng-init="getReimbursementList()" class="panel panel-default table-dynamic">
                <div class="panel-heading text-uppercase expenses"> Reimbursement List
                    <div class="pull-right">
                        <a href="#/add_reimbursement" class="btn orange-btn">Create Reimbursement</a>
                    </div>
                </div>
                <div class="table-filters filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="search"
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-4 col-xs-6 filter-result-info">
                            <span>
                                Showing {{filteredStores.length}}/{{reimbursementList.length}} entries
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th><div class="th">
                            Reimbursement Number
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('reimbursement_no') "
                                  data-ng-class="{active: row == 'reimbursement_no'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-reimbursement_no') "
                                  data-ng-class="{active: row == '-reimbursement_no'}"></span>
                        </div></th>
                        <th><div class="th">
                            Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('date') "
                                  data-ng-class="{active: row == 'date'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-date') "
                                  data-ng-class="{active: row == '-date'}"></span>
                        </div></th>
                        <th><div class="th">
                            Customer
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('customer[0].first_name') "
                                  data-ng-class="{active: row == 'customer[0].first_name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-customer[0].first_name') "
                                  data-ng-class="{active: row == '-customer[0].first_name'}"></span>
                        </div></th>
                        <th><div class="th">
                            Reference
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('reference') "
                                  data-ng-class="{active: row == 'reference'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-reference') "
                                  data-ng-class="{active: row == '-reference'}"></span>
                        </div></th>
                        <th><div class="th">
                            Details
                        </div></th>
                    </tr>
                    </thead>
                    <tbody>
                     <tr ng-show="currentPageStores.length == 0">
                        <td colspan="5">No Record Found</td>
                     </tr>
                    <tr data-ng-repeat="reimbursement in currentPageStores">
                        <td>{{reimbursement.reimbursement_no}}</td>
                        <td>{{reimbursement.date}}</td>
                        <td>{{reimbursement.customer.first_name}} {{invoice.customer.last_name}}</td>
                        <td>{{reimbursement.reference}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#/reimbursement_details/{{reimbursement.id}}">View</a></li>
                                    <li><a href="#" ng-click="delete(reimbursement.id)">Void</a></li>
                                    <li><a href="#/reimbursement/convert/expense/{{reimbursement.id}}">Convert to Expense</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>