<aside data-ng-include=" 'views/css/non_specific.html' " ></aside>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="page">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel panel-default">
                                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Change Password</strong></div>
                                <div class="panel-body">
                                    <form role="form" data-ng-model="user">
                                        <div ng-show="main.alert" class="alert alert-success">
                                            {{main.alert}}
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-12">
                                                <label for="currentPassword">Current Password</label>
                                                <input  type="password" class="form-control col-sm-4" required="required" id="currentPassword" tabindex="1"  data-ng-model="user.currentPassword" placeholder="Current Password">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-12">
                                                <label for="newPassword">New Password</label>
                                                <input  type="password" class="form-control col-sm-4" required="required" id="newPassword" tabindex="1"  data-ng-model="user.newPassword" placeholder="New Password">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-12">
                                                <label for="confirmPassword">Confirm Password</label>
                                                <input  type="password" class="form-control col-sm-4" required="required" id="confirmPassword" tabindex="1"  data-ng-model="user.confirmPassword" placeholder="Confirm Password">
                                                <span ng-show="emailError" class="error">Please enter the same password</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-12">
                                                <button type="submit" tabindex="27"  ng-click="changePassword()" class="btn btn-primary">Update Password</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>