<aside data-ng-include=" 'views/css/specific.html' " ></aside>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-4 registeration " >
            <div class="text-center">
                <h2>Create Your Password</h2>
                <br />
            </div>
            <form ng-submit="createpassword();" ng-init="clearFields();">
                <div ng-show="main.error_message" class="alert alert-danger">
                    {{main.error_message}}
                </div> 
                <div ng-show="main.alert" class="alert alert-success">
                    {{main.alert}}
                </div>
                <div class="form-group">
                     <input type="password"
                     class="form-control"
                     tabindex="2"
                     maxlength="32"
                     required
                     pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                     oninvalid="setCustomValidity('Password must contain Uppercase, Lowercase, Number/SpecialChar and minimum 8 characters.')"
                     onchange="try{setCustomValidity('')}catch(e){}"
                     placeholder="Enter Password"
                     data-ng-model="main.password"
                     >
                </div>
                <div class="clearfix"></div>
                <br class="clearfix" />
                <div class="text-center">
                    <button type="submit" tabindex="2" class="btn btn-info btn-orange">Save</button>
                </div>
          </form><br class="clearfix" />
            <section>
                <p class="text-center text-muted">Already have an account? <a tabindex="8" href="#/signin" >Log in now</a></p>
            </section>
        </div>
    </div>
</div>
