<aside data-ng-include=" 'views/css/specific.html' " ></aside>
<div class="container" ng-cloak>
    <div class="row">
        <div class="col-md-4 col-md-push-4 registeration " ng-init="getInviteUser()">
            <div class="text-center">
                <h2>60-Day Free Trial</h2>
                <p>Unlimited users, no credit card required</p><br/>
            </div>
            <form ng-init="clearFields();" ng-submit="signupSubmit()">
                <div ng-show="main.error_message" class="alert alert-danger">
                    {{main.error_message}}
                </div>


                <input type="hidden" data-ng-model="signup.roles" ng-init="signup.roles = 'USERS'" data-ng-value="signup.roles">
                <div class="form-group">
                    <input  type="text"
                        tabindex="1"
                        class="form-control"
                        placeholder="First name"
                        required
                        maxlength="32"
                        pattern="[A-Za-z]{2,32}"
                        data-ng-model="signup.first_name"
                        oninvalid="setCustomValidity('Please enter a valid first name.')"
                        onchange="try{setCustomValidity('')}catch(e){}"
                        >
                </div>

                <div class="form-group">
                    <input  type="text"
                        tabindex="2"
                        class="form-control"
                        placeholder="Last name"
                        required
                        maxlength="32"
                        pattern="[A-Za-z]{2,32}"
                        data-ng-model="signup.last_name"
                        oninvalid="setCustomValidity('Please enter a valid last name.')"
                        onchange="try{setCustomValidity('')}catch(e){}"
                        >
                </div>
                <div class="form-group">
                    <input type="email"
                        tabindex="3"
                        class="form-control"
                        placeholder="Email"
                        maxlength="32"
                        pattern="[aA-zZ0-9._%+-]+@[aA-zZ0-9.-]+\.[aA-zZ]{2,4}"
                        required
                        data-ng-model="signup.email"
                        oninvalid="setCustomValidity('Please enter a valid email.')"
                        onchange="try{setCustomValidity('')}catch(e){}"
                        >
                </div>
                <!-- <div class="form-group">
                    <input  type="tel"
                        tabindex="4"
                        class="form-control"
                        placeholder="Phone No"
                        maxlength="12"
                        required
                        pattern="\d{6,}$"
                        data-ng-model="signup.phone"
                        oninvalid="setCustomValidity('Please enter a valid phone number.')"
                        onchange="try{setCustomValidity('')}catch(e){}"
                        >
                </div>
                <div class="form-group">
                    <select tabindex="5"
                        class="form-control"
                        placeholder="Country"
                        data-ng-model="signup.country_id"
                        required
                        oninvalid="setCustomValidity('Please select Country.')"
                        onchange="try{setCustomValidity('')}catch(e){}"
                        ng-options="country.id as country.name for country in countries">
                        <option value="">Select Country</option>
                    </select>
                </div>
                <div class="form-group" ng-show="states">
                    <select tabindex="6"
                        class="form-control"
                        placeholder="State"
                        required
                        data-ng-model="signup.state_id"
                        oninvalid="setCustomValidity('Please select State.')"
                        onchange="try{setCustomValidity('')}catch(e){}"
                        ng-options="state.id as state.name for state in states">
                        <option value="">Select State</option>
                    </select>
                </div>
                <div class="form-group" ng-show="cities">
                    <select tabindex="7"
                        class="form-control"
                        placeholder="Country"
                        data-ng-model="signup.city_id"
                        required
                        oninvalid="setCustomValidity('Please select City.')"
                        onchange="try{setCustomValidity('')}catch(e){}"
                        ng-options="city.id as city.name for city in cities">
                        <option value="">Select City</option>
                    </select>
                </div> -->
                <div class="captcha">
                    <div class="checkbox ">
                        <label>
                            <input type="checkbox" required> Im not a robot</a>
                        </label>
                    </div>

                    <div class="capcha-div">
                        <img src="images/captcha.jpg" />
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- <div class="checkbox ">
                    <label>
                        <input type="checkbox" required> I have read and I agree to the <a href="#/privacy-policy">terms of use, privacy policy</a>
                    </label>
                </div> -->
                <br class="clearfix" />
                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-disable">Get Started</button>
                </div>
            </form>
        </div>
    </div>
</div>