header { background:#f7f0f0; margin:0 auto; padding:10px 0; text-align:center;}
.wrap { width:100%; max-width:100%;-webkit-filter: grayscale(100%);background: -webkit-linear-gradient(top, rgba(249,250,255,1) 0%,rgba(193,197,201,1) 18%,rgba(64,55,48,1) 100%,rgba(64,55,48,1) 100%);background: rgb(249,250,255);background: -moz-linear-gradient(top, rgba(249,250,255,1) 0%, rgba(193,197,201,1) 18%, rgba(64,55,48,1) 100%, rgba(64,55,48,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9faff', endColorstr='#403730',GradientType=0 );background: linear-gradient(to bottom, rgba(249,250,255,1) 0%,rgba(193,197,201,1) 18%,rgba(64,55,48,1) 100%,rgba(64,55,48,1) 100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); padding:70px 0;}
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9faff+0,c1c5c9+18,403730+100,403730+100 */
 /* Old browsers */
 /* FF3.6-15 */
 /* Chrome10-25,Safari5.1-6 */
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 /* IE6-9 */
.box-wrap { background:#231d1d;}
.box-left { margin:50px 0;}
.box-right { margin:80px 0; padding-left:50px;}
.social ul li { list-style:none; display:inline;}
.social ul li a img { padding-left:35px; max-width:100%;}
.right-a { color:#fff; font-family:"Times New Roman", Times, serif;}
.right-a h2 {}
#text,#pwd { width:60%; height:40px;}
.btn { width:60%; height:40px; padding:10px 40px;}
@media only screen and (max-width:768px){
	#text,#pwd { width:100%; height:40px;}
	.btn { width:100%; height:40px; padding:10px 40px;}	
	
	
	
}